@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body,html,header,footer,aside,nav,section,article,details,figure,figcaption,menu,div,dl,dd,ol,ul,li,form,fieldset,legend,iframe,table,caption,thead,tfoot,tbody,tr,th,td,h1,h2,h3,h4,h5,h6,dt,summary,input,textarea,button,select,datalist,img,embed,object,canvas,audio,video,meter,progress,keygen,a,label,output,dialog,address,blockquote,p,pre,span,b,strong,i,em,dfn,var,u,ins,s,del,q,mark,small,sub,sup,abbr,bdi,bdo,cite,time,rp,rt,code,kbd,samp,acronym,big,frame,frameset,noframes,tt,map,option,hr,*{border:0;padding:0;margin:0;color:inherit;font-size:inherit;line-height:inherit;vertical-align:top}
body{font-family:'Noto Sans KR','맑은고딕',Malgun Gothic,dotum,'돋음', arial, sans-serif;font-size:16px;overflow-y:auto;letter-spacing:-1.2px;color:#505050}
header,footer,aside,nav,section,article,details,summary,figure,figcaption,menu,command{display:block}
applet,basefont,dir,strike{display:none}
q,blockquote{quotes:none;content:none}
li,menu{list-style:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
caption{text-align:left}
th,td{text-align:center;vertical-align:middle}
address{font-style:normal}
label{display:inline-block;*zoom:1}
a{text-decoration:none;}
select{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand{display:none}

a:hover, a:active, a:focus{text-decoration:none;}

.blind{position:absolute;width:0;height:0;left:0;top:0;font-size:0;line-height:0;overflow:hidden}
.hidden{width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden} 
/* .blind를 적용할 수 없는 곳에 사용 (예, caption) */

em{font-style:normal;}
img{max-width:100%;}
fieldset {margin:0;padding:0;border:0;font-size:100%;}
legend {overflow:hidden;position:absolute;top:0;left:-10000%;width:1px;height:1px;font-size:0;line-height:0;text-indent:-10000px;}
button{cursor:pointer}

table td a{text-decoration:none;}
table td a:hover, table td a:active, table td a:focus{text-decoration:none;}
table th a{text-decoration:none;}
table th a:hover, table th a:active, table th a:focus{text-decoration:none;}

/* 공통 */
.textHidden{font-size:0;line-height:0;text-indent:-99999em}

.layerMenu{display:none}

.inner{padding:0 20px;}
.header{height:85px;background:rgba(0,0,0,.3)}
.header h1{padding-top:29px;width:135px;}
.header h1 img{display:block;width:100%}
.header .inner .gnb{display:none}
.header .util a{display:inline-block;font-size:12px;padding-left:10px;background:url(../images/blick_member.png) no-repeat 0 50%;background-size:9px auto;color:#9c9c9c}
.header .allMenu{position:absolute;width:31px;height:26px;background:url(../images/allMenu.png) no-repeat;background-size:100% auto;}

@media screen and(min-width:1600px){

    .header{height:142px}
    .header h1{padding-top:45px;}
    .header .inner .gnb{display:block}
}