@charset "utf-8";

@import url(common.css);

/* common */
.front{height:275px;background:url(../images/top_bg.png) no-repeat 50% 0;padding-top:40px;box-sizing:border-box}
.front .page_title{font-size:38px;color:#fff;line-height:1;text-align:center}
.front .location{margin-top:20px;text-align:center}
.front .location a, .front .location span{display:inline-block;color:#fff;}
.front .location span{margin-left:9px;padding-left:13px;position:relative;}
.front .location span:after{content:">";position:absolute;left:0;top:0}
.front .searchWrap{margin-top:33px}

.content{padding-bottom:187px}
.content.slim_fit{padding-bottom:0;}
.contents{overflow:hidden;}
h2.title{font-size:32px;color:#000;font-weight:bold;line-height:1;margin-top:80px;padding-bottom:33px;border-bottom:4px solid #e4e4e4;padding-left:12px}
h3.s_title{font-size:26px;color:#000;font-weight:bold}
.page_desc{line-height:30px;}
.title_desc{margin-top:20px;line-height:30px;}
.title_desc ~ .blick_title{margin-top:45px}
.blick_title ~ .dot_list{margin-top:20px;margin-left:20px}
.blick_title{background:url(../images/ico_tit_blick.png) no-repeat 0 50%;padding-left:14px;font-weight:bold;color:#000;font-size:20px;margin-left:6px;}
.blick_title ~ .blick_title{margin-top:90px}
.blick_title02{padding-left:18px;background:url(../images/blick02.png) no-repeat 7px 50%;font-size:16px;color:#000;font-weight:bold;line-height:33px;display:block;}
.co_title{color:#024c6b;font-size:18px;font-weight:bold;margin-top:55px}
.co_title + .table_col{margin-left:0}
.warning_text{padding-left:30px;line-height:30px;position:relative;}
.warning_text:after{content:"";width:18px;height:18px;position:absolute;top:7px;left:0;background:url(../images/ico_waring.png) no-repeat;}
.section{padding:30px 0 0 15px;}
.btn_down{position:relative;padding:0 38px}
.btn_down:after{content:"";width:14px;height:15px;background:url(../images/ico_down.png) no-repeat;position:absolute;top:50%;left:87%;margin-top:-7px}

.table_row{margin:20px 0 0 20px;border-top:2px solid #000;}
.table_row th{background:#f7f7f7;color:#000;border-bottom:1px solid #e7e7e7;border-right:1px solid #e7e7e7;}
.table_row td{border-bottom:1px solid #e7e7e7;padding:12px 20px;text-align:left;}

.table_col{margin:20px 0 0 20px;position:relative;}
.table_col .btn_toggle{position:absolute;right:7px;top:-35px;cursor:pointer}
.table_col .btn_toggle.off{transform:rotate(-180deg);}
.table_col table{border-top:2px solid #252525;}
.table_col th{background:#f8f8f8;border-bottom:1px solid #e7e7e7;font-size:20px;color:#000;font-weight:bold;padding:17px 0;line-height:30px;}
.table_col th ~ th,
.table_col td ~ td{border-left:1px solid #e7e7e7;}
.table_col td{font-size:18px;color:#5d5d5d;padding:18px 0;border-bottom:1px solid #e7e7e7;}
.table_col .txt_left{text-align:left;padding-left:40px}
.table_col .deletion_text{margin-top:70px;line-height:33px;text-align:center;font-size:20px;font-weight:bold;color:#ababab}
.dot_list + .table_col{margin-top:20px;}

.file_root{display:inline-block;width:757px;height:40px;line-height:38px;box-sizing:border-box;padding-left:10px;border:1px solid #d9d9d9;margin-right:13px}
.inp_file input[type="file"]{opacity:0;position:absolute;top:0;right:0;cursor:pointer;}
.inp_file .btn_file{color:#878787;border:1px solid #dbdbdb;width:150px;height:38px;line-height:38px;border-radius:19px;text-align:center;display:inline-block;position:relative;}
.inp_file .btn_file span{display:inline-block;padding-left:30px;background:url(../images/ico_find.png) no-repeat 0 50%}

.tab_menu ~ div[class^="tab"]{display:none}
.tab_menu ~ div.tab01{display:block;}

.tab_type01{margin-top:44px;border-bottom:1px solid #dfdfdf;text-align:center;}
.tab_type01 ul{display:inline-block;font-size:0;}
.tab_type01 li{position:relative;display:inline-block;height:47px;margin:0 20px;padding-bottom:2px}
.tab_type01 li a{display:block;line-height:47px;padding:0 22px;font-size:22px;color:#717171;}
.tab_type01 li.on:after{content:"";position:absolute;width:100%;height:3px;left:0;bottom:-1px;background:#003b63;}
.tab_type01 li.on a{color:#003b63;font-weight:bold;}
.tab_type01 li.on a:after{content:"";position:absolute;left:50%;bottom:-19px;width:36px;height:18px;background:url(../images/menu_on.png) no-repeat;margin-left:-18px}

.tab_type02{border-bottom:1px solid #d2d2d2;margin:70px 0 50px}
.tab_type02 ul{font-size:0}
.tab_type02 li{display:inline-block;border:1px solid #d2d2d2;border-bottom:none}
.tab_type02 li ~ li{margin-left:-1px;}
.tab_type02 li a{display:block;font-size:18px;color:#767676;width:230px;height:54px;line-height:54px;background:url(../images/bg_tab_off.png) no-repeat 196px 50%;padding-left:25px;box-sizing:border-box;}
.tab_type02 li.on a{background:#00a37a url(../images/bg_tab_on.png) no-repeat 196px 50%;color:#fff;font-weight:bold}

.tab_type03{font-size:0;margin-top:10px;}
.tab_type03 li{width:50%;box-sizing:border-box;display:inline-block;border-top:1px solid #fff;border-bottom:1px solid #717171;}
.tab_type03 li.on{border-top:1px solid #717171;border-bottom:1px solid #fff;}
.tab_type03 li ~ li{border-left:1px solid #717171}
.tab_type03 li a{height:30px;line-height:30px;font-size:14px;color:#727272;display:block;text-align:center;}
.tab_type03 li.on a{font-weight:bold;color:#000}

.dot_list > li{position:relative;line-height:33px;padding-left:20px;font-size:18px;color:#3b3b3b}
.dot_list > li:after{content:"";width:4px;height:4px;background:url(../images/ico_blick03.png) no-repeat;position:absolute;left:0;top:13px;}
.table_col + .dot_list{margin-top:66px;}

.dot_list_small > li{position:relative;font-size:16px;color:#505050;padding-left:13px;line-height:25px;}
.dot_list_small > li:after{content:"";width:3px;height:3px;background:url(../images/ico_blick.png) no-repeat;position:absolute;left:0;top:10px;}
.dot_list_small.inlie_list > li{display:inline-block;margin-left:8px;}
.dot_list_small.inlie_list > li ~ li{margin-left:18px}

.link_home{position:relative;margin-left:20px;background:url(../images/ico_home.png) no-repeat 0 50%;padding:0 20px 0 31px;font-size:16px;color:#787878;}
.link_home:after{content:"";width:13px;height:13px;position:absolute;top:3px;right:0;background:url(../images/ico_link.png) no-repeat}

.keyword_area{line-height:40px;padding:15px 0;border-bottom:1px solid #dfdfdf;}
.keyword_area p{font-size:18px;color:#000;font-weight:bold;display:inline-block;}
.f_keyword{display:inline-block;padding:0 25px;height:40px;line-height:40px;border-radius:20px;background:#af9786;color:#fff;font-weight:bold;margin-right:23px;font-weight:400}
.keyword_area.result_all .total_num{float:right;}
.keyword_area .total_num{font-size:18px;color:#6e6e6e;}
.keyword_area .total_num b{color:#000;}
.keyword_area .sorting{float:right;}
.keyword_area .sorting .select{display:inline-block;position:relative;}
.keyword_area .sorting .select ~ .select{margin-left:25px;padding-left:16px;}
.keyword_area .sorting .select ~ .select:after{content:"";width:1px;height:18px;background:#c5c5c5;position:absolute;top:10px;left:0;}
.keyword_area .sorting .select select{font-size:14px;color:#000;padding:0 39px 0 6px;background:url(../images/bg_select03.png) no-repeat 96% 45%;height:37px;line-height:37px;}
.keyword_area .sorting .btn{width:72px;height:37px;line-height:37px;font-size:18px;color:#373737;display:inline-block;background:#e2e2e2;text-align:center;margin-left:15px;}

.badge{font-size:0}
.badge > span{display:inline-block;padding:0 15px;height:32px;line-height:32px;color:#fff;font-size:12px;border-radius:16px;text-align:center;box-sizing:border-box;min-width:73px;}
.badge > span ~ span{margin-left:7px;}
.badge > span.green{background:#5dab54}
.badge > span.brown{background:#847a6f}
.badge > span.black{background:#000}

.flag{margin-right:15px;font-weight:500}
.flag > span{display:inline-block;padding:0 15px;height:32px;line-height:32px;color:#fff;border-radius:16px;text-align:center;box-sizing:border-box;min-width:73px;}
.flag > span.green{background:#61c09c}

.tit_desc{margin-top:32px;font-size:20px;color:#000;font-weight:bold;padding:20px 0 20px 24px;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3}
.tit_desc .num{display:inline-block;position:relative;margin-left:24px;padding-left:21px;}
.tit_desc .num:after{width:1px;height:21px;background:#dfdfdf;content:"";position:absolute;top:50%;left:0;margin-top:-10px;}


.academic_list > li{padding:30px 0 30px 20px;border-bottom:1px solid #efefef;position:relative;}
.academic_list .list_title{display:inline-block;margin-top:17px;line-height:30px;font-size:20px;color:#000;font-weight:bold}
.academic_list .list_title:hover{text-decoration:underline}
.academic_list .inlie_list{margin-top:20px}
.academic_list .badge{display:inline-block;margin:15px 0 0 13px}
.academic_list .btn_view{position:absolute;right:5px;bottom:22px;height:44px;line-height:44px;padding:0  24px 0 43px;background:#bebebe url(../images/ico_plus.png) no-repeat 17px 50%;border-radius:22px;color:#fff;font-weight:bold}

.txt_link, .txt_link:hover{text-decoration:underline}

.btn_box{text-align:center;font-size:0;margin-top:30px;}
.btn_box a{display:inline-block;font-size:18px;color:#024c6b;font-weight:bold;width:181px;height:50px;line-height:50px;text-align:center;border:1px solid #024c6b;border-radius:25px;margin:0 20px;}

/* login */
.login_wrap{padding-top:122px;text-align:center;}
.login_wrap .title{display:block;font-size:18px;color:#000;font-weight:bold;}
.login_from{display:inline-block;margin-top:35px}
.login_from .inp{width:425px;height:51px;border:1px solid #cecece;padding-left:70px;box-sizing:border-box;}
.login_from .inp input{width:100%;height:49px;line-height:49px;border:none;display:block;}
.login_from .inp_id{background:url(../images/icobg_ld.png) no-repeat 24px 50%}
.login_from .inp_pw{background:url(../images/icobg_pw.png) no-repeat 26px 50%;margin-top:9px}
.login_wrap .btn_login{display:block;color:#fff;background:#41998b;font-size:22px;text-align:center;height:61px;line-height:61px;margin:40px auto 0;width:427px}
.login_wrap .info_txt{margin-top:75px;color:#626262;font-size:18px;position:relative;padding-left:23px;display:inline-block}
.login_wrap .info_txt:after{content:"※";position:absolute;top:0;left:0;}
.login_wrap .btn_customer{display:block;margin:25px auto 0;font-size:18px;color:#024c6b;text-align:center;font-weight:bold;width:251px;height:50px;line-height:50px;border:1px solid #024c6b;border-radius:25px}


/* 신청 */
.content .btn_group{margin:40px -20px 0;text-align:center;font-size:0;}
.content .btn_group a{display:inline-block;margin:0 20px;font-size:20px;color:#fff;font-weight:bold;width:380px;height:62px;line-height:62px;box-sizing:border-box;border-radius:31px;text-align:left;}
.content .down_paper{background-color:#f18151;}
.content .down_paper span{display:inline-block;padding-left:40px;background:url(../images/btnico01.png) no-repeat 0 50%;}
.content .down_data{background-color:#024c6b;}
.content .down_data span{display:inline-block;padding-left:40px;background:url(../images/btnico02.png) no-repeat 0 50%;}
.content .down_metadata{background-color:#63c29e;}
.content .down_metadata span{display:inline-block;padding-left:40px;background:url(../images/btnico03.png) no-repeat 0 50%;}
.content .customer_info{margin-top:70px;text-align:center;font-weight:bold;}
.content .customer_info > span{display:inline-block;font-weight:bold;color:#000;}
.content .customer_info .blick_text{position:relative;padding-left:18px;}
.content .customer_info .blick_text:after{content:"※";position:absolute;top:0;left:0;}
.content .customer_info .tel{margin-left:27px;padding-left:24px;background:url(../images/ico_tel.png) no-repeat 0 50%}
.content .customer_info .mail{margin-left:27px;padding-left:24px;background:url(../images/ico_mail.png) no-repeat 0 50%;font-weight:bold;color:#000;}
.apply_sand{display:block;width:427px;height:62px;margin:38px auto 0;text-align:center;line-height:62px;color:#fff;font-size:22px;background:#41998b}

.group{position:relative;}
.group .title{font-size:32px;color:#000;font-weight:bold;line-height:1;margin-top:50px;padding:0 0 27px 15px;border-bottom:4px solid #e4e4e4;}
.group ~ .group .title{margin-top:85px}
.group .badge{display:block;margin:0;}
.group .title b{display:inline-block;position:relative;padding-right:33px;}
.group .title b:after{content:"";width:25px;height:3px;background:#000;position:absolute;right:0;bottom:0;}
.group .title .num{display:inline-block;font-size:18px;color:#24394b;font-weight:bold;padding:0 20px;line-height:35px;border:1px solid #818181;border-radius:18px;margin-left:5px;}
.group .more{padding-left:23px;background:url(../images/ico_more.png) no-repeat 0 50%;position:absolute;font-size:14px;color:#484848;top:26px;right:9px;line-height:1;}
.group .select{display:inline-block;border:1px solid #000;margin:14px 0 0 23px}
.group .select select{font-size:14px;color:#000;height:30px;line-height:30px;padding:0 39px 0 6px;background:url(../images/bg_select02.png) no-repeat 100% 0;}

/* society */
.society_list{margin:75px -35px 0;font-size:0;}
.society_list > li{margin:0 35px;width:600px;border:1px solid #e2e2e2;display:inline-block;padding:55px 55px 65px 40px;box-sizing:border-box;}
.society_list > li .title{font-size:26px;color:#000;font-weight:bold;line-height:35px;display:blcok;}
.society_list > li .eng_title{font-size:18px;color:#010101;font-weight:bold;line-height:32px;display:block;}
.society_list > li p{font-size:16px;line-height:26px;color:#505050;margin-top:10px}
.society_list > li .txt_right{margin-top:60px;text-align:right}
.society_list > li .line_title{display:block;font-weight:bold;color:#000;font-size:20px;position:relative;margin-top:30px;line-height:1;background:url(../images/bg_title.png) no-repeat 100% 50%}
.society_list > li .line_title:after{width:100%;height:2px;background:#cdcdcd;content:"";position:absolute;left:0;top:50%;margin-top:-1px}
.society_list > li .line_title span{display:inline-block;position:relative;z-index:5;background:#fff;padding-right:11px;}
.society_list > li .badge{display:block;margin-top:26px;}
.society_list > li .dot_list_small{margin-top:30px}

/* search */
.search_option{background:#449e8c;padding:35px 49px 35px 65px;}
.group_item{overflow:hidden;}
.group_item ~ .group_item{margin-top:30px}
.group_item .title{float:left;color:#fff;font-weight:bold;width:116px;line-height:32px;}
.group_item .option_item{float:right;margin:-6px 0;width:1050px;position:relative;left:-8px;}
.group_item .option_item a{display:inline-block;width:32px;height:32px;line-height:32px;text-align:center;border:1px solid #176e5d;color:#fff;font-weight:bold;margin:6px 8px;}
.group_item .option_item a.etc{width:82px}
.group_item .search_year{color:#fff;line-height:35px;}
.group_item .search_year input{width:109px;height:33px;line-height:33px;border:1px solid #fff;background:#7cbbaf;padding-left:12px;box-sizing:border-box;color:#176e5d;}
.group_item .search_year > span{display:inline-block;margin:0 10px}
.group_item .search_year .btn{width:41px;height:35px;background:#176e5d url(../images/ico_search03.png) no-repeat 50% 50%;display:inline-block;text-indent:-99999em;margin-left:7px;}

.detail_sorting{width:317px;float:left;border-right:1px solid #e0e0e0;box-sizing:border-box;padding:55px 49px 130px 0;}
.detail_sorting .s_title{background:#546f83;color:#fff;font-weight:bold;font-size:20px;display:block;height:44px;line-height:44px;text-align:center;}
.r_section{width:963px;float:right;box-sizing:border-box;border-left:1px solid #e0e0e0;margin-left:-1px;padding:0 0 100px 55px;}
.detail_sorting .chk_item{position:relative;padding-bottom:26px;border-bottom:1px solid #d7d7d7;}
.detail_sorting .ss_title{display:block;font-size:18px;color:#546f83;font-weight:bold;margin-top:28px;}

.dot_list_xsmall{margin-top:15px}
.dot_list_xsmall > li{background:url(../images/ico_blick.png) no-repeat 7px 50%;padding-left:17px;font-size:14px;line-height:30px;color:#000;position:relative;}
.dot_list_xsmall > li .del{position:absolute;right:0;top:3px;}
.detail_sorting .reset{position:absolute;top:-3px;right:0;background:url(../images/ico_reset.png) no-repeat 0 50%;line-height:24px;padding-left:30px;font-size:14px;color:#585858;}

.scroll_area{overflow-y:auto;height:120px;margin-top:25px;}
.scroll_area.scroll_size02{height:180px;}
.scroll_area .chk_list{margin-top:10px;}
.scroll_area .chk_list li{line-height:34px;color:#343434;padding-left:18px;}
.scroll_area .chk_list li label{display:inline-block;margin-left:8px;}
.scroll_area .chk_list li input{vertical-align:middle;width:14px;height:14px;position:relative;top:-2px}
.divider{display:block;width:100%;height:1px;background:#d7d7d7;margin-top:30px;}
.scroll_area::-webkit-scrollbar{width:6px;}
.scroll_area::-webkit-scrollbar-track{background-color:transparent;}
.scroll_area::-webkit-scrollbar-thumb{border-radius:3px;background-color:#cecece;}
.scroll_area::-webkit-scrollbar-button{width:0;height:0;}

.aside{width:317px;float:left;box-sizing:border-box;padding:0 34px 0 21px}
.aside_menu > li{position:relative;border-bottom:1px solid #d7d7d7;}
.aside_menu > li:after{content:"";width:14px;height:4px;background:url(../images/blick01.png) no-repeat;position:absolute;right:13px;top:50%;margin-top:-2px;}
.aside_menu > li >a{display:block;background:url(../images/blick02.png) no-repeat 8px 50%;color:#000;font-weight:bold;line-height:26px;padding:13px 0 13px 17px;}
.aside_menu > li.on:after{background:url(../images/aside_on.png) no-repeat;top:15px;right:9px;width:23px;height:23px;margin-top:0;}
.aside_menu > li.on .depth{display:block;}
.aside_menu .depth{display:none}
.aside_menu .depth > li{padding:8px 0;}
.aside_menu .depth > li a{display:block;line-height:20px;padding-left:22px;position:relative;color:#343434;}
.aside_menu .depth > li a:after{content:"";width:3px;height:3px;background:url(../images/ico_blick.png) no-repeat;position:absolute;left:8px;top:10px;}

.sub_title{padding:44px 0 66px;border-bottom:1px solid #e0e0e0;font-size:26px;color:#000;font-weight:bold;}
.sub_title .badge{margin-right:15px;}
.sub_title .eng{font-size:18px;color:#717171;font-weight:bold;margin-left:10px;vertical-align:bottom;}
.sub_title .depth_title{font-size:18px;margin-left:20px;padding-left:44px;background:url(../images/ico_round_arr.png) no-repeat 0 50%;line-height:33px;display:inline-block;position:relative;top:5px}

.r_section .table_col:first-child{margin-top:40px}

.disp_table{margin-top:20px}
.disp_table li{color:#505050;margin:10px 0;}
.disp_table li:after{background:url(../images/ico_blick.png) no-repeat;top:15px}
.disp_table li em{display:inline-block;width:165px;font-weight:bold}

.graph_area{position:relative;padding-top:100px;}
.graph_area .info{position:absolute;top:18px;right:18px;}
.graph_area .info span{display:block;font-size:13px;color:#000;position:relative;padding-left:40px;line-height:22px;}
.graph_area .info span:after{content:"";width:31px;height:4px;position:absolute;left:0;top:50%;margin-top:-2px;}
.graph_area .info .num:after{background:#ff7334;}
.graph_area .info .average:after{background:#66c3a0;}

.graph_box{position:relative;color:#8d8d8d;font-size:13px;}
.graph_box .balloon{border-radius:5px;border:1px solid #ff4031;padding:8px 20px 10px 13px;position:absolute;top:30px;left:640px;background:#fff;}
.graph_box .balloon:after{content:"";width:25px;height:17px;background:url(../images/bg_bollom.png) no-repeat;position:absolute;left:65px;bottom:-16px}
.graph_box .balloon b{color:#000;display:block;}

.pos_wrap{position:relative;margin-top:120px;}
.btn_desc_view{padding:0 25px 0 46px;line-height:50px;color:#fff;background:#595959 url(../images/ico04.png) no-repeat 22px 50%;position:absolute;top:-16px;right:0;}

.view_info{font-size:0;margin:90px 0 120px;}
.view_info > div{display:inline-block;height:153px;box-sizing:border-box;width:calc(100% / 3);padding:32px 33px 0 0;text-align:right;}
.view_info > div ~ div{border-left:1px solid #eaeaea;}
.view_info > div.detail{background:url(../images/ico01.png) no-repeat 34px 20px;}
.view_info > div.down{background:url(../images/ico02.png) no-repeat 34px 20px;}
.view_info > div.out_link{background:url(../images/ico03.png) no-repeat 34px 20px;}
.view_info > div em{font-size:18px;color:#8d8d8d;display:block;line-height:23px;}
.view_info > div strong{font-size:40px;line-height:1;display:block;margin-top:30px;color:#000}

