@charset "utf-8";

@import url(common.css);

.main_front{background:url(../images/main_bg.jpg) no-repeat 50% 0;font-size:0;position:relative;height:993px;}
.main_front .left{padding-top:100px;width:342px;height:870px;display:inline-block;box-sizing:border-box}
.main_front .subTit{display:block;font-size:18px;color:#000;font-weight:300;line-height:30px}
.main_front .subTit .font_r{font-size:22px;color:#2a2e43;font-weight:400;}
.main_front .left .title{display:inline-block;font-weight:normal;margin-top:48px;font-size:140px;color:#2a2e43;line-height:1;padding-bottom:32px;border-bottom:2px solid #3db166;font-weight:100}
.main_front .left .desc{display:block;font-size:18px;color:#636363;line-height:36px;margin-top:65px}
.main_front .right{position:relative;width:935px;height:870px;display:inline-block;box-sizing:border-box;padding:188px 0 0 32px}
.main_front .right > .txt{display:block;font-size:140px;color:#fff;font-weight:300;text-transform:uppercase;line-height:1}
.main_front .right .btns{position:absolute;top:120px;right:2px;}
.main_front .right .btns a{display:block;position:relative;width:230px;height:203px;color:#fff;border-radius:20px;box-shadow:0 38px 40px rgba(0,0,0,.29);padding:40px 0 0 35px;box-sizing:border-box}
.main_front .right .btns a:after{content:"";position:absolute;top:40px;right:27px;width:58px;height:58px;background:url(../images/btn_ico01.png) no-repeat}
.main_front .right .btns a:nth-child(1){background:#003a63}
.main_front .right .btns a:nth-child(2){background:#05122c;}
.main_front .right .btns a:nth-child(3){background:#382288}
.main_front .right .btns a ~ a{margin-top:36px}
.main_front .right .btns a strong{display:block;font-size:40px;line-height:58px;font-weight:300;text-transform:uppercase;}
.main_front .right .btns a > span{font-size:18px;line-height:28px;display:block;margin-top:10px}
.main_front .right .btns a .t_monsori{vertical-align:middle;}
.main_front .btn_apply{position:absolute;top:639px;left:3px;width:434px;height:99px;line-height:99px;color:#fff;box-shadow:0 38px 40px rgba(0,0,0,.29);background:#18974e;border-radius:50px;font-size:28px;font-weight:300;box-sizing:border-box;padding:0 74px 0 51px;}
.main_front .btn_apply span{display:block;position:relative;}
.main_front .btn_apply span:after{content:"";position:absolute;top:38px;right:0;width:32px;height:25px;background:url(../images/btn_apply.png) no-repeat 100% 50%;}

.round_badge{display:inline-block;}
.round_badge > span{display:inline-block;width:65px;height:65px;border-radius:50%;background:#fff;box-sizing:border-box;padding:17px 0;text-align:center;line-height:1;font-weight:bold;}
.round_badge .orange{color:#f26522;border:1px solid #f26522;}
.round_badge .black{color:#404040;border:1px solid #404040;}

.main_best{background:#f1f1f1;overflow:hidden;padding:93px 0 75px}
.society{padding-top:39px;width:267px;margin-right:34px;float:left;}
.society li{border-top:1px solid #d3d3d3;padding:43px 0 48px 4px;display:table;position:relative;}
.society li:last-child{border-bottom:1px solid #d3d3d3}
.society li .round_badge{display:table-cell;}
.society li .txt_title{display:table-cell;padding-left:16px;}
.society li .title{font-weight:bold;color:#060606;font-size:22px;display:block;}
.society li .title_eng{font-size:14px;color:#555;line-height:16px;display:block;margin-top:10px;}
.society li .link{position:absolute;right:15px;bottom:19px}

.thesis{float:right;}
.thesis li{width:310px;height:394px;display:inline-block;background:#fff;border-radius:32px;box-shadow:0 3px 18px rgba(0,0,0,0.09);text-align:center;padding-top:45px;box-sizing:border-box;}
.thesis li ~ li{margin-left:20px}
.thesis li .top > span{font-weight:bold;font-size:18px;text-decoration:underline;text-transform:uppercase;display:inline-block;}
.green_line{color:#18974e;}
.blue_line{color:#2a5daa;margin-left:16px}
.thesis li .title{font-size:26px;color:#000;margin-top:20px;line-height:1;display:block;}
.thesis li .num{margin-top:38px;display:block;}
.thesis li .num span{display:inline-block;line-height:24px;padding:0 13px;border:1px solid #dadada;border-radius:12px;color:#737373}
.thesis li .num strong{display:block;font-size:42px;color:#000;line-height:1;margin-top:20px}
.thesis li .company{margin-top:26px;line-height:28px;color:#707070;display:block;}
.thesis li .tel{font-weight:bold;color:#707070;line-height:28px;display:block;text-transform:uppercase;}

.main_content{overflow:hidden;padding:50px 0 80px;}
.scholarship_thesis{float:left;width:824px;position:relative;}
.scholarship_thesis .title{color:#2a2a2a;font-weight:bold;font-size:24px;}
/* 201209 수정 */
/* .scholarship_thesis .flag{display:inline-block;}
.scholarship_thesis .flag > span{display:inline-block;padding:0 18px;height:31px;line-height:31px;color:#fff;text-transform:uppercase;color:#fff;font-weight:bold;}
.scholarship_thesis .flag > span ~ span{margin-left:2px;}
.scholarship_thesis .flag .blue{background:#2a5daa}
.scholarship_thesis .flag .green{background:#5d9e37}
.scholarship_thesis ul{margin-top:28px}
.scholarship_thesis li{padding:27px 0 21px;}
.scholarship_thesis li ~ li{border-top:1px solid #e4e4e4;}
.scholarship_thesis li .title{font-size:22px;color:#252525;font-weight:bold;display:inline-block;margin-left:15px}
.scholarship_thesis li .info{margin-top:18px;display:block}
.scholarship_thesis li .info > span{display:inline-block;font-size:18px;color:#555;}
.scholarship_thesis li .info > span ~ span{margin-left:16px;padding-left:18px;position:relative;}
.scholarship_thesis li .info > span ~ span:after{width:1px;height:15px;background:#b7b7b7;content:"";position:absolute;top:7px;left:0;} */
.scholarship_thesis .more{position:absolute;top:-8px;right:0;}
.scholarship_thesis ul{margin-top:28px}
.scholarship_thesis .btn_view.on{background:#414141 url(../images/ico_x.png) no-repeat 17px 50%}
.scholarship_thesis .list_item{position:relative;border-bottom:1px solid #efefef;padding-bottom:20px}
.scholarship_thesis .view_content{padding:15px 25px 0;}
.scholarship_thesis > ul > li{padding:30px 0 30px 20px;border-bottom:1px solid #efefef;position:relative;}
.scholarship_thesis .list_title{display:block;margin-top:17px;line-height:30px;font-size:20px;color:#000;font-weight:bold}
.scholarship_thesis .list_title:hover{text-decoration:underline}
.scholarship_thesis .dot_list{margin-top:20px}
.scholarship_thesis .dot_list.inline_list > li{display:inline-block}
.scholarship_thesis .dot_list.inline_list > li ~ li{margin-left:30px}
.scholarship_thesis .btn_view{position:absolute;right:5px;bottom:22px;height:44px;line-height:44px;padding:0  24px 0 43px;background:#bebebe url(../images/ico_plus.png) no-repeat 17px 50%;border-radius:22px;color:#fff;font-weight:bold}

.badge{font-size:0}
.badge > span{display:inline-block;padding:0 15px;height:32px;line-height:32px;color:#fff;font-size:12px;border-radius:16px;text-align:center;box-sizing:border-box;min-width:73px;}
.badge > span ~ span{margin-left:7px;}
.badge > span.green{background:#5dab54}
.badge > span.brown{background:#847a6f}
.badge > span.black{background:#000}

.dot_list > li{position:relative;line-height:33px;padding-left:20px;font-size:18px;color:#3b3b3b}
.dot_list > li:after{content:"";width:4px;height:4px;background:url(../images/ico_blick03.png) no-repeat;position:absolute;left:0;top:13px;}
/* //201209 수정 */

.main_content .banner{float:right;}
.main_content .banner a{display:block;position:relative;}
.main_content .banner a ~ a{margin-top:7px}
.main_content .banner .context{position:absolute;top:50px;left:30px;}
.main_content .banner .context .title{color:#fff;display:block;font-size:28px;font-weight:bold;line-height:1;text-transform:uppercase;}
.main_content .banner .context .text{display:block;margin-top:12px;color:#fff;line-height:1;}

