@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}
ul, ol{list-style:none}
em{font-style:normal}
body{font-family:"Noto Sans KR"}
table,th,td{border:0;border-collapse:collapse;border-spacing:0}

html{width:100%;height:100%;min-width:1920px;/* min-height:960px; */}
body{overflow-y:auto;overflow-X:hidden;width:100%;height:100%;font-size:14px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#333}

#layout-container{width:100%;height:100%;min-width:1280px;display:block}
#layout-header{width:100%;height:70px;position:relative;font-size:18px;color:#4c4c4e;background-color:#fff;vertical-align:middle}
#logo_area{height:70px;padding-top:17px;box-sizing:border-box}
#logo_area .logo{display:inline-block;width:80px;height:34px;margin:0 15px 0 36px;background:url(../img/logo.png) no-repeat 50% 50%}
#logo_area .title{display:inline-block;height:34px;font-size:21px;color:#000;line-height:34px;font-weight:bold;vertical-align:top}

#date_area{position:absolute;right:138px;top:26px;color:#000;font-size:14px;height:21px;line-height:21px;border-right:1px solid #aaa;padding-right:20px;box-sizing:border-box;text-align:right}
#date_area div{display:inline-block}
#date_area div ~ div{margin-left:10px}

#logout_area{position:absolute;top:20px;height:24px;right:32px;cursor:pointer}
.logout_img{float:left;width:24px;height:30px;margin-right:4px;background:url(../../../images/web/header/logout.png) no-repeat center;background-size:24px 25px;}
.logout_title{float:left;letter-spacing:-0.4px;color:#4f5f6f;font-size:12px;text-transform:uppercase;height:30px;line-height:30px;border:1px solid #4f5f6f;width:80px;text-align:center}

#layout-body-left{float:left;width:225px;height:calc(100% - 64px);position:relative;border:0px}
#layout-gnb{position:relative;width:225px;height:100%;background-color:#001334}
#layout-gnb-menu{position:relative;width:225px;height:100%;overflow-y:auto}

#layout-body-right{float:left;width:calc(100% - 225px);height:calc(100% - 70px);position:relative;border:0px;box-shadow:inset 0 2px 8px #dfdfdf;background:#f4f4f4;padding:30px 40px 0 30px}
#layout-contents{position:relative;display:block;width:100%;height:100%}
#contents_area{position:relative;box-sizing:border-box;width:100%;height:100%;}
#contents_top_area{position:relative;width:calc(100% - 56px);min-width:1280px;margin:0 auto}
#title_area{height:72px;}
#title_area .title{font-size:21px;font-weight:600}
#title_area .title ~ .title{margin-left:10px;position:relative;padding-left:13px}
#title_area .title ~ .title:before{position:absolute;top:8px;left:0;width:3px;height:21px;background:#000;content:""}
#search_area{height:92px;margin:0;box-sizing:border-box;border:1px solid #c6c6c6;border-top:2px solid #4c6ea7;background-color:#ffffff}
#contents_bottom_area{width:calc(100% - 56px);min-width:1280px;height:calc(100% - 204px);margin:0 auto;margin-top:20px;margin-bottom:20px}
#list_area, #form_area{position:relative;float:left;width:100%;height:calc(100% - 28px);padding-bottom:50px;box-sizing:border-box;border:1px solid #cdcdcd;background:#fff;}
#list_area.half, #form_area.half{width:49.6%;}
#list_top_area, #form_top_area{height:100%;overflow-y:auto;}
#list_bottom_area{box-sizing:border-box;position:absolute;left:0;bottom:0;width:100%;height:50px;line-height:50px;border-top:1px solid #d8d8d8;background:#fff;text-align:center;padding:10px 0px}
#form_bottom_area{box-sizing:border-box;position:absolute;left:0;bottom:0;width:100%;height:50px;line-height:50px;border-top:1px solid #d8d8d8;background:#fff;text-align:center;padding:7px 0px}
#list_area.half{margin-right:.4%}
#form_area.half{margin-left:.4%}
#contents_bottom_left_area, #contents_bottom_right_area{position:relative;float:left;width:100%;height:100%;box-sizing:border-box;border:1px solid #cdcdcd;background:#fff;}
#contents_bottom_left_area{width:39.6%;margin-right:.4%;}
#contents_bottom_right_area{width:59.6%;margin-left:.4%;}	

body.sub #layout-container{padding:41px 0 0 0}
body.sub #layout-header #date_area{right:188px}
body.sub #layout-header #env_area{right:0px}

/* mac scrollbar:thumb에 border를 줘서 스크롤바영역에서 떨어져 있는 것처럼 보임*/
#layout-gnb-menu::-webkit-scrollbar{width:18px}
#layout-gnb-menu::-webkit-scrollbar-track{ background:none}
#layout-gnb-menu::-webkit-scrollbar-thumb{background-color:rgba(194, 228, 255, 0.5);border-left:2px solid transparent;border-right:2px solid transparent;border-radius:7px;background-clip:content-box}

#list_top_area::-webkit-scrollbar{width:18px}
#list_top_area::-webkit-scrollbar-track{ background:none}
#list_top_area::-webkit-scrollbar-thumb{background-color:rgba(194, 228, 255, 0.5);border-left:2px solid transparent;border-right:2px solid transparent;border-radius:7px;background-clip:content-box}

#form_top_area::-webkit-scrollbar{width:18px}
#form_top_area::-webkit-scrollbar-track{ background:none}
#form_top_area::-webkit-scrollbar-thumb{background-color:rgba(194, 228, 255, 0.5);border-left:2px solid transparent;border-right:2px solid transparent;border-radius:7px;background-clip:content-box}

.panel-container::-webkit-scrollbar{width:18px}
.panel-container::-webkit-scrollbar-track{ background:none}
.panel-container::-webkit-scrollbar-thumb{background-color:rgba(194, 228, 255, 0.5);border-left:2px solid transparent;border-right:2px solid transparent;border-radius:7px;background-clip:content-box}
