@charset "utf-8"; 

/* common */
.btn-down{width:30px;height:30px;text-indent:-9999em;background:url(../img/btn_down.png) no-repeat 50% 50%;position:absolute;top:10px;right:5px}

/* dashboard */
.realtime-status .top-area{font-size:0}
.realtime-status .left-area{width:530px;display:inline-block}
.realtime-status .box-area{border:1px solid #c7c7c7;background:#fff}
.realtime-status .box-area.charge{margin-top:20px}
.realtime-status .box-area .title-area{background:#f8f8f8;border-bottom:1px solid #c7c7c7;line-height:45px;padding-left:20px;font-size:16px;color:#000;font-weight:600;position:relative}
.realtime-status .box-area .title-area .side{float:right}
.realtime-status .flag{display:inline-block;vertical-align:1px;margin-left:7px}
.realtime-status .flag > span{display:inline-block;padding:0 15px;height:22px;line-height:22px;border-radius:11px;font-size:13px;color:#fff}
.realtime-status .flag > span.item-maximun{background:#f05959}
.realtime-status .flag > span.item-warning{background:#f8b551}
.realtime-status .left-area .cont-area{padding:28px 30px 26px}
.realtime-status .status-list li{display:inline-block}
.realtime-status .status-list li:nth-child(1){width:170px}
.realtime-status .status-list li:nth-child(2){width:180px}
.realtime-status .status-list li em{font-size:14px;color:#000;display:block;font-weight:600}
.realtime-status .status-list li strong{display:block;font-size:28px;color:#000;line-height:1;margin:10px 0 5px}
.realtime-status .status-list li strong span{font-size:14px;font-weight:normal;display:inline-block;margin-left:9px}
.realtime-status .status-list li .txt{font-size:13px;color:#ccc;display:block}
.realtime-status .status-list li .txt .minus{color:#1caae2}
.realtime-status .status-list li .txt .minus:after{content:"";display:inline-block;width:0;height:0;border-top:7px solid #1caae2;border-left:5px solid transparent;border-right:5px solid transparent;margin-left:5px}
.realtime-status .status-list li .txt .plus{color:#f00}
.realtime-status .status-list li .txt .plus:after{content:"";display:inline-block;width:0;height:0;border-bottom:7px solid #f00;border-left:5px solid transparent;border-right:5px solid transparent;margin-left:5px}

.realtime-status .right-area{display:inline-block;width:calc(100% - 550px);margin-left:20px;vertical-align:top}
.realtime-status .graph-area{height:321px}

.realtime-status .open-status{border:1px solid #c7c7c7;margin-top:20px;height:395px;font-size:0;background:#fff}
.realtime-status .open-status .open-status-summary{width:280px;height:393px;border-right:1px solid #c7c7c7;display:inline-block;text-align:center;background:#f8f8f8;padding-top:39px;box-sizing:border-box}
.realtime-status .open-status .open-status-summary > img{display:inline-block;margin:20px 0 24px}
.realtime-status .open-status .cont-area{width:calc(100% - 281px);display:inline-block;vertical-align:top;padding-top:90px;text-align:center}
.realtime-status .open-status .status-list{font-size:0}
.realtime-status .open-status .status-list li{width:50%;box-sizing:border-box}
.realtime-status .open-status .status-list li:first-child{border-right:1px solid #c7c7c7}
.realtime-status .open-status .status-list li .txt > span{display:block;text-align:center;font-weight:bold}
.realtime-status .open-status .stit{font-size:16px;font-weight:600}
/* .realtime-status .open-status-list{white-space:nowrap} */
.realtime-status .open-status-list .item{width:125px;display:inline-block;text-align:center;vertical-align:top}
.realtime-status .open-status-list .item ~ .item{margin-left:-5px}
.realtime-status .open-status-list .item .item-counter{display:inline-block;position:relative;width:65px;height:40px;border-radius:3px;background:#e5e5e5;font-size:14px;color:000;font-weight:bold;padding-top:15px;box-sizing:border-box}
.realtime-status .open-status-list .item .item-counter:after{content:"";position:absolute;top:-15px;left:calc(50% - 15px);display:inline-block;width:30px;height:31px}
.realtime-status .open-status-list .item.ing .item-counter:after{background:url(../img/ico-plug-green.png) no-repeat 50% 50%}
.realtime-status .open-status-list .item.standby .item-counter:after,
.realtime-status .open-status-list .item.bin .item-counter:after{background:url(../img/ico-plug-black.png) no-repeat 50% 50%}
.realtime-status .open-status-list .item.discharge .item-counter:after{background:url(../img/ico-plug-orange.png) no-repeat 50% 50%}
.realtime-status .open-status-list .item.trouble .item-counter:after{background:url(../img/ico-plug-gray.png) no-repeat 50% 50%}
.realtime-status .open-status-list .detail{margin-top:14px;border:5px solid #e5e5e5;border-bottom:0;position:relative;text-align:left;height:178px}
.realtime-status .open-status-list .detail:before{position:absolute;content:"";width:5px;height:14px;background:#e5e5e5;top:-19px;left:calc(50% - 2.5px)}
.realtime-status .open-status-list .item i{display:block;width:52px;height:38px;margin:15px auto 12px}
.realtime-status .open-status-list .item.ing i{background:url(../img/ico-car-green.png) no-repeat 50% 50%}
.realtime-status .open-status-list .item.standby i{background:url(../img/ico-car-black.png) no-repeat 50% 50%}
.realtime-status .open-status-list .item.bin i{background:url(../img/ico-car-gray.png) no-repeat 50% 50%}
.realtime-status .open-status-list .item.discharge i{background:url(../img/ico-car-orange.png) no-repeat 50% 50%}
.realtime-status .open-status-list .item.trouble .detail{padding-top:95px;font-size:13px;color:#000;background:url(../img/icon_warning.png) no-repeat 50% 52px;text-align:center}
.realtime-status .open-status-list .car-info{text-align:center;display:block}
.realtime-status .open-status-list .car-info .number{display:inline-block;font-size:13px;color:#fff;background:#111;line-height:21px;border-radius:11px;padding:0 9px;font-weight:bold}
.realtime-status .open-status-list .detail-list{margin-left:20px;font-size:13px;color:#000;line-height:18px;margin-top:10px}
.realtime-status .open-status-list .detail-list em{color:#aaa;margin-right:8px}

/* summary-group */
.summary-group{margin:20px -10px 0;font-size:0;}
.summary-group .item{display:inline-block;margin:0 10px;height:110px;border:1px solid #c7c7c7;box-sizing:border-box;padding:25px 0 20px 110px;background:#fff;color:#000;position:relative}
.summary-group .item:first-child:nth-last-child(3),
.summary-group .item:first-child:nth-last-child(3) ~ .item{width:calc(100%/3 - 20px)}
.summary-group .item:first-child:nth-last-child(4),
.summary-group .item:first-child:nth-last-child(4) ~ .item{width:calc(25% - 20px)}
.summary-group .item:first-child:nth-last-child(5),
.summary-group .item:first-child:nth-last-child(5) ~ .item{width:calc(20% - 20px)}
.summary-group i{position:absolute;top:25px;left:30px}
.summary-group em{display:block;font-size:14px;font-weight:600}
.summary-group strong{display:inline-block;font-size:28px;line-height:1;margin-top:6px}
.summary-group strong ~ strong{margin-left:20px}
.summary-group strong span{font-size:14px;font-weight:normal}

.profitability-total .bottom-area{font-size:0;margin:20px -10px 0;color:#000}
.profitability-total .bottom-area > div{border:1px solid #c7c7c7;height:345px;margin:0 10px;display:inline-block;background:#fff;vertical-align:top}
.profitability-total .arbitrage{width:calc(100%/3 - 20px)}
.profitability-total .peak{width:calc((100%/3)*2 - 20px);font-size:0}
.profitability-total .bottom-area .title{height:44px;border-bottom:1px solid #c7c7c7;font-size:16px;font-weight:600;color:#000;line-height:44px;padding-left:22px;background:#f8f8f8}
.profitability-total .bottom-area .result{display:table;width:calc(100% - 135px);margin:59px 65px 59px 70px;table-layout:fixed;height:70px}
.profitability-total .bottom-area .result i{display:table-cell;width:70px;text-align:center;vertical-align:middle}
.profitability-total .bottom-area .result em{display:table-cell;width:120px;font-size:18px;font-weight:600;vertical-align:middle}
.profitability-total .bottom-area .result strong{display:table-cell;text-align:right;font-size:36px}
.profitability-total .bottom-area .result strong span{font-size:14px;font-weight:normal}
.profitability-total .bottom-area .detail{background:#f8f8f8;height:110px;padding:25px 0;text-align:center;box-sizing:border-box}
.profitability-total .bottom-area .detail .item{width:50%;display:inline-block}
.profitability-total .bottom-area .detail .item ~ .item{border-left:1px solid #c7c7c7}
.profitability-total .bottom-area .detail .item .tit{color:#777;font-size:14px;font-weight:600;display:block}
.profitability-total .bottom-area .detail .item .tit span{color:#999}
.profitability-total .bottom-area .detail .item .tit.tit-green{color:#009e75}
.profitability-total .bottom-area .detail .item .tit.tit-orange{color:#eb6100}
.profitability-total .bottom-area .detail .item strong{display:block;font-size:28px}
.profitability-total .bottom-area .detail .item strong span{font-weight:normal;font-size:14px}
.profitability-total .bottom-area .in-section{width:50%;box-sizing:border-box;display:inline-block}
.profitability-total .bottom-area .in-section ~ .in-section{border-left:1px solid #c7c7c7}
.profitability-total .bottom-area .in-section .detail .item{width:60%}
.profitability-total .bottom-area .in-section .detail .item ~ .item{width:40%}

/* EV 현황 */
.car-info-list{margin-top:20px;overflow-x:auto}
.car-info-list .status-table{width:100%;white-space:nowrap;table-layout:fixed;background:#fff;border:1px solid #c7c7c7}
.car-info-list .status-table thead th{border-bottom:1px solid #c7c7c7}
.car-info-list .status-table th{vertical-align:middle;background:#f8f8f8}
.car-info-list .status-table th ~ th{border-left:1px solid #c7c7c7}
.car-info-list .status-table th span{display:block;padding:40px 0 12px;color:#000;font-size:13px;position:relative}
.car-info-list .status-table th span:after{width:27px;height:28px;content:"";position:absolute;top:8px;left:calc(50% - 13px)}
.car-info-list .status-table th .ing:after{background:url(../img/ico-plug-green.png) no-repeat;background-size:100% auto}
.car-info-list .status-table th .standby:after{background:url(../img/ico-plug-black.png) no-repeat;background-size:100% auto}
.car-info-list .status-table th .discharge:after{background:url(../img/ico-plug-orange.png) no-repeat;background-size:100% auto}
.car-info-list .status-table td{border-left:1px solid #c7c7c7;text-align:center;line-height:34px}

.ev-wrap{padding-bottom:20px}
.ev-wrap .operate_ev_area{margin-top:20px}
.ev-wrap .operate_ev_area .table_box .table_area.ev{table-layout:fixed;width:100%}
.ev-wrap .operate_ev_area .table_box .table_area tr th:last-child, 
.ev-wrap .operate_ev_area .table_box .table_area tr td:last-child{border-right-width:1px}
.ev-wrap .operate_ev_area .table_box .table_area.ev thead th{width:3%}
.ev-wrap .operate_ev_area .table_box .table_area.ev thead th:first-child{width:11%}
.ev-wrap .operate_ev_area .table_box .table_area.ev thead th:last-child{width:17%}
.ev-wrap .operate_ev_area .table_box .table_area.ev tbody:before{line-height:42px}
.ev-wrap .operate_ev_area .table_box .table_area.ev tbody td{height:47px}
.ev-wrap .operate_ev_area .table_box .table_area tbody td div.plugout{border-color:#666}
.ev-wrap .operate_ev_area .ico-ing{padding-top:61px;background:url(../img/ico-car-green.png) no-repeat 50% 20px}
.ev-wrap .operate_ev_area .ico-standby{padding-top:61px;background:url(../img/ico-car-black.png) no-repeat 50% 20px}
.ev-wrap .operate_ev_area .ico-discharge{padding-top:61px;background:url(../img/ico-car-orange.png) no-repeat 50% 20px}

.ev-wrap .operate_ev_area.tpye02{margin-top:0;border:0}
.ev-wrap .operate_ev_area.tpye02 .table_box .table_area thead{top:0;border-top:1px solid #99accd}
.ev-wrap .operate_ev_area.tpye02 .table_box .table_area thead th{width:3.5%;border-top:0}
.ev-wrap .operate_ev_area.tpye02 .table_box .table_area thead th:first-child{width:16%}
.contribution-table{margin-top:20px;height:583px;border:1px solid #d7d7d7;background:#fff}
.contribution-table .local_search_area{height:44px}
.ev-wrap .contribution-table .operate_ev_area{position:relative;height:539px;border:0}
.ev-wrap .contribution-table .operate_ev_area .table_box{height:100%}
.ev-wrap .contribution-table .operate_ev_area .table_box table{border:1px solid #d7d7d7;border-left:0}
.ev-wrap .contribution-table .operate_ev_area .table_box table *{border:0}
.ev-wrap .contribution-table .operate_ev_area .table_box thead{width:calc(100% - 9px);border-top:1px solid #d7d7d7}
.ev-wrap .contribution-table .operate_ev_area .table_box th{background:#f8f8f8;height:45px;border-bottom:1px solid #d7d7d7}
.ev-wrap .contribution-table .operate_ev_area .table_box th ~ th{border-left:1px solid #d7d7d7}
.ev-wrap .contribution-table .operate_ev_area .table_box td{height:45px;border:1px solid #d7d7d7}
.ev-wrap .contribution-table .operate_ev_area.tpye02 .table_box .table_area thead th{width:calc(100% - 150px)}
.ev-wrap .contribution-table .operate_ev_area.tpye02 .table_box .table_area thead th:first-child{width:150px}

.graph-area-ev{height:450px;border:1px solid #c7c7c7;margin-top:20px}
.ev-wrap .tableDataArea{margin-top:20px;height:auto}
.ev-wrap .table_box.anal_ev .data_list_table_scroll{width:100%;table-layout:fixed}
.ev-wrap .table_box.anal_ev .data_list_table_scroll thead th{background:#e5eaf2}
.ev-wrap .table_box.anal_ev .data_list_table_scroll tbody th{background:#fff}
.ev-wrap .table_box.anal_ev .data_list_table_scroll tbody tr.even th,
.ev-wrap .table_box.anal_ev .data_list_table_scroll tbody tr.even td{background:#eaeaea}

.ev-contribution-wrap{margin-top:20px;font-size:0}
.graph-area-ev-circle{width:805px;height:1158px;box-sizing:border-box;border:1px solid #d7d7d7;margin-right:20px;display:inline-block;position:relative;background:#fff}
.graph-popup{position:absolute;top:20%;left:20%;background:rgba(0,0,0,.7);padding:25px 55px 25px 20px;border-radius:10px}
.graph-popup:before{content:"";display:inline-block;width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid rgba(0,0,0,.7);position:absolute;top:calc(50% - 5px);left:-10px}
.graph-popup .title{font-weight:600;font-size:18px;color:#fff;}
.graph-popup .title span{display:inline-block}
.graph-popup .title span ~ span{position:relative;margin-left:18px;padding-left:18px}
.graph-popup .title span ~ span:before{content:"";width:1px;height:14px;background:rgba(255,255,255,.3);position:absolute;top:7px;left:0}
.graph-popup .dot-list{margin-top:10px}
.graph-popup .dot-list li{font-size:14px;padding:4px 0 4px 11px;position:relative}
.graph-popup .dot-list li:before{content:"";width:4px;height:4px;border-radius:2px;background:#989898;position:absolute;top:50%;left:0}
.graph-popup .dot-list li em{display:inline-block;color:#999;width:150px}
.graph-popup .dot-list li > span{display:inline-block;color:#fff}
.graph-popup .dot-list li > span strong{font-size:18px}

.contribution-right-area{width:calc(100% - 825px);display:inline-block;vertical-align:top}
.ev-group-contribution{border:1px solid #d7d7d7}
.ev-group-contribution .title-area{background:#f8f8f8;border-bottom:1px solid #c7c7c7;line-height:45px;padding-left:20px;font-size:16px;color:#000;font-weight:600;position:relative}
.graph-area-ev-stick{height:506px}

.graph-area-ev-circle02{height:362px;box-sizing:border-box;border:1px solid #d7d7d7;background:#fff;margin:20px 0}
.ev-wrap #contents_bottom_area{margin:0;min-height:300px;background:#fff;width:auto}