/* 회사소개 */
.company-intro-wrap{padding-top:70px;}
.company-intro-wrap .inner{position:relative; width:1000px; margin:0 auto;}
.company-family-site{overflow:hidden; position:absolute; bottom:50px; left:90px}
.company-family-site > li{float:left; padding:20px}

/* 이용약관 & 개인정보처리방침 (푸터메뉴) */
.terms-content-wrap{background-color:#f7f7f7; padding-top:70px; padding-bottom:100px; margin-bottom:-100px;}
.terms-content-wrap .inner{width:1000px; margin:0 auto; background:#fff; padding:50px}
.terms-content-wrap .inner h1{font-size:32px; font-weight:500; border-bottom:1px solid #999; padding:0 0 10px; margin:0 0 30px;}
.terms-content-wrap .tab-grid-span2 > li{text-align:center;}
.terms-content-wrap .tab-content{margin-top:30px}
.terms-form,
.terms-form h2,.terms-form h3,.terms-form h4{font-size:13px; font-weight:400; line-height:1.8;}
.terms-form h3 ~ .terms-tb{margin-top:20px;}
.terms-form p ~ h3,
.terms-form ul ~ h3,
.terms-form ul ~ p{margin-top:30px;}
.terms-form h3 + p{margin-top:0}
.terms-tb{width:100%;}
.terms-tb th,.terms-tb td{border:1px solid #333; padding:10px; vertical-align:middle; text-align:center;}
.privacy-form h4{margin-top:20px;}
/* 개인정보처리방침 팝업(배송업체/입점사) */
.li-shipper li{padding:0 0 10px;}

.terms-content-wrap .bl-list-type1  ~ .board-form{margin-top:10px}
.terms-content-wrap .board-form td{padding: 8px 10px 8px 10px;}
.terms-content-wrap .board-form ~ .terms-agree-area{margin-top:40px}

/*========================================================
 고객센터
========================================================*/
.top-search-box{background:#F8F8F8; border-radius:6px; padding:27px 60px}
.top-search-box .box-title{text-align:center; font-size:24px; margin-bottom:15px; font-weight:500;}
.top-search-box .input-group-wrap.box-type{background:#fff; margin-bottom:10px}
.top-search-box .sep-list li{color:#666}
.top-search-box .input-group .input-text{height:44px;}
.top-search-box .form-inline-list{padding-top:10px}
.top-search-box .form-inline-list li{margin-right:5px;}
.top-search-box ~ .list-title-area,
.top-search-box ~ .grid-area-span2{margin-top:80px}
.grid-area-span2 .list-title-area ~ .board-list{margin-top: 10px;}

.use-guide{margin-top:40px}
.use-guide ul{overflow:hidden}
.use-guide li{float:left; text-align:center; width:20%}
.use-guide li > a{display:block; width:100%; height:100%}
.use-guide li .txt{display:block;}

[class*="ico-use-guide"]{display:inline-block; height:40px; background-image:url("../images/icon/ico_cscenter.png");}
.ico-use-guide01{background-position:0 0; width:48px;}
.ico-use-guide02{background-position:-70px 0; width:49px;}
.ico-use-guide03{background-position:-140px 0; width:44px;}
.ico-use-guide04{background-position:-210px 0; width:37px;}
.ico-use-guide05{background-position:-270px 0; width:46px;}

.customer-info-box{background:#F8F8F8; border-radius:6px; padding:35px 30px; margin-top:46px}
.customer-info-box .info-list{text-align:center;}
.customer-info-box .info-list li{position:relative; display:inline-block; width:30%; vertical-align:top;}
.customer-info-box .info-list li:after{position:absolute; content:''; display:block; width:1px; height:20px; background:#ddd; top:10px; right:0;}
.customer-info-box .info-list li:last-child:after{content:none}
.customer-info-box .info-list li .txt{display:block;}
.customer-info-box .inner-box{background:#fff; padding:20px 0; border-radius: 4px; text-align:center; margin-top:28px;}
.customer-info-box .inner-box .tel{font-size:24px; font-family: 'Roboto'; font-weight:700;}

.time-list{text-align:center; margin-top:15px;}
.time-list li{display:inline-block; padding:0 15px 0 10px; position:relative;}
.time-list li:after{display:inline-block; content:''; width:1px; height:7px; background:#ddd; position:absolute; top:7px; right:0}
.time-list li:last-child:after{content:none;}

[class*="ico-cs-info"]{display:inline-block; height:32px; background-image:url("../images/icon/ico_cscenter.png");}
.ico-cs-info01{background-position:0 -50px; width:36px;}
.ico-cs-info02{background-position:-70px -50px; width:32px;}
.ico-cs-info03{background-position:-140px -50px; width:30px;}
.ico-qa-intro{display:inline-block; width:60px; height:55px; background:url("../images/icon/ico_cscenter.png") 0 -100px;}

.qa-intro-box{background:#F9F9F9; padding:44px 0; text-align:center;}
.qa-intro-box .inner .message{display:inline-block; vertical-align:top; margin-left:20px; line-height:31px; text-align:left;}

