/*========================================================
 프로모션
========================================================*/
/* 이벤트 */
.page-head ~ .event-list-wrap{margin-top:30px;}
.view-list-top{position:relative; margin-bottom:20px;}
.view-list-top .tit{display:inline-block; font-size:20px; font-weight:500; vertical-align:middle; margin-right:20px;}
.view-list-top .sep-list{display:inline-block; vertical-align:middle;}
.view-list-top .btn-option{position:absolute; top:0; right:0;}

.event-item{position:relative; }
.event-item .img{width:540px; height:170px; overflow:hidden; border-radius:3px;}
.event-item .txt{padding-bottom:10px; margin-top:10px;}
.event-item .txt .date{color:#999; font-size:14px; font-family:'Roboto';}
.event-item .txt .tit{font-size:18px; font-weight:500;}

.page-bottom{position:relative}
.page-bottom .right-area{position:absolute; top:0; right:0;}
.page-bottom .right-area .input-group-wrap{width:350px;}
.page-bottom .pagination{padding:9px 0}

.prev-list-bottom{border-bottom:1px solid #ccc;}
.prev-list-bottom .prev-list-tb{display:table; width:100%; table-layout:fixed;}
.prev-list-tb .list-tb-item{display:table-row}
.prev-list-tb .list-tb-item .cla-cell{display:table-cell; width:100px; padding:20px 0; text-align:center; border-top:1px solid #ccc}
.prev-list-tb .list-tb-item .tit-cell{display:table-cell; width:auto; padding:20px 0; border-top:1px solid #ccc}
.prev-list-tb .list-tb-item .tit-cell > a{display:block; max-width:90%; color:#666}
.prev-list-tb .list-tb-item .date-cell{display:table-cell; width:140px; padding:20px 0; text-align:center; border-top:1px solid #ccc; font-size:13px;}
.prev-list-tb .list-tb-item .date-cell .date{color:#666;}
.prev-list-tb .list-tb-item .cla-cell .txt{font-weight:700;}
.prev-list-tb .list-tb-item .cla-cell [class*="ico-arrfill-"]{margin-left:10px;}
.prev-list-tb .list-tb-item .cla-cell [class*="ico-arrfill-"]:after{border-width:5px 0 5px 6px;}

.event-list-wrap ~ .page-bottom{margin-top:60px;}
.prev-list-bottom ~ .page-bottom{margin-top:30px;}
.view-content-area ~ .prev-list-bottom{margin-top:80px;}

/******* 이벤트 퀴즈 *******/
.event-quiz{margin:40px auto 80px;text-align:center;margin-top:-20px}
.event-quiz .context{padding:40px 50px 60px;width:880px;margin:0 auto;text-align:left}
.event-quiz .context .quiz-item{background:#fff;border-radius:10px;padding:40px}
.event-quiz .context .q{padding-left:27px;position:relative;line-height:29px;font-size:20px}
.event-quiz .context .q:before{content:"Q.";font-weight:bold;position:absolute;top:0;left:0;line-height:29px;font-size:18px}
.event-quiz .context .q .hint{display:block;margin-top:6px;font-size:16px;color:#999;line-height:23px;text-align:center;padding-right:27px}
.event-quiz .context .txt {text-align:center;font-size:20px; font-weight: 500;line-height:28.96px;}
.event-quiz .context .txt span{color:#FF7F56}
.event-quiz .context .a{margin-top:20px;padding-left:27px;position:relative}
.event-quiz .context .a:before{content:"A.";font-weight:bold;position:absolute;top:0;left:0;line-height:29px;font-size:18px}
.event-quiz .context .a.text-type:before{top:0;line-height:50px}
.event-quiz .context .a .input-text{border-radius:2px;width:590px;font-size:16px}
.event-quiz .context .a .option-list li{text-align:center;padding-right:27px;font-size:16px;line-height:29px}
.event-quiz .context .a .option-list li ~ li{margin-top:16px}
.event-quiz .context .a .option-list li .custom-radio .radio + label{line-height:29px;padding-left:30px}
.event-quiz .context .a .option-list li .custom-radio .radio + label:before{top:3px;width:24px;height:24px}
.event-quiz .context .a .option-list li .custom-radio .radio:checked + label:after{width:11px;height:11px;top:9px;left:6.5px}
.event-quiz .btn-group{text-align:center;margin-top:16px}
.event-quiz .btn-group button:only-child{min-width:260px;font-size:15px}

.layer-wrap .layer-pop.quiz-complete{width:330px;border-radius:10px}
.layer-pop.quiz-complete .layer-inner .layer-content{padding:76px 0 12px;text-align:center;position:relative}
.layer-pop.quiz-complete .layer-inner .ui-close-pop{top:15px;right:15px}
.quiz-complete .layer-content:before{content:"";width:40px;height:40px;background:url(../images/icon/ico_quiz_complete.png) no-repeat 0 0;position:absolute;top:30px;left:calc(50% - 20px)}
.quiz-complete .layer-content em{display:block;line-height:23px;font-size:16px}
.quiz-complete .layer-content span{display:block;margin-top:2px;color:#666;font-size:13px}
.quiz-complete .btn-area{margin-bottom:26px;text-align:center}
.quiz-complete .btn-area .btn-grey2{background:#555;min-width:96px}

/************ 출석 *************/
.event-attend{padding-bottom:60px;text-align:center;margin-top:-20px}
.event-attend .context{background:#fff;border-radius:10px;margin:0 auto;padding:0 50px 40px;width:860px;position:relative;overflow:hidden}
.event-attend .context .date{display:block;font-size:20px;margin-top:7px;line-height:23px;text-align:left;width:60%}
.event-attend .context .state{font-size:20px;font-weight:bold;line-height:38px;text-align:left;width:60%}
.event-attend .context .btn-group{position:absolute;top:44px;right:76px}
.event-attend .front-area{background:#fafafa;padding:33px 50px 40px;margin:0 -50px}
.event-attend .calendar{margin-top:23px}
.event-attend .calendar .calendar-head{text-align:center;margin-bottom:10px}
.event-attend .calendar .calendar-head > div{margin:0 15px}
.event-attend .calendar .calendar-head *{display:inline-block;vertical-align:top}
.event-attend .calendar .calendar-head .prev{position:relative;padding:5px;width:27px;height:38px}
.event-attend .calendar .calendar-head .prev:after{content:"";position:absolute;top:12px;left:0;width:0;height:0;border-right:9px solid #333;border-top:7px solid transparent;border-bottom:7px solid transparent;border-left:9px solid transparent;border-radius:2px}
.event-attend .calendar .calendar-head .next{position:relative;padding:5px;width:27px;height:38px}
.event-attend .calendar .calendar-head .next:after{content:"";position:absolute;top:12px;left:8px;width:0;height:0;border-left:9px solid #333;border-top:7px solid transparent;border-bottom:7px solid transparent;border-right:9px solid transparent;border-radius:2px}
.event-attend .calendar .calendar-head .prev:disabled,
.event-attend .calendar .calendar-head .next:disabled{background:none !important}
.event-attend .calendar .calendar-head .prev:disabled:after{border-right-color:#ccc}
.event-attend .calendar .calendar-head .next:disabled:after{border-left-color:#ccc}
.event-attend .calendar .calendar-head em{line-height:38px;margin:0 12px;font-size:18px}
.event-attend .calendar .calendar-body table{width:100%}
.event-attend .calendar .calendar-body table thead th{font-size:20px;padding:25px 0}
.event-attend .calendar .calendar-body table thead th:first-child{color:#999}
.event-attend .calendar .calendar-body table tbody td{padding:8px;text-align:center;vertical-align:middle}
.event-attend .calendar .calendar-body table tbody td span{display:inline-block;width:74px;height:74px;line-height:74px;background:#f5f5f5;border-radius:50%;vertical-align:top;font-weight:bold;font-size:22px}
.event-attend .calendar .calendar-body table tbody td span.check-on{position:relative}
.event-attend .calendar .calendar-body table tbody td span.check-on:before{width:100%;height:100%;border-radius:50%;background:#ff7f56;position:absolute;top:0;left:0;content:""}
.event-attend .calendar .calendar-body table tbody td span.check-on:after{content:"";width:12px;height:24px;border-right:5px solid #fff;border-bottom:5px solid #fff;transform:rotate(45deg);position:absolute;left:30px;top:17px}
.event-attend .calendar .calendar-body table tbody td span.disable{background:none;color:#ccc}