/*========================================================
 전시
========================================================*/
/* aside category */
.frame-title{font-size:25px; font-weight:700;}
.frame-title ~ .aside-category{margin-top:30px}
.aside-category{width:165px;}
.exp-content .frame-cnt-inner{width:890px}

.category-sub-menu{border-top:1px solid #e6e6e6}
.category-sub-menu .category-tite{position:relative; display:block; padding:10px 15px; font-size:15px;}
.category-sub-menu .category-tite > strong{font-weight:500;}
.category-sub-sub-menu .category-tite .ico-arr-toggle{color:#999; position:absolute; top:15px; right:15px;}
.category-sub-list{border-bottom:1px solid #e6e6e6}
.category-sub-list > li{position:relative; margin-top:-1px;}
.category-sub-list > li:before{display:block; content:''; width:100%; height:1px; background:#e6e6e6;}
.category-sub-list > li > a{display:block; padding:10px 0 10px 28px}
.category-sub-list > li > a:hover{color:#FF6001}
.category-sub-list > li.current{background:#FF6001; z-index:1;}
.category-sub-list > li.current:before{background:#FF6001;}
.category-sub-list > li.current > a{color:#fff;}
.category-sub-list > li.current > a:before{display:inline-block; content:''; width:5px; height:2px; background:#fff; vertical-align:middle; margin-right:10px;}

.exp-dlv-bnr{padding-top:70px; text-align:center;}
.exp-dlv-bnr ~ .grid-list-wrap{margin-top:60px}

/* 신상품 */
.content-wrap .new-prd-bnr{padding-top:70px; text-align:center;}
.content-wrap .new-prd-bnr ~ .page-title-area{margin-top:60px;}

/* 이달의 특가 */
.scroll-select-bar{position:relative; z-index:2; background:#fff; width:100%; height:56px; border-bottom:1px solid #e6e6e6}
.scroll-select-bar .inner{position:relative; width:1110px; margin:0 auto; padding:10px 0}
.scroll-select-bar .inner .btn-link-txt2{position:absolute; top:17px; right:0; color:#666;}
.scroll-select-bar .inner .btn-link-txt2 .ico-arrfill-up:after{border-width: 5px 0 5px 6px;}
.scroll-select-bar.fixed{position:fixed; top:48px; left:0;}

.prd-event-slide{position:relative; padding:0 40px; margin:0 -40px}
.prd-event-slide .swiper-button-prev,
.prd-event-slide.swiper-button-next{z-index:3;}
.prd-event-slide:before{position:absolute; top:0; left:0; content:''; width:39px; height:100%; background:#fff; z-index:2;}
.prd-event-slide:after{position:absolute; top:0; right:0; content:''; width:39px; height:100%; background:#fff; z-index:2;}
.prd-event-slide .swiper-button-prev > .ico-arr-left,
.prd-event-slide .swiper-button-next > .ico-arr-right{width:32px; height:32px; color:#000}
.prd-event-slide .swiper-button-next{right:0;}
.prd-event-slide .swiper-button-prev{left:0;}

/**** select-nav-box ****/
.select-nav-box{display:inline-block; position:relative; min-width:260px; height:42px; vertical-align:top; z-index:2; text-align:left; max-width:100%; margin-top: -5px;}
.select-nav-box .select-nav-value{display:block; position:relative; height:100%; padding:10px 40px 9px 15px;  border: 1px solid transparent; font-size:15px; color:#666;  box-sizing:border-box; background:#fff}
.select-nav-box .select-nav-value > span{display:block; max-width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; word-break: break-all;}
.select-nav-box .select-nav-list{display:none; overflow-y:auto; position:absolute; top:41px; width:100%; max-height:300px; padding:0; border:1px solid #ccc; border-top:0; background:#fff; z-index:1}
.select-nav-box .select-nav-list.on{display:block;}
.select-nav-box .select-nav-list li{position:relative; background:#fff;}
.select-nav-box .select-nav-list li:first-child{border-top:0;}
.select-nav-box .select-nav-list li a{display:inline-block; width:100%; height:100%; background:#fff; padding:10px 15px; font-size:14px}
.select-nav-box .select-nav-list li.selected a,
.select-nav-box .select-nav-list li a:hover{background:#f8f8f8; color:#444;}
.select-nav-box .select-nav-value.toggle-on{border: 1px solid #ccc; background:#f2f2f2}
.select-nav-box .select-nav-value .ico-arr-toggle{position:absolute; right:20px; top:14px;}
.content-wrap .scroll-select-bar ~ .frame-sm{padding-top:70px;}
.content-wrap .tab-grid-span4 ~ .special-list-wrap{margin-top:30px;}
.content-wrap .special-list-wrap ~ .special-list-wrap{margin-top:60px;}
.content-wrap .special-list-wrap .special-prd-bnr{margin-bottom:30px; text-align:center;}
.board-list ~ .page-bottom{margin-top:30px;}


.side-tab-menu{display:inline-block;float:right;margin-top:18px}
.side-tab-menu li{display:inline-block;padding:0 10px}
.side-tab-menu li a{display:block;padding:0 8px;color:#999;font-size:18px}
.side-tab-menu li:last-child{padding-right:0}
.side-tab-menu li:last-child a{padding-right:0}
.side-tab-menu li.current a{color:#333}

/* 랭킹 */
.ranking-content .page-head{max-width:1100px;margin:0 auto 60px;border-bottom:1px solid #ccc;padding-bottom:10px}
.ranking-content .page-head:after{content:"";display:block;clear:both}
.ranking-content .page-head .title-area{display:inline-block;width:auto}
.ranking-content .page-head .tit{text-align:left}
/* .ranking-content .page-head + .frame-sm{margin-top:30px;}
.ranking-content .tab-menu + .ranking-swiper-tab{margin-top:45px;} */

/* .ranking-list{border-top:1px solid #ccc;} */
.ranking-list .rank-item{position:relative; padding:0 0 0 75px;border-bottom:1px solid #e6e6e6}
.ranking-list .rank-item [class*="number-rd-"]{position:absolute; top:50%; left:15px;font-size:22px;min-width:20px;text-align:center;line-height:1;padding-bottom:9px;transform:translateY(-50%);}
.ranking-list .rank-item:nth-child(-n+3) [class*="number-rd-"]{border-bottom:2px solid #333}
.ranking-list .rank-item .prd-info-area{padding:20px 0;}
.ranking-list .rank-item-notice .liner-box{padding:20px 0; text-align:center;}
.ranking-list .prd-brand{display:inline-block;font-size:13px;color:#333}
.ranking-list .tit{height:45px}
.ranking-list .prd-brand ~ .tit{margin-top:2px}
.ranking-list .prd-info-area .column.img a{display:block;border-radius:4px;overflow:hidden}

.btn-mix-group button{width:100px;height:36px;border-radius:50px;border:1px solid #e5e5e5;box-sizing:border-box}
.btn-mix-group button ~ button{margin-top:6px}
.btn-mix-group button span{display:inline-block;vertical-align:top}
.btn-mix-group button span:before{background:url("../images/icon/ico-btn-mix.png") no-repeat 0 0;display:inline-block;content:"";margin-right:5px;height:16px;width:17px;position:relative;top:1px}
.btn-mix-group .btn-newpage span:before{background-position:0 -16px}

.rating-simply{font-size:13px}
.rating-simply .total-num{color:#999;padding-left:2px;font-family:'Roboto'}
.rating-simply:before{content:"";display:inline-block;width:14px;height:14px;background:url(../images/icon/ico_rating.png) no-repeat 0 -20px;position:relative;top:2px;margin-right:2px}

.sorting-tab-menu{text-align:center;margin-top:60px}
.sorting-tab-menu ul{display:inline-block;font-size:0;}
.sorting-tab-menu li{width:200px;display:inline-block;position:relative}
.sorting-tab-menu li a{display:block;height:48px;line-height:48px;text-align:center;font-size:15px;border:1px solid #e6e6e6}
.sorting-tab-menu li.current a{color:#fff;background:#ff8237;border-color:#ff8237}
.sorting-tab-menu li.current:after{width:0;height:0;border-top:10px solid #ff8237;border-bottom:8px solid transparent;border-right:8px solid transparent;border-left:8px solid transparent;content:"";position:absolute;bottom:-16px;left:calc(50% - 8px)}

.sorting-tab-menu ~ .rank-list-wrap{margin-top:30px}

.sorts-rank-list > .sorts-item .in-box{display:block; border: 1px solid #ccc; border-radius: 5px;}
.sorts-rank-list > .sorts-item .in-box > .img{height:240px; overflow:hidden; text-align:center;}
.sorts-rank-list > .sorts-item .in-box > .img img{width:100%}
.sorts-rank-list > .sorts-item .in-box > .tit{padding: 12px 16px; border-top:1px solid #ccc}
.sorts-rank-list > .sorts-item.active .ui-accordion-click{display:none}
.thum-item-box{border:1px solid #ccc; padding:40px 50px}

.sorting-tab-menu ~ .rank-list-wrap{margin-top:30px}

.rank-guide{text-align:center; color:#666;}
.rank-guide + .frug-king-wrap{margin-top:30px}
.frug-king-wrap ~ .frug-king-wrap{margin-top:60px;}
.frug-king-tit ~ .frug-king-list{margin-top:30px;}
.frug-king-tit{text-align:center;}
.frug-king-tit .tit{font-size:20px; font-weight:400; }
.frug-king-tit .tit > i{margin:-2px 10px 0 0; vertical-align:middle;}
.frug-king-wrap{padding-top:60px; border-top:1px solid #e6e6e6}
.frug-king-list .btn-bottom-area{margin-top:50px;}

.frug-king-tab li{text-align:center}

.frug-king-list{margin-top:84px}
.frug-king-list .prd-item-list{counter-reset:section}
.frug-king-list .prd-item-list li{counter-increment:list-number;margin-top:70px;padding:0 12.5px}
.frug-king-list .prd-item-list li:before{content:counter(list-number);color:#666;height:23px;box-sizing:border-box;line-height:23px;font-size:20px;width:20px;text-align:center;display:inline-block;font-family:"Roboto";font-weight:bold}
.frug-king-list .prd-item-list li:nth-child(-n+3):before{color:#333;border-bottom:2px solid #333}
.frug-king-list .prd-item-list li:nth-child(-n+4){margin-top:0}
.frug-king-list .prd-info{height:23px;line-height:23px;display:inline-block;margin-left:15px;font-size:13px}
.frug-king-list .prd-info .num{font-weight:bold;font-family:'Roboto';font-size:18px}
.frug-king-list .prd-item{margin-top:12px}
.frug-king-list .prd-item .img{border-radius:0}
.frug-king-list .prd-item .bottom-flag{margin-top:8px}

.number-rk-box{border:1px solid #ccc; padding:3px; position:relative; margin-bottom:10px;}
.number-rk-box .brand-name{display:inline-block; max-width:175px; line-height:40px; font-size:15px; vertical-align:middle; padding-left:5px}
.number-rk-box .price{display:inline-block; line-height:40px; position:absolute; top:3px; right:20px; font-size:13px; color:#666;}
.number-rk-box .price .num{font-size:18px; font-family: 'roboto'; font-weight:700; color:#333}

.sorts-item-detail{max-width:1000px;margin:0 auto}
.sorts-item-detail .inner img{display:block;width:100%}

.page-head-benefit{text-align:center;margin-top:70px;height:43px;line-height:43px}
.page-head-benefit > *{vertical-align:top}
.page-head-benefit button{display:inline-block;color:#333;position:relative;font-size:18px}
.page-head-benefit button.btn-prev{padding-left:30px}
.page-head-benefit button:before{content:"";width:0;height:0;border-left:6px solid transparent;border-right:6px solid #333;border-bottom:4px solid transparent;border-top:4px solid transparent;position:absolute;left:0;top:calc(50% - 5px)}
.page-head-benefit strong{display:inline-block;font-size:30px}
.page-head-benefit button.btn-next{padding-right:30px}
.page-head-benefit button.btn-next:before{border-left:6px solid #333;border-right:6px solid transparent;right:0;left:100%}
.page-head-benefit strong{display:inline-block;font-size:30px;margin:0 45px}
.page-head-benefit button:disabled{color:#999}
.page-head-benefit button.btn-prev:disabled:before{border-right-color:#999}
.page-head-benefit button.btn-next:disabled:before{border-left-color:#999}

.benefit-visual{margin-top:30px}
.benefit-visual img{object-fit:cover;height:450px}

.benefit-section{width:860px;margin:120px auto 0;font-size:0;padding-bottom:60px;border-bottom:2px solid #666}
.benefit-template ~ .benefit-template{margin-top:80px}
.benefit-template .text-area{display:inline-block;width:50%;vertical-align:top;padding-top:24px}
.benefit-template .text-area .tit{display:block;font-size:24px;font-weight:500}
.benefit-template .text-area p{margin-top:10px;font-size:17px;color:#666;line-height:27px}
.benefit-template .relation-prod{display:inline-block;vertical-align:top;text-align:right;width:50%;margin-top:20px}
.benefit-template .relation-prod ul{margin:0 -7.5px}
.benefit-template .relation-prod li{display:inline-block;padding:0 7.5px}
.benefit-template .relation-prod li figure{display:block;width:130px;height:130px}
.benefit-template .relation-prod li figure img{display:block;width:100%}
.benefit-template .relation-prod .price{font-size:14px;line-height:1;display:block;margin-top:10px;text-align:left}
.benefit-template .relation-prod .price strong{font-size:18px;font-family:'Roboto'}
.benefit-template .relation-banner{margin:70px -10px -10px;font-size:0}
.benefit-template .relation-banner a{margin:10px;width:calc(50% - 20px);display:inline-block}

.benefit-section .author-area{text-align:center;margin-top:80px}
.benefit-section .author-area .author-say{font-size:24px;line-height:35px;position:relative;padding-top:60px}
.benefit-section .author-area .author-say:before{width:44px;height:44px;content:"";background:#333;border-radius:22px;position:absolute;top:0;left:calc(50% - 22px)}
.benefit-section .author-area .author-say:after{content:"";width:15px;height:12px;background:url(../images/img/img_quotes.png) no-repeat;position:absolute;top:16px;left:calc(50% - 8px)}
.benefit-section .author-area .author{margin-top:16px;display:block}
.benefit-section .author-area .author figure{display:inline-block;width:40px;height:40px;border-radius:20px;vertical-align:top;border:1px solid #e6e6e6;box-sizing:border-box;background:#efefef}
.benefit-section .author-area .author span{font-size:17px;color:#666;display:inline-block;vertical-align:top;line-height:40px;margin-left:14px}

.benefit-section ~ .comment-area{width:860px;margin:0 auto}
.comment-area{padding-top:20px;text-align:center}
.comment-area .tit-area{text-align:right;padding-bottom:10px}
.comment-area .tit-area:after{content:"";display:block;clear:both}
.comment-area .tit-area em{font-size:20px;float:left}
.comment-area .tit-area .side-text{display:inline-block;padding-top:5px}
.comment-area .comment-write{border:1px solid #ccc;border-radius:4px;padding:15px;font-size:0;height:122px;box-sizing:border-box}
.comment-area .comment-write textarea{border:0;display:inline-block;width:calc(100% - 135px);resize:none;height:90px;font-size:14px}
.comment-area .comment-write button{display:inline-block;width:120px;height:90px;background:#333;font-size:16px;color:#fff;border-radius:3px;margin-left:15px}
.comment-area .comment-list{margin-top:20px}
.comment-area .comment-list li ~ li{margin-top:15px}
.comment-area .comment-list li{font-size:0;position:relative;text-align:left}
.comment-area .comment-list li .author{display:inline-block;width:115px;font-size:14px;vertical-align:top;line-height:50px}
.comment-area .comment-list li .date{position:absolute;color:#767676;top:0;right:15px;line-height:50px}
.comment-area .comment-list li .text-area{display:inline-block;width:calc(100% - 125px);font-size:14px;border:1px solid #f5f5f5;border-radius:3px;background:#f8f8f8;position:relative;margin-left:10px;box-sizing:border-box;padding:15px 15px 15px 50px}
.comment-area .comment-list li .text-area:after{content:"";width:10px;height:10px;border-radius:3px;border:1px solid #f5f5f5;background:#f8f8f8;border-right:0;border-bottom:0;transform:rotate(-45deg);position:absolute;top: 18px;left:-6px}
.comment-area .comment-list li .admin-text{font-size:13px;padding-left:18px;background:url(../images/img/bg_admin_text.png) no-repeat 0 5px;line-height:22px;margin:20px 0 15px}
.comment-area .comment-list li .admin-text > em{font-weight:600;display:block}
.comment-area .btn-more{margin-top:40px}

/* 랭킹슬라이드탭 */
.ranking-swiper-tab,
.ranking-swiper-stab{padding:0 50px}
.ranking-swiper-stab{margin:60px auto 0;width:820px}
.ranking-swiper-tab:before,
.ranking-swiper-tab:after,
.ranking-swiper-stab:before,
.ranking-swiper-stab:after{display:block; content:''; width:50px; height:100%; position:absolute; top:0; background:#fff; z-index:2;}
.ranking-swiper-tab:before,
.ranking-swiper-stab:before{left:0;}
.ranking-swiper-tab:after,
.ranking-swiper-stab:after{right:0;}
.ranking-swiper-tab .inner,
.ranking-swiper-stab .inner{text-align:center;}
.ranking-swiper-tab .inner a,
.ranking-swiper-stab .inner a{display:block}
.ranking-swiper-tab .inner .txt,
.ranking-swiper-stab .inner .txt{white-space:nowrap; display:block; margin-top:15px}
.ranking-swiper-stab .inner .txt{font-size:13px}
.ranking-swiper-tab .swiper-button-next .ico-arr-right,
.ranking-swiper-tab .swiper-button-prev .ico-arr-left,
.ranking-swiper-stab .swiper-button-next .ico-arr-right,
.ranking-swiper-stab .swiper-button-prev .ico-arr-left{width:32px; height:32px;}

[class*="img-cate-icon"]{display:inline-block;width:64px;height:64px;background:url('../images/icon/ico_rank_cate.png') no-repeat}
.img-cate-icon01{background-position:0 0}
.img-cate-icon02{background-position:0 -64px}
.img-cate-icon03{background-position:0 -128px}
.img-cate-icon04{background-position:0 -192px}
.img-cate-icon05{background-position:0 -256px}
.img-cate-icon06{background-position:0 -320px}
.img-cate-icon07{background-position:0 -384px}
.img-cate-icon08{background-position:0 -448px}
.img-cate-icon09{background-position:0 -512px}
.img-cate-icon10{background-position:0 -576px}
.img-cate-icon11{background-position:0 -640px}
.img-cate-icon12{background-position:0 -704px}
.img-cate-icon13{background-position:0 -768px}
.ranking-swiper-tab li.current .inner .img-cate-icon01{background-position:-64px 0}
.ranking-swiper-tab li.current .inner .img-cate-icon02{background-position:-64px -64px}
.ranking-swiper-tab li.current .inner .img-cate-icon03{background-position:-64px -128px}
.ranking-swiper-tab li.current .inner .img-cate-icon04{background-position:-64px -192px}
.ranking-swiper-tab li.current .inner .img-cate-icon05{background-position:-64px -256px}
.ranking-swiper-tab li.current .inner .img-cate-icon06{background-position:-64px -320px}
.ranking-swiper-tab li.current .inner .img-cate-icon07{background-position:-64px -384px}
.ranking-swiper-tab li.current .inner .img-cate-icon08{background-position:-64px -448px}
.ranking-swiper-tab li.current .inner .img-cate-icon09{background-position:-64px -512px}
.ranking-swiper-tab li.current .inner .img-cate-icon10{background-position:-64px -576px}
.ranking-swiper-tab li.current .inner .img-cate-icon11{background-position:-64px -640px}
.ranking-swiper-tab li.current .inner .img-cate-icon12{background-position:-64px -704px}
.ranking-swiper-tab li.current .inner .img-cate-icon13{background-position:-64px -768px}

.ranking-swiper-stab [class*="img-cate-icon"]{width:50px;height:50px;background-size:100px auto}
.ranking-swiper-stab .img-cate-icon01{background-position:0 0}
.ranking-swiper-stab .img-cate-icon02{background-position:0 -50px}
.ranking-swiper-stab .img-cate-icon03{background-position:0 -100px}
.ranking-swiper-stab .img-cate-icon04{background-position:0 -150px}
.ranking-swiper-stab .img-cate-icon05{background-position:0 -200px}
.ranking-swiper-stab .img-cate-icon06{background-position:0 -250px}
.ranking-swiper-stab .img-cate-icon07{background-position:0 -300px}
.ranking-swiper-stab .img-cate-icon08{background-position:0 -350px}
.ranking-swiper-stab .img-cate-icon09{background-position:0 -400px}
.ranking-swiper-stab .img-cate-icon10{background-position:0 -450px}
.ranking-swiper-stab .img-cate-icon11{background-position:0 -500px}
.ranking-swiper-stab .img-cate-icon12{background-position:0 -550px}
.ranking-swiper-stab .img-cate-icon13{background-position:0 -600px}
.ranking-swiper-stab  li.current .inner .img-cate-icon01{background-position:-50px 0}
.ranking-swiper-stab  li.current .inner .img-cate-icon02{background-position:-50px -50px}
.ranking-swiper-stab  li.current .inner .img-cate-icon03{background-position:-50px -100px}
.ranking-swiper-stab  li.current .inner .img-cate-icon04{background-position:-50px -150px}
.ranking-swiper-stab  li.current .inner .img-cate-icon05{background-position:-50px -200px}
.ranking-swiper-stab  li.current .inner .img-cate-icon06{background-position:-50px -250px}
.ranking-swiper-stab  li.current .inner .img-cate-icon07{background-position:-50px -300px}
.ranking-swiper-stab  li.current .inner .img-cate-icon08{background-position:-50px -350px}
.ranking-swiper-stab  li.current .inner .img-cate-icon09{background-position:-50px -400px}
.ranking-swiper-stab  li.current .inner .img-cate-icon10{background-position:-50px -450px}
.ranking-swiper-stab  li.current .inner .img-cate-icon11{background-position:-50px -500px}
.ranking-swiper-stab  li.current .inner .img-cate-icon12{background-position:-50px -550px}
.ranking-swiper-stab  li.current .inner .img-cate-icon13{background-position:-50px -600px}

.sorts-rank-list > .sorts-item + .sorts-item{margin-top:20px}
.tab-menu ~ .rank-list-wrap{margin-top:30px;}


/* 1팩담기 */
.content-wrap .onepack-bnr{padding-top:70px;text-align:center;}
.content-wrap .onepack-bnr ~ .page-title-area{margin-top:60px;}

.onepack-list-wrap .inner-box{border:1px solid #ececec; border-top:0; padding:40px 60px}
.onepack-list-wrap .inner-box .box-head-top{margin-bottom:30px; overflow:hidden; padding:0 10px}
.onepack-list-wrap .inner-box .box-head-top .sep-list{float:right}

.onepack-layer-area{position:fixed; bottom:0; left:0; width:100%; z-index: 10;}
.onepack-layer-area .onepack-layer-box{position:absolute; bottom:-415px; left:50%; margin-left:-420px; width:840px; height:460px; background-color: #fff; box-shadow: 0 0 6px 0 rgb(0,0,0,.2); border: 1px solid #4d4d4d; border-bottom:0; border-radius:14px 14px 0 0; transition:bottom .2s; -webkit-transition:bottom .2s;}
.onepack-layer-area .onepack-layer-box.toggle-on{bottom:0;}
.onepack-layer-area .onepack-layer-box .ico-arr-toggle:before{transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.onepack-layer-area .onepack-layer-box .ico-arr-toggle:after{transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.onepack-layer-area .onepack-layer-box.toggle-on .ico-arr-toggle:before{transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.onepack-layer-area .onepack-layer-box.toggle-on .ico-arr-toggle:after{transform: rotate(45deg); -webkit-transform: rotate(45deg);}

.onepack-layer-box .box-head{position:relative; display:block; overflow:hidden; border-radius:12px 12px 0 0;  background: #333; padding:14px 20px; color:#fff}
.onepack-layer-box .box-head .message .ico-bl-save{margin:-1px 5px 0 0; vertical-align:middle;}
.onepack-layer-box .box-head .ico-arr-toggle{color:#fff; position:absolute; top:13px; right:20px; width:20px; height:20px;}
.onepack-layer-box .box-head .btn-onepack-toggle{position:absolute; top:0; left:0; width:100%; height:48px;}
.onepack-layer-box .box-content{position:relative; height:100%; padding-right:215px}
.onepack-layer-box .box-content .inner-scroll{height:412px; overflow-y:auto;}
.onepack-layer-box .box-content .right-bar{position:absolute; top:0; right:0; width:215px; height:calc(100% - 48px); background:#f7f7f7; padding:20px;}

.onepack-save-list li{padding:10px 20px}
.onepack-save-list li + li{border-top:1px solid #e6e6e6}
.onepack-save-list .prd-info-area .column.price{width:90px}

.onepack-price-list{display:table;}
.onepack-price-list > dt{display:table-caption; padding-bottom:10px; border-bottom:1px solid #ddd}
.onepack-price-list > dd{display:table-row;}
.onepack-price-list > dd > .tit{display:table-cell; position:relative; padding:6px 0; vertical-align:middle; width:40%; }
.onepack-price-list > dd > .tit .btn-icon-mark{vertical-align:middle; margin-top:-3px;}
.onepack-price-list > dd > .txt{display:table-cell; padding:6px 0; vertical-align:middle; width:60%; text-align:right;}
.onepack-price-list > dd > .txt .num{font-size:16px;}
.onepack-price-list > dd.total-line .tit{border-top:1px solid #ddd;}
.onepack-price-list > dd.total-line .txt{border-top:1px solid #ddd;}
.onepack-price-list > dd.total-line .num{font-size:20px;}
.onepack-price-list > dd > .tit .dlv-tipbox-top{display:none; position:absolute; top:-125px; left:65%; z-index:1; -webkit-transform:translateX(-50%); transform:translateX(-50%);}

.onepack-layer-box .right-bar .btn-area{position:absolute; bottom:20px; left:20px;}
.onepack-layer-box .right-bar .btn-area .btn-basic-md{width:calc(100% - 20px);}
.onepack-layer-box .right-bar .btn-area .btn-basic-md + .btn-basic-md{margin-top:5px;}

.best-prd-box-wrap{position:relative; margin:60px 0}
.best-prd-box-wrap .box-title-div{position:relative; text-align:center; margin-bottom:25px;}
.best-prd-box-wrap .box-title-div .swiper-pagination-line{position: relative; display: inline-block; white-space: nowrap; vertical-align: top; margin:10px 0 0 10px}
.best-prd-box-wrap .box-title-div .swiper-pagination-line .swiper-pagination-bullet{margin:0 3px}
.best-prd-box-wrap .box-tit{display:inline-block; font-size:28px; font-weight:400;}
.best-prd-box{position:relative; border:1px solid #e6e6e6; padding:30px 50px 45px}
.best-prd-box .best-prd-list [class*="imgbadge-dlv-"]{display:block;  margin-top:8px; }
.best-prd-box .best-prd-list .floating-rb{bottom:20px}

/* 레이어팝업 */
.layer-wrap .layer-pop.info-deail-pop{width:720px;}
.info-deail-pop .layer-head{padding:12px; border-bottom: 1px solid #ccc;}
.info-deail-pop .layer-inner .ui-close-pop{position:absolute; top:12px; right:12px; }
.info-detail-scroll{height:700px; overflow-y:scroll}


/* 특급배송 */
.exp-content .frame-sm{padding-top:70px}
.expdlv-bnr{width:100%; overflow:hidden}
.expdlv-bnr ~ .menu-title-area{margin-top:20px}