/* [팝업] 배송지 목록 */
.layer-pop.dlv-addr-wrap {width: 620px;} /* 20210514 높이값 수정 */
.layer-pop.dlv-addr-wrap .top-box {position: relative; font-size: 16px; line-height: 1.4; min-height: 86px; padding: 29px 70px 0 25px;}
.layer-pop.dlv-addr-wrap .top-box h4 {font-size: 17px; line-height: 1.4;}
.layer-pop.dlv-addr-wrap .top-box button[class^="btn-option"] {min-width: 125px;} /*20210528 버튼 틀어짐 현상 수정*/
.layer-pop.dlv-addr-wrap .mid-box {border-top: 1px solid #cacaca;}
.layer-pop.dlv-addr-wrap .bot-box {border-top: 1px solid #cacaca; padding: 26px 0 32px; text-align: center;}
.layer-pop.dlv-addr-wrap .bot-box .btn-basic-md{min-width:196px;}
.layer-pop.dlv-addr-wrap .ui-close-pop {top: 24px; right: 30px;}
.layer-pop.dlv-addr-wrap .top-box .info {color: #FF6001; font-size: 12px; margin-top:6px;}
.layer-pop.dlv-addr-wrap .top-box .info .ico-bl-info {margin: 2px 1px 0 0; vertical-align: top; }
.layer-pop.dlv-addr-wrap .top-box .btn-option {position: absolute; top: 27px; right: 90px;}

/* 배송지 목록 */
.dlv-addr-wrap .dlv-myaddr .mid-box {height: 474px; overflow-y: auto;}
.dlv-addr-wrap .myaddr-lst table {width:100%; table-layout:fixed; border-collapse:collapse;}
.dlv-addr-wrap .myaddr-lst th {background-color: #f8f8f8; border-bottom: 1px solid #cacaca; font-size: 14px; font-weight: normal; line-height: 40px; height: 40px;}
.dlv-addr-wrap .myaddr-lst td {border-bottom: 1px solid #e6e6e6; font-size: 13px; padding:18px 0; vertical-align: middle;}
.dlv-addr-wrap .myaddr-lst tr:hover td {background-color: #f7f7f7;}
.dlv-addr-wrap .myaddr-lst .col-chk, 
.dlv-addr-wrap .myaddr-lst .col-btn {text-align: center;}
.dlv-addr-wrap .myaddr-lst td .control button {display: block; margin: 0 auto;}
.dlv-addr-wrap .myaddr-lst td .control button + button {margin-top: 3px;}
.dlv-addr-wrap .myaddr-lst .addr-info {position: relative; padding-right: 84px; text-align: left;}
.dlv-addr-wrap .myaddr-lst .addr-info>p {line-height: 22px;}
.dlv-addr-wrap .myaddr-lst .addr-info>p+p {margin-top: 2px;}
.dlv-addr-wrap .myaddr-lst .addr-info .badge-point {margin-top: -1px; margin-left: 6px;}
.dlv-addr-wrap .myaddr-lst .addr-info .dlv-type {position: absolute; height: auto; top: calc(50% - 5.5px); right: 0;}

/* 배송지 추가 */
.dlv-addr-wrap .dlv-add .mid-box {background-color: #fafafa; padding: 24px 30px;}
.dlv-addr-table table{width:100%; table-layout:fixed; border-collapse:collapse;}
.dlv-addr-table th,
.dlv-addr-table td {font-size: 13px; text-align:left; padding:5px 0; vertical-align: middle;}
.dlv-addr-table th {color: #666;}
.dlv-addr-table .input-group ~ .input-text {margin-top:10px} /* 20210514 주소인풋 추가 수정 */
.dlv-addr-table .select-box .select-value {font-size: 13px;}
/* 공통화 필요 : 20210601 global.css에 추가함 */
/* .ico-bl-info {background-image: url(../images/icon/ico-bullet-info.png); display: inline-block; width:14px; height: 14px;} 
.btn-option .ico-plus {margin-top: -10px; vertical-align: middle;}
.btn-option i+span {margin-left: 4px;} */


/* 우편번호 찾기 팝업*/
.layer-pop.dlv-addr-wrap.srch-zip {width: 520px; height: 614px;}
.dlv-addr-wrap.srch-zip .srch-form {padding: 30px;}
.dlv-addr-wrap.srch-zip .srch-form .inner {position: relative; width: 100%; height: 60px; padding:0 70px 0 20px; background-color:#fff; border:1px solid #333;}
.dlv-addr-wrap.srch-zip .srch-form .inner input {width: 100%; height: 100%; background: #fff; box-sizing: border-box; border:0 none; color: #333; font-size: 17px; line-height: 60px; outline: 0;}
.dlv-addr-wrap.srch-zip .srch-form .inner .search-btn {position: absolute; top:19px; right: 20px;}
.dlv-addr-wrap.srch-zip .srch-form .inner .search-btn:after {width: 21px; height: 21px; background:url("../images/icon/ico_search.png");}
.dlv-addr-wrap.srch-zip .srch-result {height: 422px; overflow-y: auto; background-color: #f8f8f8; border-top: 1px solid #ccc; }
.dlv-addr-wrap.srch-zip .srch-guide {padding: 46px 30px; font-size: 12px; line-height: 20px;}
.dlv-addr-wrap.srch-zip .srch-guide p {font-size: 15px; font-weight: normal; margin-bottom: 15px;}
.dlv-addr-wrap.srch-zip .srch-guide .info {border: 1px solid #ccc; border-bottom: 0;}
.dlv-addr-wrap.srch-zip .srch-guide .info dl {display: table; width: 100%; border-bottom: 1px solid #ccc; font-size: 13px;}
.dlv-addr-wrap.srch-zip .srch-guide .info dt {display: table-cell; width: 24%; background: #f8f8f8; padding: 12px 20px;}
.dlv-addr-wrap.srch-zip .srch-guide .info dd {display: table-cell; width: 38%; background: #fff; color: #666; text-align: left; padding: 0 24px; border-left: 1px solid #ccc; vertical-align: middle; word-break: break-all; word-wrap: break-word;}

.srch-zip .result-list-area ul li {position: relative; border-bottom: 1px solid #e6e6e6; padding: 20px 30px;}
.srch-zip .result-list-area dl {overflow: hidden;}
.srch-zip .result-list-area dl dt {float:left; width: 40px; height: 20px; color:#fff; font-size: 11px; background-color:#999; border-radius: 1px; line-height: 20px; margin: 4px 12px 4px 0; text-align: center;}
.srch-zip .result-list-area dl dd {overflow: hidden; padding:4px 80px 4px 0; font-size: 13px; line-height: 20px;}
.srch-zip .result-list-area .zipcode {position:absolute; top:50%; margin-top:-10px; right:30px; font-size: 15px;}
.result-list-area ul ~ .pagination{margin:20px 0}