/*========================================================
 마이랭닭
========================================================*/
.aside-mypage{width:200px}
.frame-cnt-inner{width:820px;}
.list-title-area .btn-link-txt2,
.list-title-area .btn-basic-sm2{position:absolute; top:50%; right:0; transform:translateY(-50%); -webkit-transform:translateY(-50%);}

/* user-info */
.head-mypage{background: #F7F7F7;}
.user-info-box{width:1100px; margin:0 auto; background: #F8F8F8; text-align:center; padding:30px 0}
.user-info-box .inner{display:table;}
.user-info-box .inner > .column{display:table-cell; vertical-align:middle; background:#fff; padding:0 25px; text-align:left;}
.user-info-box .inner > .column.user-info{position:relative; width:588px; padding:25px}
.user-info-box .inner > .column.order,
.user-info-box .inner > .column.coupon,
.user-info-box .inner > .column.point{width:170px;}
.user-info-box .inner > .column + .column{border-left:4px solid #F8F8F8}
.user-info-box .user-info .img{display:inline-block; vertical-align:middle; margin-right:12px;}
.user-info-box .user-info .txt{display:inline-block; vertical-align:middle;}
.user-info-box .user-info .txt .greeting{font-size:20px; font-weight:400;}
.user-info-box .user-info .txt .greeting .name{font-weight:700}
.user-info-box .user-info .sep-list.type3 li{font-size:14px}
.user-info-box .user-info .sep-list.type3 li:before{margin-top:-3px;}
.user-info-box .user-info .level-tip{color:#ff6001; font-size:13px;}
.user-info-box .user-info .btn-default-ex{position:absolute; top:50%; right:35px; transform:translateY(-50%);border:2px solid #ddd}
.user-info-box .user-info .btn-default-ex > span{line-height:1.7}
.user-info-box .column > dt{color:#666; font-size:13px; margin-bottom:10px;}
.user-info-box .column > dd{color:#333; font-size:22px; font-weight:700;}
.user-info-box .column > dd .num{font-family:'Roboto'; font-size:28px;}
/* 간격 */
.user-info-box .user-info .txt .greeting ~ .sep-list.type3{margin-top:10px}
.user-info-box .user-info .txt .sep-list.type3 ~ .level-tip{margin-top:5px;}

.point-bnr-box .inner{display:table; width:100%; min-height:60px;}
.point-bnr-box .inner .txt{display:table-cell; width:650px; vertical-align:middle; text-align:center; background-color:#50535A; color:#fff; font-size:15px; padding:15px 25px;}
.point-bnr-box .inner .link{display:table-cell; width:170px; vertical-align:middle; text-align:center; background-color:#414347;}
.point-bnr-box .inner .txt strong{font-weight:700; font-size:16px;}
.point-bnr-box .inner .link > a{color:#fff; font-size:15px;}
.point-bnr-box .inner .link > a > span{margin-right:2px;}

/* 간격 */
.order-list-slide ~ .point-bnr-area{margin-top:40px;}

/* aside-menu */
.aside-menu{padding:10px 20px;  border:1px solid #E6E6E6;}
.aside-menu .menu-list > li{padding:15px 0; border-top:1px solid #eee}
.aside-menu .menu-list > li:first-child{border-top:0;}
.aside-menu .menu-list > li .menu{font-size:15px; color:#000}
.aside-menu .menu-list > li .depth2{margin-top:8px;}
.aside-menu .menu-list > li .depth2 > li{font-size:14px; color:#666;}
.aside-menu .menu-list > li .depth2 > li + li{margin-top:8px}
.aside-menu .menu-list > li .depth2 > li.current > a{color:#FF6001; font-weight:500}
.aside-link-box{border: 1px solid #E6E6E6; margin-top:20px; padding:18px 20px;}
.aside-link-box > a{display:block; position:relative; color:#000; font-size:15px;}
.aside-link-box > a .ico-bl-speaker{vertical-align:middle; margin-top:-3px; margin-right:8px;}
.aside-link-box > a .ico-arr-right{position:absolute; right:0; top:5px}
.aside-link-box > a [class*="ico-arr-"]:after,
.aside-link-box > a [class*="ico-arr-"]:before{background:#666}

 /* order-list */
.order-list-slide{border-top:1px solid #666;}
.order-list-slide .list-head{position:relative; padding:18px 0;}
.order-list-slide .list-head .date{display:inline-block; font-family:'Roboto'; font-size:20px; font-weight:700;}
.order-list-slide .list-head .order-num{display:inline-block; margin-left:5px; font-family:'Roboto'; font-size:15px; color:#666}
.order-list-slide .list-head .right{position:absolute; top:50%; right:0; transform:translateY(-50%); -webkit-transform:translateY(-50%);}

.order-swiper-list{position:relative; padding-bottom:25px;}
.order-swiper-list .swiper-pagination{bottom:0; line-height: 1;}
.order-content-box{border:1px solid #ccc; border-radius:5px; padding:20px;}
.order-content-box .order-state-bar{position:relative; border-radius:2px; background:#f5f5f5; padding:10px 8px; margin-bottom:15px;}
.order-content-box .order-state-bar .txt-state{color:#ff6001; font-weight:500; font-size:14px; margin-right:8px}
.order-content-box .addr-info-line{position:relative;  margin-top:20px; padding-top:20px}
.order-content-box .addr-info-line:before{position:absolute; top:0; left:-20px; width:calc(100% + 40px); height:1px; background:#eee; content:'';}
.order-content-box .addr-info-line p{color:#666}
.order-content-box .addr-info-line .btn-option{position:absolute; right:0; top:15px}

.order-list{border-top:1px solid #666; border-bottom:1px solid #ddd;}
.order-list > li{position:relative; padding:10px 0}
.order-list > li + li{ border-top:1px solid #eee;}

/* 상담문의 */
.box-grey-type1 .tit-box{font-size:16px;}
.box-grey-type1 .tit-box i{vertical-align:middle; margin:-3px 6px 0 3px}
.box-grey-type1 .tit-box .tel{color:#ff6001; font-weight:700; font-size:18px; font-family:'Roboto';}
.consulting-time{overflow:hidden; margin-top:5px;}
.consulting-time li{float:left; padding-left:10px; font-size:14px; line-height:24px; font-weight:500;}
.consulting-time li:before{display:inline-block; content:''; width:3px; height:3px; background:#333; margin:-3px 8px 0 -10px; border-radius:50%; vertical-align:middle;}
.consulting-time li:first-child{margin-right:25px;}
.consulting-time li.bl-none:before{content:none}
.consulting-time li .time{font-family:'Roboto'; font-size:16px; padding-left:10px;}

/* 주문내역 - 검색 */
.menu-title-area .input-group-wrap.box-type{width:200px; margin-top:-4px; border-radius:3px; overflow:hidden}
.menu-title-area .input-group-wrap.box-type .input-group{height:38px}

/* 검색박스 */
.search-box{padding:15px 18px; background: #F8F8F8;}
.search-box .search-head{position:relative; padding-right:80px; }
.search-box .search-head .searn-period{font-size:14px;}
.search-box .search-head .btn-link-txt2{position:absolute; top:0; right:0; color:#666}
.search-box .search-detail{padding-top:18px;}
.search-detail .radio-list ~ .period-setting{margin-top:15px;}
.search-detail .radio-list li{display:inline-block}
.search-detail .radio-list li + li{margin-left:9px}
.period-setting{border-top:1px solid #E4E4E4; padding-top:20px;}
/* 간격 */
.menu-title-area ~ .search-box{margin-top:15px;}
.search-box ~ .order-list-area{margin-top:35px;}
.order-list-area ~ .order-list-area{margin-top:50px;}

/* 결제정보 */
.my-payment-box{border: 1px solid #E9E9E9; border-top:1px solid #666}
.my-payment-box .total-pay-info{border-top:1px solid #E9E9E9; padding:15px 0}
.my-payment-box .each-pay-info{padding:20px 15px 25px;}
.my-payment-box .each-pay-info .colum{border-left:1px solid #E9E9E9; padding-left:25px}
.my-payment-box .each-pay-info .colum:first-child{border-left:0; padding-left:0;}
.my-payment-box .each-pay-info .colum .pay-info{padding-right:25px}
.my-payment-box .each-pay-info .colum:last-child .pay-info{padding-right:0}
.each-pay-info .pay-info > dt{color:#000; font-size:13px; font-weight:500; margin-bottom:15px;}
.each-pay-info .pay-info > dd{overflow:hidden;}
.each-pay-info .pay-info > dt .btn-icon-mark{vertical-align: middle; margin-top:-2px; margin-left:5px;}
.each-pay-info .pay-info > dd .tit{float:left; color:#666; font-size:13px;}
.each-pay-info .pay-info > dd .price{float:right; color:#000; font-size:14px;}
.each-pay-info .pay-info > dd .price .num{font-weight:500;}

.total-pay-info .inner{display:table; table-layout:auto; width:100%}
.total-pay-info .inner .column{display:table-cell; vertical-align:middle; text-align:center; font-size:14px;}
.total-pay-info .inner .column .num{font-size:18px; font-family:'Roboto'; font-weight:700;}
.total-pay-info .inner .column.price{max-width:160px; min-width:100px}
.total-pay-info .inner .column.sign [class^="ico-bl-"]{vertical-align:middle; margin-top:-5px}
.total-pay-info .inner .column.total{width:255px;}
.total-pay-info .inner .column.total .txt{font-size:15px}
.total-pay-info .inner .column.total .num{font-size:20px; color:#ff6001; padding-left:25px;}

/* 간격 */
.pay-info > dd + dd{margin-top:5px;}
.my-payment-box ~ .board-form{margin-top:0}

/* 쿠폰 */
.coupon-box .input-group{margin:0 auto}
.pagination ~ .box-grey-type2{margin-top:90px} 

/* 최근 본 상품 */
.ui-btn-compare.on{border:1px solid #93A0B5; background:#93A0B5; color:#fff}
.toast-pop{position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); width:340px; padding:15px 0; background:rgba(0, 0, 0, 0.8); border-radius:4px; text-align:center; z-index:100001;}
.toast-pop .message{color:#fff;}
.toast-pop .message .sub-txt{font-size:13px; margin-top:5px;}

.toast-box-wrap{z-index:100; position:fixed; content:''; display:block; top:0; left:0; width:100%; height:100%;  background:rgba(0, 0, 0, 0.8);}
.toast-box-pop{position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); width:340px; padding:15px 15px 15px 100px; border-radius:0; z-index:100001; background:#fff; border:1px solid #ddd; min-height:100px;}
.toast-box-pop .img{width:70px; height:70px; overflow:hidden; position:absolute; top:15px; left:15px;}
.toast-box-pop .message .txt{color:#999; font-size:13px;}
.toast-box-pop .message .sub-txt{font-size:14px; margin-top:5px; color:#333}

/* 비교담기 팝업 */
.compare-layer-pop{position:absolute; bottom:190px; height:1px; width:100% }
.compare-layer-pop.fixed{position:fixed; bottom:200px; left:0; width:100%; z-index: 1; height:1px; margin:0}
.container.pop-add-height{padding-bottom:230px}
.compare-layer-pop .inner-box{position:relative; width:276px; min-height:70px; margin:0 auto; background:#FFF; border:1px solid #E4E4E4; box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); padding:10px;}
.compare-layer-pop .inner-box .btn-black{width:100%;}
.compare-list{overflow:hidden; margin-bottom:7px}
.compare-list li{float:left; position:relative; width:80px; height:80px; overflow:hidden}
.compare-list li .btn-x-xs{position:absolute; top:0; right:0; z-index:1; background:#333; padding:4px 3px 5px 7px}
.compare-list li + li{margin-left:7px;}

/* 비교담기 옵션 선택, 장바구니 담기 팝업 */
.layer-wrap .layer-pop.option-select-pop{width:460px; background:#FFFFFF; box-shadow:0px 2px 10px rgba(0, 0, 0, 0.2); border-radius:10px; padding:30px;}
.option-select-pop .head-prd-item{min-height:60px; padding-right:40px}
.head-prd-item{border-bottom:1px solid #f2f2f2; padding-bottom:15px;}
.head-prd-item:after{display:block; content:''; clear:both;}
.head-prd-item .img{float:left; margin-right:15px;}
.head-prd-item .prd-name{font-size:16px;  line-height:24px; height:48px; font-weight:400;}

/**** 1:1 문의, 상품문의 ****/
.accordion-list{border-bottom:1px solid #bbb}
.accordion-list > li + li{border-top:1px solid #E9E9E9}
.accordion-list > li > .title-div{position:relative; display:block; padding:20px 150px 16px 0;}
.accordion-list > li > .title-div .right{position:absolute; top:20px; right:15px; color:#999}
.accordion-list .title-div .subject [class^="state-"]{vertical-align:top;}
.accordion-list .title-div .classify{display:inline-block; color:#FB5001; vertical-align:top; margin:0 3px}
.accordion-list .title-div .txt{display:inline-block; max-width: 75%; font-size:15px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; word-break: break-all;}
.accordion-list .active .title-div .txt{white-space:normal; overflow:visible;}
.accordion-list .title-div .right .date{color:#666; margin-right:30px;}
.accordion-list .title-div .right [class*="ico-arr-"]{width:15px; height:15px;}
.accordion-list .question .detail-div{padding:30px 25px; background:#F8F8F8; border-top:1px solid #E9E9E9;}
.accordion-list .question .detail-div .txt{line-height:24px;}
.question .detail-div .bottom{overflow:hidden; margin-top:20px;}
.question .detail-div .bottom .added-file{float:left; color:#666}
.question .detail-div .bottom .added-file .ico-bl-file{vertical-align:middle; margin:-2px 5px 0 0;}
.question .detail-div .bottom .sep-list{float:right}
.question .detail-div .bottom .sep-list li{font-size:12px; color:#666;}
.question .detail-div .bottom .sep-list.type3 li:before{margin-top:0}
.accordion-list .answer{position:relative; padding:30px 25px 30px 70px; background:#F8F8F8;}
.accordion-list .answer .img,
.accordion-list .answer .ico-img-cslr{position:absolute; top:30px; left:25px; }
.accordion-list .answer .info .name{color:#000; font-weight:500; margin-right:10px;}
.accordion-list .answer .info .date{color:#999;}
.accordion-list .answer .txt{color:#666; line-height:24px; margin-top:5px;}
.ui-accordion-view{position: relative;} 
.ui-accordion-view .question ~ .answer{margin-top:2px;}

/* 상품문의 */
.ui-accordion-view .list-util{text-align:right;  position: relative; height:1px; }
.ui-accordion-view .list-util .sep-list{display:inline-block; position: relative; top:-40px; z-index:1; }

/* 아코디언 목록 활성화시 말줄임처리 */
.accordion-list .prd-info-area .column.tit .detail-quest{line-height:24px; max-height:48px; margin-top:10px; display: block; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; word-break: break-all;}
.accordion-list .prd-info-area .column.tit .tit{display:block; max-width:100%; text-overflow: ellipsis; white-space:nowrap; overflow: hidden;  word-break: break-all; margin-bottom:0}
/* 해제 */
.accordion-list .active .prd-info-area .column.tit .detail-quest{white-space:normal; overflow:visible; max-height:none; -webkit-line-clamp: inherit;}
.accordion-list .active .prd-info-area .column.tit .tit{white-space:normal; overflow: visible;}

.list-toggle-head{position:relative; padding:21px 0; border-bottom:1px solid #ccc}
.list-toggle-head .title{font-size:18px;}
.list-toggle-head .right{position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); right:0; }
.list-toggle-head .right [class*="ico-arr-"]{width:15px; height:15px;}
.list-toggle-head .right .ui-toggle-btn{padding:10px 15px;}

.board-list.ui-toggle ~ .board-list.ui-toggle{margin-top:80px;}
/* sub-tb-list */
.board-list table.sub-tb-list thead th{color:#666; border-bottom:1px solid #eee;background: #F8F8F8; font-weight:400; font-size:13px;}
.board-list table.sub-tb-list th,
.board-list table.sub-tb-list td{border-bottom:0; border-top:1px solid #eee; padding:12px 0}
.board-list table.sub-tb-list tr:first-child td{border-top:0;}
.board-list table.sub-tb-list tr:last-child th,
.board-list table.sub-tb-list tr:last-child td{border-bottom:1px solid #eee;}
.board-list table.sub-tb-list .btn-option,
.board-list table.sub-tb-list .box-badge-default{width:87px;}
.board-list table.sub-tb-list .prd-info-area .column.tit .desc{margin-bottom:0}
.board-list table.sub-tb-list .review-detail-line td{padding-top:0; border-top:0}

.board-list table.sub-tb-list ~ .pagination{margin-top:25px;}

/* 1:1문의 주문상품 확인, 파일첨부 */
.my-order-box{background: #F8F8F8;  border: 1px solid #E6E6E6; padding:15px; margin-top:15px;}
.my-order-box .prd-info-area .ordder-num{margin:5px 0}
.board-form.type2 .attach-file-line th,
.board-form.type2 .attach-file-line td{padding:0 0 18px; border-top:0}
.file-add-boxes .btn-attach-thumb + .btn-attach-thumb{margin-left:5px;}
.btn-attach-thumb{display:inline-block; vertical-align:top; width:70px; height:70px; background:#f8f8f8; border:1px solid #e6e6e6; padding:22px;}
.board-form.type2 .attach-file-line td .text-guide-md{display:inline-block; margin-left:5px; padding:25px 0}


/**** 오렌지멤버스, 식단상담 상단 소개영역 ****/
.box-org-members{display:table; width:820px; height:240px; background-image: url("../images/img/bg_members.png");}
.box-org-members .inner{display:table-cell; vertical-align:middle; text-align:center;}
.box-org-members .point-guide{font-size:22px; color:#000}
.box-org-members .point-guide .text-primary{font-weight:700;}
.box-org-members .point-guide .ico-bl-plus3{margin:-2px 5px 0 3px; vertical-align: middle;}
.box-org-members .date{color:#000; margin-top:25px;}
.box-org-members .date span{font-family:'Roboto'; font-size:18px; font-weight:700; padding-left:5px}
.box-org-members .desc{color:#666; margin-top:3px;}

.welcome-gift-tit{color:#000; font-size:20px; font-weight:400;}
.welcome-gift-tit ~ .welcome-gift-list{margin-top:30px;}
.welcome-gift-list{padding-bottom:35px; border-bottom:1px solid #ccc;} 
.welcome-gift-list ul:after{display:block; content:''; clear:both;}
.welcome-gift-list ul{margin:0 -15px;}
.welcome-gift-list ul > li{float:left; width:253px; height:314px; margin:0 15px;}
.welcome-gift-list ul > li .custom-radio{width:100%; height:100%; overflow:hidden}

/* welcome-box */
[class*="radio-grid-"] .custom-radio{width:100%; height:100%;}
.custom-radio .welcome-box + label{display:block; position:relative; width:100%; height:100%; cursor:pointer;  overflow:hidden; border-radius: 20px; text-align:center; background:#f8f8f8; opacity:.5;}
.custom-radio .welcome-box + label > .img{display:block; height:200px; overflow:hidden}
.custom-radio .welcome-box + label > .img > img{width:100%}
.custom-radio .welcome-box + label > .tit{display:block; margin:20px 0 5px; font-size:15px;}
.custom-radio .welcome-box + label > .txt{margin-bottom:20px; font-size:13px;}
.custom-radio .welcome-box:checked + label{position: relative; z-index: 1; background:#fff;  opacity:1;}
.custom-radio .welcome-box:checked + label > .img{position:relative; z-index:1; display:block;}
.custom-radio .welcome-box:checked + label:before{position:absolute; content:''; top:0; left:0; width:100%; height:100%; border:3px solid #FF6001; border-radius: 20px; z-index:2; box-sizing: border-box;}

/**** 식단상담 ****/
.meal-planner-bnr{text-align:center; background:#C4C4C4; height:170px; line-height:170px}
.policy-agree .text-guide-md{margin-bottom:10px;}
.policy-agree .custom-checkbox input[type="checkbox"] + label{color:#666}
.board-form.ui-toggle-height{position:relative; border-bottom:1px solid #E9E9E9}
.board-form.ui-toggle-height table td{font-size:13px; line-height:22px;}
.board-form.ui-toggle-height .ui-toggle-btn{position:absolute; top:0; right:0; padding:10px;color: #999; }

/* 문의내용답변 */
.answer-area{padding-top:20px; overflow:hidden}
.quest-area{padding-top:25px; overflow:hidden}
.answer-area .tit,
.quest-area .tit{float:left; width:135px; padding:0 10px;}
.answer-area .tit > h4,
.quest-area .tit > h4{color:#333; font-size:14px; font-weight:500;}
.answer-area .view,
.quest-area .view{float:right; width:685px;}
.answer-area .inner-box{background: #FAFAFA; border: 1px solid #E6E6E6; padding:15px; font-size:13px; line-height:22px;}
.quest-area .textarea-box{position:relative; padding:15px 110px 15px 15px}
.quest-area .textarea-box .btn-basic-lg2{position:absolute; top:15px; right:15px; min-width:auto; width:80px; height:calc(100% - 30px); padding: 10px 0 11px;}
.quest-area .textarea-box .btn-basic-lg2 > span{ font-weight:400; font-size:13px;}
.quest-area .textarea-box > textarea{font-size:12px;}
.comment-area{margin-top:10px;}
.comment-area .comment-list .quest-box{padding:13px 15px; background-color:#fafafa;}
.comment-list .quest-box .name{display:block; font-weight:700;}
.comment-list .quest-box .detail{margin-top:5px; font-weight:400;}
.comment-area .comment-list li + li{margin-top:10px;}
.comment-area .comment-list .reply-box{position:relative; padding:13px 15px 13px 35px; background-color:#fff;}
.comment-area .comment-list .reply-box:before{display:block; content:''; position:absolute; top:17px; left:15px; width:10px; height:16px; background:url("../../pc/images/icon/ico_bullet.png") -150px 0}
.comment-list .reply-box .name{display:block; font-weight:700;}
.comment-list .reply-box .detail{margin-top:5px; font-weight:400;}

/* slide */
.meal-plan-list{position:relative; padding:0 40px; margin:0 -40px}
.meal-plan-list .swiper-button-prev,
.meal-plan-list .swiper-button-next{z-index:3;}
.meal-plan-list:before{position:absolute; top:0; left:0; content:''; width:39px; height:100%; background:#fff; z-index:2;}
.meal-plan-list:after{position:absolute; top:0; right:0; content:''; width:39px; height:100%; background:#fff; z-index:2;}

.plan-box{position:relative; height:100px; min-width:400px; border:1px solid #e6e6e6; }
.plan-box.active{border:1px solid #FF6001;}
.plan-box .inner{display:table; table-layout: fixed; width:100%; height:100%; padding:20px 40px}
.plan-box .inner > .date{display:table-cell; width:30%; vertical-align:middle; font-size:16px; font-weight:700; font-family:'Roboto'; padding-right:20px;}
.plan-box .inner > .info{display:table-cell; width:60%; vertical-align:middle; border-left:1px solid #eee; padding-left:20px;}
.plan-box [class*="label-"]{position:absolute; top:10px; right:10px; }


/**** VIP전용관, 이벤트 ****/
.view-content-area{ border-top:1px solid #666}
.view-content-area > .inner{padding-top:20px;}
.view-content-area .inner ~ .banner-list-wrap{margin-top:100px;}
.view-content-area .view-content-head{background:#F8F8F8;}
.view-content-area .view-content-head .inner{display:table; width:100%; table-layout:fixed;}
.view-content-head .inner .tit-cell{display:table-cell; vertical-align:top; width:auto; padding:20px }
.view-content-head .inner .date-cell{display:table-cell; vertical-align:top; width:220px; padding:20px; text-align:center;}
.view-content-head .inner .tit-cell .tit{font-size:20px; font-weight:500;}
.view-content-head .inner .date-cell .date{color:#666; }
.view-content-head .inner .date-cell .sep-list{display:inline-block; vertical-align:middle;}

.banner-list-wrap .tit{font-size:28px; font-weight:500; text-align:center;}
.banner-list{margin-top:30px;}
.banner-list li + li{margin-top:15px}

.reply-area{margin-top:30px;}
.reply-area .reply-head{overflow:hidden}
.reply-area .reply-head .txt{float:left}
.reply-area .reply-head .txt .text-primary{font-family: 'Roboto'; font-weight:700;}
.reply-area .reply-head .text-guide-md2{float:right}

.reply-input-box{position:relative; border:1px solid #ccc; border-radius:3px; height:50px; padding:0 120px 0 0; margin-top:10px;}
.reply-input-box .inner-textarea{border:0; padding:10px 30px; width:100%; height:100%;}
.reply-input-box .btn-primary{width:120px; height:calc(100% + 2px); position:absolute; top:-1px; right:-1px; border-radius: 0 3px 3px 0;}

.reply-list{margin-top:8px}
.reply-list ul{display:table; table-layout:fixed; width:100%;}
.reply-list .line{display:table-row;}
.reply-list .line .name-cell{display:table-cell; width:115px; padding:7px 0 8px; word-break: break-all; vertical-align: top;}
.reply-list .line .name-cell span{display:block; padding:15px 0; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; word-break: break-all;}
.reply-list .line .reply-cell{display:table-cell; width:auto; padding:7px 0 8px 10px}
.reply-list .line .reply-cell .detail-txt{position:relative; background: #F8F8F8; border: 1px solid #F5F5F5; border-radius: 3px; padding:15px 140px 15px 50px}
.reply-list .line .reply-cell .detail-txt .date{position:absolute; top:15px; right:50px; color:#999 }
.reply-area ~ .btn-bottom-area{margin-top:40px;}

/* 상품비교하기 */
.compare-tb-prd{display:inline-block; text-align:center;}
.compare-tb-prd .img{display:inline-block; width:120px; height:120px; overflow:hidden; text-align:center;}
.compare-tb-prd .name{max-height:42px; height:42px;}
.compare-tb-prd .price{font-size:15px; color:#333; font-weight:500; margin-bottom:15px;}

/*****  팝업 ****/
.layer-wrap .layer-pop.order-search-pop{width:780px; height:700px;/* padding:40px 30px 50px*/}
.layer-pop.order-search-pop .custom-radio .radio-btn-type2 + label{width:100px;}
.layer-pop.order-search-pop .search-detail .radio-list li + li{margin-left:5px}
.layer-wrap .layer-pop.order-search-pop .layer-content{min-height:362px; height:calc(100% - 80px)}
.layer-pop.order-search-pop .scroll-area{max-height: 310px; margin-top:15px;}
.layer-pop.order-search-pop .search-box ~ .no-data{padding:50px 0}
.layer-pop.order-search-pop .layer-inner{height:100%}
.layer-pop.order-search-pop .layer-inner .layer-bottom{position:fixed; bottom:0; left:0; width:100%;}


.flex-box-area{display:table; width:100%; height:100%}
.flex-box-area .bottom-cell{height:100%}

/* 간격 */
.bnr-area + .list-title-area{margin-top:50px;}
.list-title-area ~ .my-payment-box,
.list-title-area ~ .board-form,
.menu-title-area ~ .view-content-area,
.menu-title-area ~ .order-list-area,
.list-title-area ~ .order-list-slide,
.list-title-area ~ .grid-list-wrap{margin-top:10px;}
.list-title-area ~ .board-list{margin-top:15px;}
.order-list-slide ~ .list-title-area,
.grid-list-wrap ~ .grid-area-span2{margin-top:70px;}
.head-mypage ~ .frame-sm{margin-top:45px;}
.board-form ~ .list-title-area {margin-top:35px;}
.board-form ~ .page-guide-center{margin-top:40px;}

.page-intro{border-top:1px solid #666; padding-top:25px; margin-top:15px;}
.page-intro + .list-title-area,
.page-intro ~ .btn-bottom-area{margin-top:30px;}
.page-intro ~ .btn-bottom-area .btn-basic-xlg{width:360px;}
.page-intro ~ .org-bnr,
.page-intro ~ .welcome-gift-tit,
.welcome-gift-list ~ .btn-bottom-area{margin-top:50px;}
.page-guide-center ~.btn-bottom-area{margin-top:40px;}