/*========================================================
 Layout
========================================================*/
.wrap{position:relative;  min-width:1300px; max-width:1920px}

/****** Top Banner ******/
.top-banner{position:relative; width:100%; height:81px; border-bottom:1px solid #ddd;}
.top-banr-list {overflow:hidden}
.top-banr-list > li{float:left;}
.top-banner .inner{position:relative; max-width:1100px; margin:0 auto; height:100%}
.top-banner .btn-x-md{position:absolute; top:50%; right:0; padding:30px 18px; transform:translateY(-50%); -webkit-transform:translateY(-50%);}

/****** Header ******/
.header{position:relative; width:100%; z-index:20;}
.header-inner{position:relative; max-width:1100px; min-height:136px; margin:0 auto;}
.header-inner .logo{display:block; position:absolute; top:50px; left:0; width:120px; height:46px; background:url("../images/logo.png");}
.header-inner .logo > a{display:block; width:100%; height:100%;}
/* Util */
.header-inner .util{position:absolute; top:10px; right:0}
.util > ul{overflow:hidden}
.util > ul > li{float:left; position:relative; padding:0 12px 0 0; font-size:13px; color:#4D4D4D;}
.util > ul > li:first-child:before{content:none;}
.util > ul > li:before{display:inline-block; content:''; width:1px; height:10px; vertical-align:middle; background:#E6E6E6; margin:-2px 11px 0 0;}
.util > ul > li:last-child{padding-right:0}
.header-inner .my-menu{position:absolute; top:60px; right:0}
.my-menu > ul > li{display:inline-block; vertical-align:top; margin-left:46px;}
/* btn */
.btn-util-mypage{display:inline-block; width:30px; height:35px; background:url("../images/icon/ico_util.png") left top;}
.btn-util-cart{display:inline-block; position:relative; width:42px; height:35px; background:url("../images/icon/ico_util.png") right top;}
.btn-util-cart .count{display:block; position:absolute; top:0; right:0; width:22px; height:22px; color:#fff; font-size:12px; font-weight:bold; font-family:"Malgun Gothic"; text-align:center; line-height:1.8; background:#FF542A; border-radius:50%;}

/**** Search ****/
.header-inner .header-search{position:absolute; top:60px; left:370px; text-align:center; z-index:100;}
.top-search{position:relative; display:inline-block; width:380px; height:38px; border:1px solid #666; border-radius:21px; background:#fff; padding:0 45px 0 20px;}
.top-search .input-search{width:100%; height:36px; border:0; padding:0; font-size:15px; color:#555; text-align:left; background:transparent;}
.top-search .btn-top-search{position:absolute; top:0; right:10px; width:35px; height:35px;}
.btn-top-search:after{display:inline-block; content:''; width:18px; height:18px; background:url("../images/icon/ico_btns.png") 0 0; vertical-align:top;}
.header-search .search-layer{display:none; position:absolute; top:50px; left:0; width:100%; min-height:100px; background:#fff; border:1px solid #666; border-radius: 16px;}
.header-search .search-layer.on{display:block;}
.search-layer .tit-area{padding: 30px 20px 10px; border-bottom: 1px solid #666;}
.search-layer .tit-area > h2{color:#222; font-size: 15px; text-align: left;}
.search-layer .search-rank{padding:0 10px; overflow:hidden}
.search-rank .list{position:relative; float:left; width:50%; border-right:1px solid #e6e6e6;}
.search-rank .list:last-child{border-right:0;}
.search-rank .list > li{position:relative; text-align:left; border-bottom:1px solid #e6e6e6;}
.search-rank .list > li:last-child{border-bottom:0;}
.search-rank li > a{display:block; padding:14px 35px 14px 7px; color:#666;}
.search-rank li .num{display:inline-block; width:15px; margin-right:7px; text-align:center; vertical-align:middle; font-size:14px;}
.search-rank li .word{display:inline-block; vertical-align:middle; font-size:13px;}
.search-rank li .state{position:absolute; top:50%; right:7px; font-size:11px; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.search-rank li .state > i{margin:2px 5px 0 0; vertical-align:middle}
.search-layer .search-bottom{border-top:10px solid #f2f2f2;}
.search-bottom .tit{position:relative; padding:30px 20px 10px; border-bottom: 1px solid #666;}
.search-bottom .tit > h3{font-size:15px; color:#222; font-weight:700; text-align:left;}
.search-bottom .tit .text-guide-sm{position:absolute; top:33px; right:20px;} 
.search-bottom .latest-search .srch-list{padding:15px 20px 10px;}
.latest-search .srch-list li{display:inline-block; vertical-align:top; margin:0 1px 5px 0; }
/* keyword */
.srch-keyword{display:inline-block; border:1px solid #ccc; border-radius:30px; background:#fff}
.srch-keyword > .txt{display:inline-block; vertical-align:top; padding:5px 0 5px 14px; font-size:13px; color:#333;}
.srch-keyword > .btn-x-xs{vertical-align:top;}

/****** Gnb ******/
.gnb-wrap{width:100%; border-bottom:1px solid #C4C4C4; background:#fff; z-index:101;}
.gnb-wrap.fixed{position:fixed; top:0; left:0;}
.gnb-wrap .inner{position:relative; width:1100px; min-width:1100px; height:100%; margin:0 auto;}
.gnb-wrap .inner:after,
.gnb-wrap:after,
.gnb-wrap .gnb > ul:after{display:block; content:''; clear:both;}
.gnb-wrap .gnb{float:right}
.gnb-wrap .gnb > ul > li{float:left; min-height:45px;}
.gnb > ul > li > a{display:block; color:#333; font-size:16px; font-weight:500; padding:12px 34px 11px;}
.gnb > ul > li:last-child > a{padding-right:0}
.gnb > ul > li .ico-txt-gnb{display:block; width:96px; height:18px; background:url("../images/txt/txt_exp_delivery.png"); margin-top: 3px;}
/* Category All */
.gnb-wrap .category-wrap{float:left; position:relative; width:186px} 
.category-wrap .btn-menu-all{position:relative; display:block; width:186px; height:47px; color:#333; font-size:16px; font-weight: 500; padding:12px 20px 0; transition:.1s; -webkit-transition:.1s;}
.btn-menu-all:before{display:inline-block; width:14px; height:12px; content:''; vertical-align:middle; background:url("../images/icon/ico_gnb_all.png") 0 0; margin:-3px 10px 0 0;}
.btn-menu-all:after{display:block; content:''; position:absolute; top:16px; right:0; width:1px; height:16px; background:#ccc;}
.btn-menu-all.on{background:#333; color:#fff}
.btn-menu-all.on:after{content:none}
.btn-menu-all.on:before{background:url("../images/icon/ico_gnb_all.png") right top;}
.category-wrap .category-menu{position:absolute; top:47px; left:0; z-index:1; width:100%;}
.category-menu .cate-dep1{display:none; position:relative; background:#fff; border:1px solid #ccc; border-top:0; border-right:0; padding-top:5px;}
.category-menu .cate-dep1:after{display:block; content:''; position:absolute; top:0; right:0; width:1px; height:100%; background:#ccc;}
.cate-dep1 > li > a{display:block; padding:8px 18px}
.cate-dep1 > li > a:hover{background:#f4f4f4}
.cate-dep1 > li .ico-cate-gnb{vertical-align:middle;}
.cate-dep1 > li .menu{display:inline-block; vertical-align:middle; line-height:2.1; margin-left:10px; font-size:14px;}
.category-menu .cate-dep2{display:none; position:absolute; top:1px; left:185px; z-index:2; width:180px; height:100%; background:#f4f4f4; border:1px solid #ccc; border-top:0; border-left:0; padding-top:5px}
.category-menu .cate-dep2 > li > a{display:block; padding:8px 18px; font-size:13px;}
.category-menu .cate-dep2 > li > a:hover{color:#ff6001; text-decoration:underline;}
/* icon */
.ico-cate-gnb{display:inline-block; background-image:url("../images/icon/ico_cate_gnb.png"); width:24px; height:28px;}
.ico-cate-gnb.cate-new{background-position:0 0;}
.ico-cate-gnb.cate-chicken{background-position:0 -30px;}
.ico-cate-gnb.cate-instant{background-position:0 -60px;}
.ico-cate-gnb.cate-lunchbox{background-position:0 -90px;}
.ico-cate-gnb.cate-bread{background-position:0 -120px;}
.ico-cate-gnb.cate-salad{background-position:0 -150px;}
.ico-cate-gnb.cate-beverage{background-position:0 -180px;}
.ico-cate-gnb.cate-meat{background-position:0 -210px;}
.ico-cate-gnb.cate-nuts{background-position:0 -240px;}
.ico-cate-gnb.cate-sidedish{background-position:0 -270px;}
.ico-cate-gnb.cate-health{background-position:0 -300px;}
.ico-cate-gnb.cate-seafood{background-position:0 -330px;}
.ico-cate-gnb.cate-sauce{background-position:0 -360px;}
.ico-cate-gnb.cate-set{background-position:0 -390px;}
.ico-cate-gnb.cate-exer{background-position:0 -420px;}

/****** Side banner ******/
.side-quick-area{position:absolute; top:0; left:50%; z-index:1; width:100%; min-width:1100px; max-width:1440px; transform:translateX(-50%); -webkit-transform:translateX(-50%); transition:.2s;  -webkit-transition:.2s;}
.side-quick-area .side-quick{position:absolute; top:0; right:0; width:100px;}
.side-quick-area.fixed{position:fixed;}
.side-quick-area.fixed > .side-quick{top:60px;}
.side-quick-area.fixed.type2 > .side-quick{top:120px;}
.side-quick-area.fixed.static{position:relative; top:0; bottom:-30px;}
.side-quick .bnrs li + li{margin-top:10px;}
.side-quick .recent-list{margin-top:10px; border:1px solid #ddd; background:#fff;}
.recent-list .recent-info{padding:0 13px;}
.recent-list .recent-info .txt{margin-top:10px; padding-bottom:3px; font-size:13px; border-bottom:1px solid #666; overflow:hidden;}
.recent-list .recent-info .num{float:right; color:#fd5f01}
.recent-list .recent-info .num .ico-arr-right{width:10px; height:10px; margin-left:2px;}
.recent-info .num .ico-arr-right:after,
.recent-info .num .ico-arr-right:before{box-shadow:none}

#recent-prod-list{height:236px}
.recent-prd-item{position:relative; padding:10px 13px 42px;}
.recent-prd-item ul li{width:72px; height:72px}
/* .recent-prd-item ul li:nth-child(3n) ~ li{display:none} */
.recent-prd-item ul li.on{display:block}
.recent-prd-item ul li:nth-child(3n) + li{margin-top:0}
.recent-prd-item ul li:nth-child(3n) ~ li{display:none}
.recent-prd-item ul li + li{margin-top:10px;}
.recent-prd-item ul li > a{display:block; width:100%; height:100%; position:relative;}
.recent-prd-item ul li .img{display:block;position:relative;  width:72px; height:72px; overflow:hidden; z-index:2;}
.recent-prd-item ul li .detail{display:none; position:absolute; top:0; right:0; z-index:1; width:200px; height:100%; border:2px solid #333; background:#fff; font-size:12px; padding:10px 75px 10px 10px}
.recent-prd-item ul li > a:hover .detail{display:block;}
.recent-prd-item ul li .detail .tit{display:block; margin-bottom:5px;}
.recent-prd-item .btn-move-group{position:absolute; bottom:10px; left:25px;}

.no-recent{text-align:center; font-size:12px; padding:0 13px;}
.no-recent .info-message{padding:30px 0 45px;}
.no-recent .compare-message{position:relative; padding:50px 0; border-top:1px solid #ddd; color:#15A7B8}
.no-recent .compare-message:after{position:absolute; content:''; display:block; width:17px; height:17px; top:-10px; left:50%; margin-left:-8px; border:1px solid #ddd; border-right:0; border-bottom:0; background:#fff; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.recent-list .sidebnr-link{display:block; width:100%; font-size:12px; text-align:center; color:#666; padding:5px 0; border-top:1px solid #ddd;}
.side-quick .side-btns{margin-top:10px; overflow:hidden;white-space:nowrap;}
.side-btns .btn-side-func{width:34%;}
.side-btns .btn-side-func + .btn-side-func{margin-left:-1px;}
/* btn */
.btn-side-func{border:1px solid #ddd; min-width:32px; height:32px; background:#fff url("../images/icon/ico_sidebtn.png") 0 0;}
.btn-side-func.back{background-position:0 0;}
.btn-side-func.up{background-position:-40px 0;}
.btn-side-func.down{background-position:-80px 0;}

.side-event-area{position:absolute;top:640px;left:50%;z-index:1;margin-left:-650px}
.side-event-area .side-event{opacity:0;overflow:hidden;left:0;top:0;width:100px}
.side-event-area.fixed{position:fixed;}
.side-event-area.fixed > .side-event{top:60px;}
.side-event-area .btn-open{position:absolute;top:0;right:0;width:25px;height:25px;background:url(../images/icon/btn_wide.png) no-repeat;opacity:0}
.side-event-area .side-event-wide{overflow:hidden;position:fixed;bottom:0;left:50%;margin-left:-550px;border-radius:12px;box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4)}
.side-event-area .side-event-wide a{display:block}
.side-event-area .side-event-wide .btn-close{position:absolute;top:10px;right:10px;width:40px;height:40px;text-indent:-9999px;background:url(../images/icon/btn_close.png);background-size:40px;cursor:pointer}


/****** Footer ******/
.footer-menu{width:100%; max-width:1920px; min-height:48px; padding:19px 0 20px; margin:0 auto; background-color:#F2F2F2; border-top:1px solid #ddd}
.footer-menu-list > li{display:inline-block; padding:0 16px 0 0;}
.footer-menu-list > li:first-child:before{content:none;}
.footer-menu-list > li:before{display:inline-block; content:''; width:1px; height:13px; vertical-align:middle; background:#ccc; margin:0px 20px 0 0;}
.footer-menu-list > li > a{color:#666; font-size:14px;}

.family-select{position:absolute; top:0; right:0; width:215px;}
.family-select .select-btn{color:#666; font-weight:500; font-size:14px; text-align:left; padding:0 25px; display:block; width:100%}
.family-select .select-btn .ico-arr-toggle{position:absolute; top:3px; right:15px;}
.family-select .select-btn .ico-arr-toggle:before{-webkit-transform:rotate(45deg); transform:rotate(45deg);}
.family-select .select-btn .ico-arr-toggle:after{-webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
.family-select .select-btn.toggle-on .ico-arr-toggle:before{-webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
.family-select .select-btn.toggle-on .ico-arr-toggle:after{-webkit-transform:rotate(45deg); transform:rotate(45deg);}
.family-select .family-list-box{display:none; position:absolute; bottom:50px; left:0; width:100%; border:1px solid #ccc; background:#fff; padding:10px 0; z-index: 1;}
.family-select .family-list-box.on{display:block}
.family-list-box ul li{padding:6px 25px}
.family-list-box ul li > a{display:block; color:#999}
.family-list-box ul li:hover{background: #F8F8F8;}
.family-list-box ul li:hover > a{color:#333; font-weight:500;}

.footer-info{position:relative; max-width:1100px; margin:0 auto; padding:35px 0 60px 165px; overflow:hidden;}
.footer-info .colum-info{position:relative; float:left; width:50%; font-size:12px; color:#666}
.footer-info .footer-logo{position:absolute; top:35px; left:0; display:block; width:104px; height:42px; background:url("../images/footer_logo.png") 0 0; margin-bottom:26px;}
.footer-biz-info li{font-size:12px; color:#777; line-height:23px;}
.footer-biz-info li .company-name{font-size:13px; color:#333; font-weight:500} 
.colum-info .copyright{margin-top:10px; color:#666; font-size:12px;}

.footer-info .customer-info > li{display:inline-block; margin-right:10px; color:#777; font-size:12px;}
.footer-info .customer-info > li.cscenter{display:block; width:100%; margin-right:0; margin-bottom:5px; font-size:13px; font-weight:500; color:#333;}
.footer-info .customer-info > li.cscenter .footer-tel{font-family:"roboto"; font-size:14px; color:#EF8C51; font-weight:700;}
.footer-info .customer-btns{margin-top:10px;}
.footer-info .customer-btns > a{display:inline-block; font-size:11px; color:#777; border:1px solid #ccc; margin-right:3px;  padding:0 6px; height:22px; line-height:1.8}

/* sns */
.footer-sns-list {margin-top:60px; overflow:hidden}
.footer-sns-list > li{float:left; margin-right:10px}
[class^="ico-sns-"]{display:inline-block; vertical-align:top; width:30px; height:30px; background-image:url("../images/icon/ico_footer_sns.png");}
.ico-sns-facebook{background-position:0 0;}
.ico-sns-instagram{background-position:-40px 0;}
.ico-sns-blog{background-position:-80px 0;}
.ico-sns-post{background-position:-120px 0;}
.ico-sns-kakaotalk{background-position:-160px 0;}
.ico-sns-kakaostory{background-position:-200px 0;}

.footer-bottom{border-top:1px solid #eee; width:1100px; margin:40px auto 0; padding:20px -0 80px}
.footer-bottom .service-txt{text-align:center;}
.footer-bottom .service-txt li{display:inline-block; padding:0 20px; position:relative; color:#666; font-size:12px;}
.footer-bottom .service-txt li:after{display:inline-block; position:absolute; top:5px; right:0; content:''; width:1px; height:12px; background:#ccc; vertical-align:middle;}
.footer-bottom .service-txt li:last-child:after{content:none}

[class^="ico-footer-"]{display:inline-block; vertical-align:top; height:21px; background-image:url("../images/icon/ico_footer_service.png"); margin-right:8px; margin-top:-2px;}
.ico-footer-service01{background-position:left top; width:22px;}
.ico-footer-service02{background-position:right top; width:18px}


/****** Content ******/
.container{position:relative; min-height:700px;  padding-bottom:100px;}
.content-wrap{min-height:700px;}
/* Frame */
.frame-left{float:left}
.frame-right{float:right}

/* Title */
.page-title-area{position:relative;}
.title-page{font-size:30px; font-weight:700;}
.title-page-type2{font-size:25px; font-weight:700;}
.list-title-area{position:relative; min-height:32px;}
.list-title-area .title-list{font-size:18px; font-weight:500; line-height:32px;}
.list-title-area .title-list-type2{font-size:24px; font-weight:500;}
.page-title-area.type-result{padding-bottom:20px; border-bottom:1px solid #333}

.menu-title-area{position:relative; min-height:40px;}
.menu-title-area .title-menu{display:inline-block; font-size:24px; font-weight:500;}
.menu-title-area .sub-desc{display:inline-block; color:#666; font-size:12px; margin-left:5px;}
.menu-title-area .right{position:absolute; right:0; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index:1;}
.menu-title-area .right .btn-link-txt5{vertical-align: middle; font-size:14px;}
.menu-title-area .right [class^="btn-"] + [class^="btn-"]{margin-left:15px;}

/* Content */
.page-guide-center{width:100%; text-align:center;}
.page-guide-right{width:100%; text-align:right;}

/* 간격 */
.content-wrap.frame-sm .page-title-area:first-child{padding-top:70px;}
.reply-area  ~ .pagination, 
.banner-list-wrap ~ .pagination,
.board-list ~ .pagination,
.board-list ~ .btn-bottom-area,
.board-form ~ .btn-bottom-area,
.list-lately-wrap ~ .btn-bottom-area,
.order-list-area ~ .pagination{margin-top:40px;}
.btn-bottom-area + .box-grey-type2{margin-top:90px}
.search-box ~ .board-list,
.menu-title-area ~ .board-form,
.menu-title-area ~ .board-list,
.menu-title-area ~ .coupon-box,
.menu-title-area ~ .top-search-box,
.menu-title-area ~ .grid-list-wrap{margin-top:15px;}
.page-title-area ~ .frame-wrap{margin-top:20px}
.page-title-area ~ .prd-top-bnr,
.page-title-area ~ .scroll-fix-tab:not(.fixed){margin-top:30px;}
.top-search-box + .board-list,
.scroll-fix-tab ~ .swiper-container{margin-top:40px;}
.page-title-area ~ .grid-list-wrap{margin-top:50px;}
.page-head ~ .tb-list-option{margin-top:30px;}
.list-type-wrap ~ .btn-bottom-area,
.grid-list-wrap ~ .btn-bottom-area,
.grid-list-wrap ~ .pagination{margin-top:60px;}
.page-title-area.type-result ~ .grid-list-wrap{margin-top:35px}

/* 데이터없을 경우 */
.no-data{text-align:center;}
.no-data [class^="ico-img-"]{margin-bottom:20px;}
.no-data .message{color:#555; font-size:13px;}
/* 예외 - header 최근검색어 */
.latest-search .no-data{padding:40px 0;}
/* 예외 - 장바구니 */
.cart-list-area .no-data{border-bottom:1px solid #ccc; padding:300px 0}
/* 예외 - 마이페이지 주문내역  */
.search-box ~ .no-data{padding:160px 0;}
.search-box ~ .no-data .message{color:#333; font-size:15px;}
/* 예외 - 마이페이지 찜한 상품 */
.board-list .no-data,
.grid-list-wrap .no-data{padding:160px 0;}
.board-list .no-data:before,
.grid-list-wrap .no-data:before{display:block; content:''; margin:0 auto 10px; width:80px; height:80px; background:url("../images/icon/ico_img.png") -280px -120px;}
.grid-list-wrap .no-data .message{color:#333; font-size:15px;}
.textarea-box ~ .filebox{margin-top:15px}
.inner-flex:after{display:block; content:''; clear:both}
.inner-flex .left-item1{float:left}
.inner-flex .right-item1{float:right}
.no-data-type1{text-align:center; padding:160px 0;}
.no-data-type1 .message{color:#333; font-size:15px;}
.order-list-slide .no-data-type1{padding:160px 0;}

/*========================================================
 로그인, 회원가입
========================================================*/
/* 로그인 */
.login-container{min-height: 700px; background:#f7f7f7; margin-bottom:-100px;}
.login-area{width:420px; margin:0 auto; padding-bottom:70px}
.login-area .btn-bottom-area{padding:0}
.login-greeting{padding-top:70px; font-size:32px; color:#000; font-weighT:500; margin-bottom:20px;}
.login-greeting .txt{font-weight:normal;}
.login-greeting .message .ico-logo-login{vertical-align: top;}
.login-container.type-box{padding:100px 0}
.login-container.type-box .login-area{width:700px; background:#fff; padding:0 140px 70px; }
.login-area  .btn-bottom-area ~ .log-benefit-bnr{margin-top:60px}
.login-area  fieldset ~ .btn-bottom-area{margin:35px 0 0}
.login-area .input-group + .input-group{margin-top:8px;}
.login-area .input-group  ~ .btn-basic-lg2{margin-top:12px;}
.login-area .btn-bottom-area ~ .page-guide-center{margin-top:25px;}
.login-area .page-guide-center ~ .log-benefit-bnr{margin-top:45px;;}
.login-area .chk-area{position:relative; margin-top:15px;}
.login-area .chk-area .sep-list{position:absolute; top:0; right:0}

.sns-login{margin:40px 0;}
.sns-login-list .ico-sns-loin{display:inline-block; width:56px; height:56px; overflow:hidden; background:url("../images/icon/ico_sns_login_m.png") no-repeat; background-size:auto 52px;}
.sns-login-list .ico-sns-loin.naver{background-position:left top;}
.sns-login-list .ico-sns-loin.apple{background-position:right top;}
.sns-login-list{text-align:center}
.sns-login-list > li{display:inline-block; margin:0 18px;}

/* 회원가입 */
.join-container{min-height: 700px; background:#f7f7f7; margin-bottom:-100px; padding:100px 0}
.join-area{width:720px; margin:0 auto; background:#fff; padding:60px 100px 90px}
.join-area.type2{padding:60px 150px 90px}
.join-title{font-size:32px; margin-bottom:30px; text-align:center; font-weight:500;}
.form-group-area{padding:0;}
.terms-toggle-box{border:1px solid #ccc; border-radius:2px; padding:15px; margin-top:8px;}
.terms-toggle-box .box-head{border-bottom:1px solid #ddd; padding-bottom:10px}
.terms-toggle-box .terms-inner-list{padding-top:12px;}
.terms-toggle-box .terms-inner-list .inner-flex .btn-box-link1{float:right; margin-top:-1px;}
.terms-toggle-box .terms-inner-list > li + li{margin-top:15px}
.terms-toggle-box ~ .bl-list-type2{margin-top:10px; padding-bottom:10px}
.terms-inner-list .terms-inner-box{background:#f8f8f8; padding:12px; margin-top:10px; max-height:125px; overflow-y:auto}
.join-area .btn-bottom-area{margin-top:40px}
.login-area .btn-bottom-area .btn-basic-lg2,
.join-area .btn-bottom-area .btn-basic-lg2{width:calc(50% - 5px);}
.join-area .btn-bottom-area .btn-basic-lg2:only-child{width:260px;}
.login-area .btn-bottom-area .btn-basic-lg2:only-child,
.join-area.type2 .btn-bottom-area .btn-basic-lg2:only-child{width:100%;}

/* 마이페이지 회원정보 수정에서 적용 */
.board-form .join-area{padding:50px 100px 90px}
.board-form .join-area .btn-bottom-area > [class*="btn-"]{width:255px}
.board-form .join-area .page-guide-right{margin-top:25px;}
.board-form .secess-area{padding:50px 100px 90px}
.board-form .secess-area .btn-bottom-area{margin-top:60px}

/* 아이디, 비번 찾기 */
.result-cnt{text-align:center;}
.result-cnt > i{margin:0 auto;}
.result-cnt .message{font-size:20px; margin-top:15px;}
.result-cnt ~ .btn-bottom-area{margin-top:45px;}
.input-group .timer{position:absolute; top:15px; right:15px; z-index: 2; color:#FF6001}
.frame-inner-pop{padding:65px 35px 45px; background:#fff;}
.frame-inner-pop2{padding:30px 35px}
.content-txt-type1 .title{text-align:center; font-size:18px; color:#000; font-weight:bold;}
.content-txt-type1 .txt{text-align:center; margin-top:15px; line-height:20px;}
.content-txt-type1 ~ .form-group-area{padding-top:25px;}
.radio-select-div{text-align:center;}
.radio-select-div .custom-radio {margin-bottom:10px}
.radio-select-div .custom-radio + .custom-radio{margin-left:10px}
.radio-select-div ~ .input-group{margin-top:15px;}

/* 이메일선택 팝업 */
.select-pop{border-radius: 5px; overflow:hidden;} 
.select-pop .layer-body{padding-bottom:70px}
.select-pop .layer-head{padding:24px 0 16px; border-bottom:1px solid #ccc}
.select-pop .list-tit{font-size:15px; text-align:center; color:#333}
.email-select-list li{border-bottom:1px solid #eee;}
.email-select-list li:last-child{border-bottom:0}
.email-select-list li > .custom-radio{display:block;}
.email-select-list li > .custom-radio .radio-list + label{padding:12px 0}
.find-id-list > li + li{border-top:1px solid #eee; margin-top:24px; padding-top:24px;}
.find-id-list .custom-radio{display:block;}
/* .find-id-list .custom-radio .radio + label{font-weight:bold;} */
.find-id-list .custom-radio ~ .ui-radio-content{padding-top:20px;}

.cs-box-bnr{border:1px solid #eee; border-radius:4px; margin:75px 0 30px;}
.cs-box-bnr li + li{border-top:1px solid #eee; overflow: hidden;}

.join-area .form-group{position:relative; padding-left:105px; min-height:50px;}
.join-area .form-group .form-head{position:absolute; top:12px; left:0} 
.join-area .form-group .form-horiz-list{padding-top:10px}
.join-area .form-group .form-horiz-list > li{margin-right:40px;}
.join-area .form-group .form-verti-list{border-bottom:1px solid #ddd; padding-bottom:10px; padding-top:13px}
.join-area .form-group .form-verti-list + .bl-list-type2{margin-top:10px; margin-bottom:25px}

/* 비밀번호 변경 */
.mem-guide-txt{font-size:17px; line-height:30px; text-align:center; margin-bottom:20px; white-space:nowrap;}
.pw-guide-box{border:1px solid #E6E6E6; padding:22px 0 30px}
.pw-guide-box .title{text-align:center; margin-bottom:20px; font-size:16px; font-weight:500;}
.pw-guide-box ul{text-align:center;}
.pw-guide-box ul > li{display:inline-block; margin:0 10px;}
.pw-guide-box ul > li .txt{font-size:12px; color:#666; margin-top:5px}
[class*="ico-pwguide-"]{display:block; width:60px; height:60px; background: #F5F5F5; border-radius:50%; margin:0 auto;  padding:20px 0}
[class*="ico-pwguide-"]::after{display:inline-block; content:''; background-image:url('../images/icon/ico_img.png'); height:20px;}
.ico-pwguide-01::after{background-position:-150px -210px; width:16px;}
.ico-pwguide-02::after{background-position:-190px -210px; width:27px;}
.ico-pwguide-03::after{background-position:-240px -210px; width:20px;}
.mem-guide-txt + .btn-bottom-area{margin-top:45px}

/* 비회원주문 */
.terms-agree-area{border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:10px;}
.terms-agree-area .title{color:#333; font-weight:400; border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:10px}
.terms-agree-area .terms-inner-box{background: #F8F8F8; padding:10px; margin-top:10px; height:165px; overflow-y:auto; font-size:11px; color:#666} 
.terms-agree-area .terms-inner-box + .custom-checkbox{margin-top:10px}


/*****  팝업 ****/
.layer-wrap .layer-pop.login-certi-pop{width:375px; min-height:248px}
.layer-pop.login-certi-pop .layer-inner .layer-head{padding-bottom:25px}
.layer-pop.login-certi-pop .layer-pop-title{text-align:center; font-size:16px;}
.layer-pop.login-certi-pop .layer-content .message{text-align:center; font-size:13px; color:#666; margin-bottom:20px}
.layer-pop.login-certi-pop .layer-content .input-group .select-box{min-width:90px}
.layer-pop.login-certi-pop .layer-content .btn-area{margin-top:10px; text-align:center;}
.layer-pop.login-certi-pop .form-horiz-list{margin-bottom:20px}
.layer-pop.login-certi-pop .form-horiz-list .custom-radio .radio + label{font-size:13px; line-height: 1.4;}
.layer-pop.login-certi-pop .scroll-area{max-height: 310px; margin-top:15px;}
.layer-pop.login-certi-pop .layer-inner{height:100%}
.layer-pop.login-certi-pop .bottom-txt-area{background:#F8F8F8; padding:25px 30px 40px; margin-top:30px}
.bottom-txt-area .tit{font-size:13px; font-weight:500; margin-bottom:10px} 
.bottom-txt-area .dot-list-type1 > li{font-size:13px}