.main .container{padding-bottom:130px;}
/**** Main visual ****/
.main-visual-area{width:100%; max-width:1920px; min-width:1100px; height:500px; margin:0 auto; background-color:#ddd;}
.main-visual-area .main-slide{position:relative; width:100%; height:100%; background-position:center top;}
.main-visual-area .main-slide .swiper-slide{background-position:center top;}
/* key 컨트롤 */
.main-slide-bottom{position:absolute; width:100%; bottom:20px; z-index:2;}
.main-slide-bottom .inner{position:relative; width:1100px; margin:0 auto; text-align:right;}
.main-slide-bottom .main-slide-btns{position:relative; display:inline-block; padding:0 65px 0 45px; height:38px; background:rgba(0,0,0,.3); border-radius:60px;}
.main-slide-btns .swiper-pagination-fraction{position:relative; width:auto; color:#fff; font-family:'roboto'; font-weight:400; bottom:auto; left: auto; line-height:38px;}
.main-slide-btns .swiper-pagination-current{font-weight:700;}
/* 버튼 */
.main-slide-btns [class^="swiper-button-"]{width:19px; height:38px; background:transparent url("../images/icon/ico_slide_ctrl.png");}
.main-slide-btns .swiper-button-prev{top:0; left:15px; margin:0; background-position:0 0;}
.main-slide-btns .swiper-button-next{top:0; right:40px; margin:0; background-position:-30px 0;}
.main-slide-btns .swiper-button-ctrl{position:absolute; top:0; right:15px; background-position:-60px 0;}
.main-slide-btns .swiper-button-ctrl.play{background-position:-90px 0;}
.main-slide-bottom .btn-slide-all{display:inline-block; vertical-align: top; width:38px; height:38px; background:rgba(0,0,0,.3) url("../images/icon/ico_slide_ctrl.png") -120px 0; border-radius:50%;}

/**** Main Contents ****/
.main-article.bg-snowgrey{padding:90px 0}
/* .main-article .inner{width:1110px; margin:0 auto;} */
.div-article{border-top:1px solid #ccc; padding:50px 0;}
/* title */
.main-article .main-article-tit{text-align:center; margin-bottom:40px;}
.main-article-tit{font-size:27px; font-weight:400;}
.title-slide-tab{font-size:23px; font-weight:400;}
/* 간격 */
.main-visual-area ~ .main-article{margin-top:100px;}
.main-article .bnr-item-list + .btn-bottom-area,
.main-article .ui-tab-container + .btn-bottom-area{margin-top:40px;}
.tab-round-type ~ .ui-tab-container{margin-top:30px}

/**** 타임세일특가 ****/
/* timer */
.timer > span{display:inline-block; vertical-align:top;}
.timer .txt{font-size:12px; font-weight:500; line-height:31px;}
.timer .num-box{width:31px; height:31px; border:1px solid #e2e2e2; border-radius: 5px; text-align:center; font-family:"Roboto"; font-weight:700; line-height:29px; font-size:16px;}
.timer .num-box.day{color:#FF542A}
.timer .num-box.sec{color:#999}
/* 1개일때 */
.slide-set-colum1 .prd-item{position:relative; padding-left:600px; min-height:268px;}
.slide-set-colum1 .prd-item .img{position:absolute; top:-20px; left:0;}
.slide-set-colum1 .prd-item .img + .timer{margin-top:20px;}
.slide-set-colum1 .prd-item .timer + .desc-bottom{margin-top:40px;}
.slide-set-colum1 .prd-item .tit{font-size:18px; line-height:30px; max-height:60px; height:60px;}
.slide-set-colum1 .prd-item .price{font-size:12px;}
.slide-set-colum1 .prd-item .price > .num{font-size:24px;}
.slide-set-colum1 .timer > span{display:inline-block; vertical-align:top;}
.slide-set-colum1 .timer .txt{font-size:16px; font-weight:500; line-height:43px;}
.slide-set-colum1 .timer .num-box{width:45px; height:45px; line-height:43px; font-size:24px;}

/**** tab-round-type ****/
.tab-round-type ul{display:block; text-align:center;}
.tab-round-type ul > li{display:inline-block; text-align:center; vertical-align:top; height:42px; border-radius:22px; border:1px solid #e4e4e4; background:#fff; margin:0 3px;}
.tab-round-type ul > li > a{display:block; width:100%; padding:10px 22px; line-height:1.2;}
.tab-round-type ul > li.current{border:1px solid #FF6001; background:#FF6001;}
.tab-round-type ul > li.current > a{color:#fff; font-weight:500;}

/* */
.event-slide{padding:0 20px;}

/**** 카테고리 탭 ****/
.tab-category-slide:after{display:block; content: ''; clear: both;}
.tab-category-slide .tab-category-wrap{float:left; width:167px;}
.tab-category-slide .tab-cate-area{float:right; position:relative; width:900px; overflow:hidden}

/**** tab-category-menu ****/
.tab-category-menu > li{position:relative; height:46px; border-bottom:1px solid #ededed}
.tab-category-menu > li.current{border-bottom:0}
.tab-category-menu > li.current > a{color:#fff}
.tab-category-menu > li > a{display:block; font-size:15px; color:#000; padding:3px 0}
.tab-category-menu > li:after{content:''; display:block; position:absolute; top:0;  right:-14px; border-top:23px solid transparent; border-left: 14px solid transparent; border-bottom:23px solid transparent;}
.tab-category-menu > li .txt{display:inline-block; vertical-align:middle; margin-left:10px;}
/* color set */
.tab-category-menu.type-org > li.current{background:#FF851D}
.tab-category-menu.type-org > li.current:after{border-left: 14px solid #FF851D;}
.tab-category-menu.type-khaki > li.current{background:#71989E}
.tab-category-menu.type-khaki > li.current:after{border-left: 14px solid #71989E;}
.tab-category-menu.type-pink > li.current{background:#D78782}
.tab-category-menu.type-pink > li.current:after{border-left: 14px solid #D78782;}
.tab-category-menu.type-purple > li.current{background:#AD86BE}
.tab-category-menu.type-purple > li.current:after{border-left: 14px solid #AD86BE;}
.tab-category-menu.type-green > li.current{background:#64A491}
.tab-category-menu.type-green > li.current:after{border-left: 14px solid #64A491;}
/* 간격 */
.title-slide-tab  + .tab-category-menu{margin-top:50px;}
/* icon */
/* .ico-cate-food{display:inline-block; vertical-align:middle; width:40px; height:40px; background-image:url("../images/icon/ico_food_cate.png");}
.ico-cate-food.cate-all{background-position:0 0;}
[class*="lunchbox-"],
[class*="chicken-"],
[class*="instfood-"],
[class*="salad-"],
[class*="beverage-"]{background:#eee;} */
.ico-cate-img{display:inline-block; vertical-align:middle; width:40px; height:40px;}

/**** Swiper custom ****/
.ui-tab-cnt .swiper-button-next.swiper-button-disabled,
.ui-tab-cnt .swiper-button-prev.swiper-button-disabled{opacity:0;}
/* .ui-tab-cnt .swiper-button-prev > .ico-arr-left,
.ui-tab-cnt .swiper-button-next > .ico-arr-right{width:15px; height:15px;} */

.category-slide .prd-item-list{padding:0 11px;}
.category-slide .swiper-wrapper{padding-top:50px; max-height:805px; min-height:500px;}
.category-slide .swiper-page-wrap{position:absolute; top:0; right:0; z-index:10; margin:0}
.event-slide .swiper-button-prev,
.category-slide .swiper-button-prev{ background:#fff; border:1px solid #d5d5d5;}
.event-slide .swiper-button-next,
.category-slide .swiper-button-next{ background:#fff; border:1px solid #d5d5d5;}
/* Color set */
.swiper-pagination-num.type-org .swiper-pagination-bullet-active{background:#FF7E32;}
.swiper-pagination-num.type-khaki .swiper-pagination-bullet-active{background:#71989E;}
.swiper-pagination-num.type-pink .swiper-pagination-bullet-active{background:#D78782; }
.swiper-pagination-num.type-purple .swiper-pagination-bullet-active{background:#AD86BE; }
.swiper-pagination-num.type-green .swiper-pagination-bullet-active{background:#64A491;}

/**** 메인비주얼팝업 ****/
.layer-pop.main-visual-pop{width:1100px; background:none}
.main-event-list ul{overflow:hidden;}
.main-event-list ul li{width: 545px; height:200px; overflow:hidden;}
.main-event-list ul li a{display:block; position:relative; width:100%; height:100%; overflow:hidden;}
.main-event-list ul li a img{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); max-width:770px;}
.layer-pop.main-visual-pop .btn-pop-close{right:-45px;}


/* 환상의 꿀조랍 */

.recoom-mix-menu{text-align:center}
.recoom-mix-menu .swiper-wrapper{width:auto !important;text-align:center;display:inline-block}
.recoom-mix-menu .swiper-slide{width:auto !important;display:inline-block }
.recoom-mix-menu .swiper-slide button{display:inline-block;height:42px;line-height:40px;border:1px solid #ccc;border-radius:21px;padding:0 22px;white-space:nowrap;color:#666}
.recoom-mix-menu .swiper-slide-thumb-active button{background:#ff6001;border-color:#ff6001;color:#fff}
.recomm-mix-cont{margin-top:40px;font-size:0}
.recomm-mix-cont .visual-area{display:inline-block;position:relative;width:690px;height:450px;overflow:hidden}
.recomm-mix-cont .visual-img{display:block;width:690px;height:450px;overflow:hidden}
.recomm-mix-cont .context{padding:22px 20px 20px;background:rgba(255,255,255,.8);border-radius:5px;position:absolute;right:18px;bottom:26px;;width:368px}
.recomm-mix-cont .context .title{font-size:19px;font-weight:bold;display:block;letter-spacing:-0.2px}
.recomm-mix-cont .context .text{margin-top:6px;color:#666;line-height:20px;letter-spacing:-0.2px;font-size:13px}
.recomm-mix-cont .mix-prod-list{display:inline-block;border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;width:410px;vertical-align:top;height:450px;box-sizing:border-box}
.recomm-mix-cont .mix-prod-list .scroll-area{overflow-y:auto;height:405px}
.recomm-mix-cont .mix-prod-list li{font-size:0;width:100%;padding:0 30px 0 20px;margin-top:16px}
.recomm-mix-cont .mix-prod-list .custom-checkbox .checkbox + label{padding-left:36px}
.recomm-mix-cont .mix-prod-list .custom-checkbox .checkbox + label:before{border-radius:0;top:30px}
.recomm-mix-cont .mix-prod-list figure{display:inline-block;width:80px;height:80px;border-radius:2px;overflow:hidden}
.recomm-mix-cont .mix-prod-list .prod-link{display:inline-block;width:calc(100% - 118px)}
.recomm-mix-cont .mix-prod-list .prod-name{display:inline-block;width:calc(100% - 65px);margin-right:10px}
.recomm-mix-cont .mix-prod-list .prod-name .dis-tbl{display:table-cell;vertical-align:middle;height:80px;font-size:14px;line-height:20px;color:#222;padding-left:12px}
.recomm-mix-cont .mix-prod-list .prod-price{height:80px;line-height:80px;font-size:12px;display:inline-block;vertical-align:top;text-align:right}
.recomm-mix-cont .mix-prod-list .prod-price strong{font-size:15px}
.recomm-mix-cont .btn-group-flex{display:flex;width:calc(100% + 1px)}
.recomm-mix-cont .btn-group-flex .btn-basic-md{height:44px}
.recomm-mix-cont .btn-group-flex > button{flex:1}
