/*========================================================
 상품상세
========================================================*/
.goods-wrap{overflow:hidden}
.goods-tab-area .btn-article-lg{width:auto}


/* common */
.divider{height:8px;background:#f2f2f2;border:0}
.goods-div-tit{font-size:16px}
.arr-link{display:inline-block;line-height:16px;color:#333}
.arr-link:after{display:inline-block;content:"";width:3px;height:3px;border:1px solid #333;border-left:0;border-bottom:0;transform:rotate(45deg);vertical-align:top;margin:5px 0 0 3px}
.arr-link2{display:inline-block;line-height:16px;color:#ff6001;margin-top:6px}
.arr-link2:after{display:inline-block;content:"";width:5px;height:5px;border:1px solid #ff6001;border-left:0;border-bottom:0;transform:rotate(45deg);vertical-align:top;margin:4px 0 0 3px}

.data-none{text-align:center;padding:160px 0;font-size:14px;color:#666;border-top:1px solid #ebebeb;margin-top:20px}

/* goods info */
.goods-info-area{padding:23px 15px 0}
.goods-info-area .divider{margin:0 -20px}
.goods-info-area .brand-info .flag{display:inline-block;border:1px solid #677ea0;border-radius:1px;box-sizing:border-box;height:16px;line-height:16px;padding:0 5px;font-size:10px}
.goods-info-area .goods-tit{margin-top:4px;font-size:16px}
.goods-info-area .rating{margin-top:20px}
.goods-info-area .rating .text-guide-sm{color:#666;position:relative;top:-1px}

.goods-price{position:relative}
.goods-price .sale{display:inline-block;font-size:24px;color:#ff6001;font-family:'Roboto'}
.goods-price .price{display:inline-block;color:#333;font-size:16px}
.goods-price .price strong{font-size:24px}
.goods-price .origin{display:inline-block;font-size:16px;color:#999;text-decoration:line-through}
.goods-price .btn-util{position:absolute;top:2px;right:0;height:22px;width:65px}
.goods-price .btn-util .btn-icon-shard{vertical-align:top}

.btn-icon-wish{display:inline-block;vertical-align:middle;margin-left:10px;height:22px}
.btn-icon-wish input{z-index:-10;position:absolute;opacity:0}
.btn-icon-wish label{display:block;width:25px;height:22px;background:url(../images/icon/ico_wish.png) no-repeat 0 0/25px auto;text-indent:-99999em}
.btn-icon-wish input:checked + label{background-position:0 -22px}

.orange-mem-box{margin-top:14px;border:1px solid #ccc;box-sizing:border-box;border-radius:4px;padding:0 11px 0 18px}
.orange-mem-box .box-head{height:36px;line-height:36px;font-size:14px;position:relative;display:block}
.orange-mem-box .box-head .ico-bl-orgmem{display:inline-block;width:14px;height:16px;background:url(../images/icon/icon_mem.png) no-repeat 0 0/100% auto;vertical-align:middle;margin-right:4px;position:relative;top:-2px}
.orange-mem-box .box-head .ico-arr-right{position:absolute;right:0;top:calc(50% - 7px)}
.orange-mem-box .box-head .ico-arr-right:before,
.orange-mem-box .box-head .ico-arr-right:after{color:#999}
.orange-mem-box .sale-desc{margin:8px 0}
.orange-mem-box .sale-desc li{line-height:28px;font-size:0}
.orange-mem-box .sale-desc li span{display:inline-block;width:40%;font-size:13px;color:#333}
.orange-mem-box .sale-desc li em{text-align:right;display:inline-block;width:60%;font-size:16px;color:#333}
.orange-mem-box .sale-desc li em.price{color:#ff6001}
.orange-mem-box .sale-desc li em strong{font-size:20px;font-family:'Roboto'}

.goods-coupon-box{display:block;width:100%;height:36px;line-height:36px;background:#fff2e2;border-radius:4px;margin:10px 0 30px;box-sizing:border-box;padding-left:18px;font-size:13px;color:#333;position:relative}
.goods-coupon-box .icon-down{position:absolute;top:0;right:0;width:46px;text-align:center;border-left:1px dashed #ffdaac}
.goods-coupon-box:before{content:"";width:0;height:0;border-top:4px solid #fff;border-bottom:4px solid transparent;border-right:4px solid transparent;border-left:4px solid transparent;position:absolute;top:0;right:42px;z-index:10}
.goods-coupon-box:after{content:"";width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid #fff;border-right:4px solid transparent;border-left:4px solid transparent;position:absolute;bottom:0;right:42px;z-index:10}
.goods-coupon-box.complete{pointer-events:none;background:#eee;color:#999}
.goods-coupon-box.complete .icon-down{border-color:#ccc}
.goods-coupon-box.complete .ico-btn-download2{background:url(../images/icon/ico_down_gray.png) no-repeat 0 0/100% auto}

.table-group{display:table;width:100%;table-layout:fixed;position:relative;padding:18px 0}
.table-group ~ .table-group:after{content:"";position:absolute;top:0;left:-20px;height:1px;width:100vw;background:#ededed}
.table-group .table-item{display:table;width:100%}
.table-group .table-item ~ .table-item{margin-top:15px}
.table-group .table-item > em{display:table-cell;vertical-align:top;width:93px;color:#666;font-size:12px;font-weight:normal}
.table-group .table-item > .td-item{display:table-cell;vertical-align:top;color:#333}
.table-group .table-item > .td-item .dash{color:#ccc;display:inline-block;vertical-align:top;margin:2px 3px 0}
.table-group .table-item > .td-item li + li{margin-top:5px}
.table-group .imgbadge-dlv-exp{margin-right:7px}
.table-group .imgbadge-dlv-free{margin-left:7px}

.dlv-way-box{position:relative;margin-bottom:-2px}
.dlv-way-box .ui-toggle-btn{position:relative;top:-2px;margin-left:9px}
.dlv-way-box .ui-toggle-btn [class*="ico-arr-"]{width:14px;height:14px;color:#999}
.dlv-tb-detail{border:1px solid #ccc;border-radius:6px;overflow:hidden;margin:15px 0 0 -93px}
.dlv-tb-detail table{width:100%}
.dlv-tb-detail thead th{background:#f5f5f5;padding:10px 0;text-align:center}
.dlv-tb-detail th{padding:0 0 0 15px}
.dlv-tb-detail td{padding:0 15px}
.dlv-tb-detail th + td,
.dlv-tb-detail td:first-child ~ td{padding-left:0}
.dlv-tb-detail th,
.dlv-tb-detail td{font-size:12px;text-align:left;font-weight:400}
.dlv-tb-detail tr td:first-child{padding-right:0}
.dlv-tb-detail .border-left{border-left:1px solid #ccc}
.dlv-tb-detail strong{font-weight:700}
.dlv-tb-detail table tr:nth-child(1) > th,
.dlv-tb-detail table tr:nth-child(1) > td{padding-top:10px;padding-bottom:5px}
.dlv-tb-detail table tr:nth-child(2) > th,
.dlv-tb-detail table tr:nth-child(2) > td{padding-bottom:10px}
.dlv-tb-detail table tr:nth-child(3) > th,
.dlv-tb-detail table tr:nth-child(3) > td{padding-top:10px;position:relative}
.dlv-tb-detail table tr:nth-child(3) > td:before{position:absolute;top:0px;display:block;content:'';height:1px;background:#ccc}
.dlv-tb-detail table tr:nth-child(3) > td:nth-child(1):before{width:100% }
.dlv-tb-detail table tr:nth-child(3) > td:nth-child(2):before{width:calc(100% - 15px)}
.dlv-tb-detail table tr:last-child > th,
.dlv-tb-detail table tr:last-child > td{padding-bottom:10px}

/* best review */
.best-review-area{position:relative}
.best-review-area .goods-div-tit{padding:18px 20px}
.best-review-area .swiper-container{overflow:visible;padding-bottom:42px}
.best-review-area .swiper-slide{box-sizing:border-box;padding:0 120px 0 20px}
.best-review-area .review-detail .img{position:absolute;width:80px;height:80px;right:20px;top:0}
.best-review-area .review-detail .img .added{width:30px;height:30px;background:rgba(0,0,0,.5);text-align:center;line-height:30px;color:#fff;font-weight:bold;font-family:'Roboto';position:absolute;right:0;bottom:0}
.best-review-area .review-detail .txt{position:relative;top:-6px}
.best-review-area .sep-list{color:#999;font-weight:normal;font-family:'Roboto';margin-top:4px}
.best-review-area .sep-list.type3 li > span{vertical-align:top}
.best-review-area .sep-list.type3 li > .name{font-weight:normal}
.best-review-area .detail{margin-top:12px}
.best-review-area .swiper-pagination{bottom:20px}
.best-review-area > .btn-default{position:absolute;top:14px;right:20px}
.best-review-area > .btn-default span{font-size:12px;color:#666}
.best-review-area > .btn-default .arr-link:after{border-color:#666;position:relative;top:1px}

/* content */
.goods-detail-wrap .tab-detail.fixed{position:fixed;top:0;z-index:99 ;width:100%;background:#fff}

.goods-detail-wrap .img-info-text{text-align:center;background:#eee;margin:0 20px;border-radius:22px;height:44px;line-height:44px;margin-top:30px;color:#666}
.goods-detail-wrap .btn-area{margin:0 20px}
.goods-detail-wrap .goods-article{padding-bottom:20px;box-sizing:border-box}
.goods-detail-wrap .goods-article .inner-content{height:730px;overflow:hidden}
.goods-detail-wrap .goods-article .inner-content{height:auto}
.goods-detail-wrap .btn-area{position:relative}
.goods-detail-wrap .btn-area button{width:100%}
.goods-detail-wrap .btn-area button span{font-size:15px}
.goods-detail-wrap .btn-area .ico-arr-toggle{position:relative;top:2px}
.goods-detail-wrap .btn-area:after{content:"";width:100vw;height:50px;background: linear-gradient(180deg, rgba(255,255,255,0.02) 0%, rgba(255,255,255,1) 100%);position:absolute;top:-50px;left:-20px}
.goods-detail-wrap .goods-article.active .btn-area:after{display:none}

/* .goods-tab-area .tab-target{position:absolute;top:-130px;font-size:0} */
.goods-detail > div{position:relative}

.goods-article-sub{border-bottom:8px solid #f2f2f2;margin:0 -15px 25px;padding:0 15px}
.stat-box .point-area{font-size:0;margin:16px -20px 20px;text-align:center}
.stat-box .point-area > div{display:inline-block;width:50%;vertical-align:top}
.stat-box .point-area .point-num{font-size:26px;display:block;font-family:'Roboto';text-align:center;margin-top:9px}
.stat-box .point-area .total{font-size:12px;color:#999;display:block;text-align:center;margin-top:7px}
.stat-box .graph-list{margin:0 -10px}
.stat-box .ui-toggle-btn{height:46px;border-top:1px solid #e5e5e5;line-height:46px;box-sizing:border-box;display:block;width:100vw;margin:0 -15px}

.graph-list > li{position:relative;display:inline-block;padding:20px 0;margin:0 10px}
.graph-list > li .bg-bar{position:relative;background:#f2f2f2;border:1px solid #eee;width:8px;height:50px;border-radius:100px}
.graph-list > li .bg-bar .per{position:absolute;top:-20px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);color:#fff;font-size:10px;background:#FF6001;border-radius:4px;padding:0 3px;min-width:28px;height:16px;font-weight:700;text-align:center;line-height:1.6}
.graph-list > li .bg-bar .bar{position:absolute;bottom:0;left:0;width:100%;border-radius:100px;background:#ddd}
.graph-list > li .bg-bar.on .bar{background:#FF6001}
.graph-list > li .bg-bar .point{position:absolute;bottom:-20px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);color:#999;font-size:12px}

.eval-area{position:relative;padding:0 10px;margin-bottom:30px}
.eval-list{font-size:0}
.eval-list ~ .eval-list{margin-top:8px}
.eval-list > dt{display:inline-block;width:70px}
.eval-list > dd{position:relative;overflow:hidden;font-size:13px;display:inline-block;height:28px;vertical-align:top;line-height:28px;width:calc(100% - 70px)}
.eval-list > dd:after{position:absolute;top:13px;left:0;display:block;content:'';width:100%;height:1px;border-top:1px dashed #ccc}
.eval-list > dt .badge-primary{width:70px;height:28px;font-size:14px;font-weight:400;line-height:28px;box-sizing:border-box}
.eval-list > dd .txt{position:relative;z-index:1;float:left;background:#fff;padding:0 10px;font-size:14px}
.eval-list > dd .num{position:relative;z-index:1;float:right;background:#fff;padding-left:10px;font-size:12px}
.eval-list > dd .num strong{font-size:16px}

.goods-detail-head{position:relative}
.goods-detail-head .tit{font-size:16px;font-weight:700}
.goods-detail-head .tit span{font-size:14px;color:#666;font-weight:normal;font-family:'Roboto'}
.goods-detail-head .right{position:absolute;top:50%;right:20px;transform:translateY(-50%);-webkit-transform:translateY(-50%)}
.goods-detail-head .right .btn-basic-sm{ min-width:110px}
.goods-detail-qna .goods-detail-head .tit{padding-left:15px}

.goods-detail-review{padding:20px 15px 30px}
.goods-detail-review .util-group{position:relative;margin-top:13px}
.goods-detail-review .util-group .sorting-list{position:relative}
.goods-detail-review .util-group .sorting-list:after{content:"";width:100vw;height:1px;background:#e5e5e5;left:-20px;position:absolute;bottom:0}
.goods-detail-review .util-group .sorting-list li{line-height:30px;height:36px;display:inline-block}
.goods-detail-review .util-group .sorting-list li label{padding:0 10px}
.goods-detail-review .util-group .right{position:absolute;right:0;top:0}
.goods-detail-review .util-group .btn-refresh{text-indent:-9999em;display:inline-block;width:30px;height:30px;text-align:center;background:#eee url(../images/icon/ico_refresh.png) no-repeat 50% 50%/10px auto;border-radius:11px;margin-left:7px;box-sizing:border-box;border:1px solid #eee}
.goods-detail-review .custom-radio .radio-chk-btn + label{height:30px;border-color:#ddd;padding:6px 10px}
.goods-detail-review .custom-radio .radio-sort + label{position:relative;height:36px;z-index:10}
.goods-detail-review .custom-radio .radio-sort:checked + label{color:#333;border-bottom:2px solid #333;box-sizing:border-box}
.goods-detail-review .btn-more{margin-top:40px}

.review-info-text{font-size:12px;color:#999;background:#f8f8f8;border-radius:1px;margin-top:16px;text-align:center;padding:8px 15px;line-height:16px}

.goods-review-list .review-item{padding:30px 0 34px;border-bottom:1px solid #e6e6e6}
.goods-review-list .review-item:last-child{border-bottom:0}
.review-item .list-inner{position:relative}
.review-item .post-info{position:relative;padding-left:39px;min-height:44px}
.review-item .post-info .user-level{position:absolute;top:0;left:0;width:36px}
.review-item .post-info .user-level img{width:100%}
.review-item .post-info .rating-point{display:inline-block;vertical-align:middle;margin-right:5px}
.review-item .post-info .sep-list{display:inline-block;vertical-align:middle;margin-right:10px;color:#666;margin-top:3px}
.review-item .post-info .sep-list li{font-size:12px}
.review-item .post-info .sep-list.type3 li > .name{font-weight:normal}
.review-item .post-info .sep-list li:before{margin-top:-1px}
.review-item .post-info [class^="badge-sm-"]{display:inline-block;vertical-align:middle;margin-right:2px;line-height:18px;line-height:18px;font-size:11px;padding:0 4px;min-width:auto}
.review-item .post-info .badge-sm-default{border-color:#333;color:#333}
/* .review-item .list-inner{position:relative;margin-top:15px;padding-right:100px} */
.review-item .option{color:#999;width:calc(100% - 80px);margin-top:10px}
.review-item .review{display:block;display:-webkit-box !important;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all;line-height:20px;margin-top:10px;max-height:48px}
.review-item .img{position:absolute;top:0;right:0;width:70px;height:70px;overflow:hidden}
.review-item .img .added{position:absolute;bottom:0;right:0;display:inline-block;color:#fff;font-weight:700;font-size:13px;background:rgba(0, 0, 0, 0.5);min-width:30px;height:30px;text-align:center;line-height:2.2}
.review-item .option .tit{font-weight:700;padding-right:5px}
.goods-review-detail{margin:10px -15px 0;padding:0 15px}
.goods-review-detail .my-tip{margin-bottom:10px}
.goods-review-detail .my-tip em{display:block;font-weight:bold;line-height:20px}
.review-item .ui-toggle-btn{position:absolute;bottom:-24px;right:0} 


/* 리뷰 토글영역 활성화시 */
.review-item .list-inner.ui-toggle.on .img{display:none}
.review-item .list-inner.ui-toggle.on .review{display:block !important;-webkit-line-clamp:inherit;overflow:visible;max-height:none}

.review-eval-box{background:#f8f8f8;padding:10px 20px;margin-top:10px}
.review-eval-box ul{text-align:center}
.review-eval-box ul li{display:inline-block;vertical-align:top;font-size:0}
.review-eval-box ul li ~ li:before{content:"";width:1px;display:inline-block;height:10px;background:#e6e6e6;margin:0 6px}
.review-eval-box ul li .tit{font-weight:normal;font-size:12px;color:#333}
.review-eval-box ul li .txt{color:#999;padding-left:5px;font-size:12px}
.review-item .txt-change{text-indent:-9999em;font-size:0}

.answer-box{padding:20px 15px;margin:0 -15px;background:#f8f8f8}
.answer-box .answerer-info .img{display:inline-block;vertical-align:middle;width:32px;height:32px;overflow:hidden}
.answer-box .answerer-info .sep-list{display:inline-block;vertical-align:middle;color:#666}
.answer-box .answerer-info .txt .date{padding-left:5px}
.answer-box .answer-message{color:#666;font-size:13px;margin-top:10px}

.fixed-option{position:fixed;width:100%;left:0;bottom:0;z-index:10;min-height:70px;transition:.3s}
.fixed-option .btn-toggle{position:absolute;top:-24px;left:calc(50% - 40px);background:#ebebeb;border:1px solid #ddd;border-radius:8px 8px 0 0;width:80px;height:25px;line-height:25px}
.fixed-option .btn-toggle span{text-indent:-99999em;font-size:0}
.fixed-option .btn-toggle span:after{content:"";display:inline-block;width:8px;height:8px;border:2px solid #ff6001;border-left:0;border-bottom:0;transform:rotate(-45deg);transition:.3s;position:relative;top:2px}
.fixed-option .btn-toggle.open span:after{transform:rotate(135deg);transition:.3s;border-color:#666;top:-2px}

.fixed-option .option-btn{background:#f5f5f5;height:70px;box-sizing:border-box;border-top:1px solid #ddd;padding:10px 10px 12px;position:absolute;width:100%;bottom:0;transition:.3s;z-index:2}

.fixed-option .option-wrap{background:#f5f5f5;box-sizing:border-box;border-top:1px solid #ddd;padding:10px 10px 12px;position:fixed;width:100%;bottom:-180px;transition:.2s;min-height:164px}
.fixed-option .option-wrap .scroll-area{overflow-y:auto;max-height:278px;margin-bottom:16px}
.fixed-option .option-wrap .scroll-area::-webkit-scrollbar{display:none}
.fixed-option .option-select ~ .option-select{margin-top:5px}
.fixed-option .option-select .option-list{position:absolute;width:100%;padding:10px;left:0px;z-index:10;bottom:-360px;max-height:304px;transition:.5s;background:#f5f5f5}
.fixed-option .option-select .option-list ul{border:1px solid #ff6001;background:#fff;overflow-y:auto;max-height:284px}/* 100% */
.fixed-option .option-select .option-list ul::-webkit-scrollbar{display:none}
.fixed-option .option-select .option-list li{padding:10px;font-size:14px;position:relative}
.fixed-option .option-select .option-list li figure{position:absolute;top:10px;left:10px;width:46px;height:46px;margin-right:7px}
.fixed-option .option-select .option-list li figure ~ em{margin-left:56px}
.fixed-option .option-select .option-list li.soldout em{color:#999}
.fixed-option .option-select .option-list li.soldout .restock{display:block;margin-top:10px;line-height:19px;text-align:right}
.fixed-option .option-select .option-list li.soldout .restock button{display:inline-block;border-bottom:1px solid #ff6001;line-height:18px;box-sizing:border-box}
.fixed-option .option-select .option-list li ~ li{border-top:1px solid #ddd}
.fixed-option .option-select .option-list li em{display:inline-block;line-height:18px}
.fixed-option .option-select .option-list li strong{display:block;margin-top:10px;line-height:19px;text-align:right}
.fixed-option .option-select .sel-close{position:absolute;top:-24px;left:calc(50% - 40px);background:#f5f5f5;border:1px solid #ddd;border-radius:8px 8px 0 0;width:80px;height:25px;line-height:25px;display:none}
.fixed-option .option-select .sel-close span{text-indent:-99999em;font-size:0}
.fixed-option .option-select .sel-close span:after{content:"";display:inline-block;width:8px;height:8px;border:2px solid #666;border-left:0;border-bottom:0;transform:rotate(135deg);transition:.2s;position:relative;top:-2px}
.fixed-option .option-select.open .sel-close{display:block;z-index:99999}
.fixed-option .price-info{text-align:right;padding-bottom:14px}
.fixed-option .price-info .add-saving-point{display:inline-block;vertical-align:top}
.fixed-option .price-info .add-saving-point a{display:block;background:#dedede;height:26px;line-height:26px;padding:0 8px;border-radius:3px;;position:relative;margin-right:16px}
.fixed-option .price-info .add-saving-point a:after{content:"";width:0;height:0;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:9px solid #dedede;border-right:7px solid transparent;position:absolute;right:-14px;top:7px}
.fixed-option .price-info .add-saving-point span:before{content:"";width:12px;height:8px;background:url(../images/icon/ico_crown.png) no-repeat 0 0/100% auto;display:inline-block;vertical-align:1px;margin-right:3px}
.fixed-option .price-info .add-saving-point span:after{content:"";width:5px;height:5px;border-top:1px solid #666;border-right:1px solid #666;transform:rotate(45deg);display:inline-block;vertical-align:2px}
.fixed-option .price-info .price-area{display:inline-block;vertical-align:top}
.fixed-option .price-info .price-area .total-price{font-size:15px}
.fixed-option .price-info .price-area .total-price strong{font-size:20px}
.fixed-option .price-info .price-area .total-price strong span{font-size:18px}
.fixed-option .price-info .price-area .saving-point{display:block;font-size:12px;color:#999}


.fixed-option .option-select > a{display:block;border:1px solid #f4ab3c;background:#fff;height:36px;line-height:36px;font-size:14px;padding-left:10px;position:relative}
.fixed-option .option-select > a:before{width:36px;height:36px;position:absolute;top:-1px;right:-1px;background:#f4ab3c;content:""}
.fixed-option .option-select > a:after{content:"";width:7px;height:7px;border:2px solid #fff;border-left:0;border-bottom:0;transform:rotate(135deg);position:absolute;top:10px;right:12px}
.fixed-option .selected-option-area{margin-top:10px}
.fixed-option .selected-option-item{background:#fff;padding:15px;position:relative}
.fixed-option .selected-option-item ~ .selected-option-item:before{content:"";width:calc(100% - 30px);height:1px;background:#f5f5f5;position:absolute;top:0;left:15px}
.fixed-option .selected-option-item em{display:block;line-height:18px;width:calc(100% - 30px)}
.fixed-option .option-price{margin-top:9px}
.fixed-option .option-price .price-info{display:inline-block;width:calc(100% - 101px);text-align:right;line-height:30px;vertical-align:top;padding-bottom:0}
.fixed-option .option-price .price-info .origin-price{color:#999;font-size:14px;display:inline-block}
.fixed-option .option-price .price-info .sale-price{font-size:12px;font-weight:bold;display:inline-block;margin-left:3px}
.fixed-option .option-price .price-info .sale-price strong{font-size:16px}
.fixed-option .selected-option-item .item-del{text-indent:-9999em;position:absolute;top:14px;right:15px;width:15px;height:15px}
.fixed-option .selected-option-item .item-del:before{width:14px;height:1px;content:"";background:#999;transform:rotate(45deg);position:absolute;top:7px;right:0}
.fixed-option .selected-option-item .item-del:after{width:14px;height:1px;content:"";background:#999;transform:rotate(-45deg);position:absolute;top:7px;right:0}

.quantity{display:inline-block;vertical-align:top;border:1px solid #ddd;width:96px;box-sizing:border-box;font-size:0}
.quantity button{box-sizing:border-box;width:26px;height:26px;text-indent:-99999em;display:inline-block;vertical-align:top;position:relative}
.quantity .quantity-minus:after{width:11px;height:1px;background:#999;content:"";position:absolute;top:calc(50% - 1px);left:calc(50% - 5px)}
.quantity .quantity-plus:before{width:11px;height:1px;background:#999;content:"";position:absolute;top:calc(50% - 1px);left:calc(50% - 5px)}
.quantity .quantity-plus:after{width:1px;height:11px;background:#999;content:"";position:absolute;left:50%;top:calc(50% - 6px)}
.quantity .quantity-counter{text-align:center;color:#333;background:#fff;line-height:26px;height:26px;width:42px;box-sizing:border-box;display:inline-block;vertical-align:top;border:0;font-size:14px}

.fixed-option .btn-group{display:flex;color:#fff;margin:0 -3px}
.fixed-option .btn-group > a{flex:1;height:48px;border-radius:5px;text-align:center;font-size:16px;line-heighT:48px;font-weight:bold;margin:0 3px}
.fixed-option a.btn-gift{background:#535f71}
.fixed-option a.btn-gift span{display:inline-block;padding-left:21px;background:url(../images/icon/ico_gift_white.png) no-repeat 0 42%/19px auto}
.fixed-option a.btn-buy{background:#ff6001}
.fixed-option a.btn-cart{background:#9096a0}
.fixed-option a.btn-restock{background:#fff;border:1px solid #ff6001;color:#ff6001}

.goods-detail-qna{padding:20px 0 30px}
.goods-detail-qna .btn-more{margin:10px 20px 0}
.qna-item{border-bottom:1px solid #ededed;padding:20px 15px;position:relative}
.qna-item:first-child{padding-top:25px}
.qna-item:last-child{border-bottom:0}
.qna-item .tit:before{content:"Q";display:inline-block;font-weight:bold;color:#3a4c67}
.qna-item .author-info{color:#666;margin-top:15px}
.qna-item .author-info .author{display:inline-block}
.qna-item .author-info .date{display:inline-block;margin-left:10px;padding-left:11px;position:relative}
.qna-item .author-info .date:before{content:"";width:1px;height:12px;background:#ccc;position:absolute;top:2px;left:0}
.qna-item .status{position:absolute;top:22px;right:20px}

.qna-item .detail-view{padding-top:15px}
.qna-item .btn-group{text-align:right;margin-top:15px}
.qna-item .answer-box{padding:30px 20px 30px 40px;position:relative}
.qna-item .answer-box:before{content:"A";position:absolute;top:30px;left:20px;color:#ff6001;font-weight:bold;font-size:16px}

.qna-lock{position:relative;padding:30px 40px 24px;text-align:center}
.qna-lock em{display:block;line-height:20px;font-size:14px}
.qna-lock span{display:block;line-height:20px;font-size:11px;color:#666}
.qna-lock .password-lock{margin-top:10px}
.qna-lock .password-lock input.inp-password{width:calc(100% - 76px);line-height:38px;border:1px solid #ccc;box-sizing:border-box;padding-left:15px}
.qna-lock .btn-close{position:absolute;top:16px;right:16px;width:16px;height:16px}
.qna-lock .btn-close span{display:block;text-indent:-9999em;height:16px}
.qna-lock .btn-close span:after{width:1px;height:18px;background:#999;content:"";position:absolute;top:0;right:50%;transform:rotate(45deg);}
.qna-lock .btn-close span:before{width:1px;height:18px;background:#999;content:"";position:absolute;top:0;right:50%;transform:rotate(-45deg);}

.inqury-wrap{padding:20px}
.inqury-form{margin-top:30px}
.inqury-form .form-group{display:flex;margin:0 -4px}
.inqury-form .form-group .inp-text{flex:1;padding:0 4px}
.inqury-form .form-group .inp-text input{height:40px;border:1px solid #ccc;display:block;width:100%;box-sizing:border-box;padding-left:15px}
.inqury-form .form-group .inp-text input::placeholder{color:#999}
.inqury-form .form-select{margin-top:20px;font-size:0}
.inqury-form .form-select:first-child{margin-top:0}
.inqury-form .form-select .select-box{width:calc(100% - 80px)}
.inqury-form .form-select .custom-checkbox{width:70px;font-size:14px;line-height:40px;margin-left:10px}
.inqury-form .custom-checkbox .checkbox + label:before{width:24px;height:24px;top:8px;border-radius:0}
.inqury-form .custom-checkbox .checkbox:checked + label:before{background-size:90px auto;background-position:-7px -62px}
.inqury-form .textarea{margin-top:12px}
.inqury-form .textarea textarea{resize:none;border:1px solid #ccc;padding:15px;height:240px;width:100%}
.inqury-form .textarea + .full-btn-group{margin-top:30px}
.inqury-form .capcha{border:1px solid #ccc;margin-top:10px;background:url(../images/img/capcha.png) no-repeat 90% 50%/66px auto;height:60px;box-sizing:border-box;padding-left:20px}
.inqury-form .capcha .custom-checkbox{line-height:60px;}
.inqury-form .capcha .checkbox + label{padding-left:36px}
.inqury-form .capcha .checkbox + label:before{top:calc(50% - 12px)}

.full-btn-group{margin-top:22px}
.full-btn-group button{display:block;width:100%}
.full-btn-group button ~ button{margin-top:8px}

.dash-list{font-size:12px}
.dash-list > li{color:#666;padding-left:14px;position:relative;line-height:18px}
.dash-list > li ~ li{margin-top:7px}
.dash-list > li:before{content:"";position:absolute;top:7px;left:0;width:6px;height:1px;background:#666}
.dash-list > li.text-primary:before{background:#ff6001}

.goods-detail-dlv{padding:20px}
.goods-detail-dlv .ul-tb-list{display:table;width:100%;table-layout:fixed;border-top:1px solid #e6e6e6;margin-top:15px}
.ul-tb-list > li{display:table-row;font-size:13px;color:#666}
.ul-tb-list > li > .tit-cell{display:table-cell;width:80px;vertical-align:middle;border-bottom:1px solid #e6e6e6;font-weight:700;background:#f2f2f2;text-align:center;padding:22px 0}
.ul-tb-list > li > .txt-cell{display:table-cell;vertical-align:middle;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 12px;line-height:22px;color:#333}

.goods-detail-dlv ~ .goods-detail-dlv{margin-top:50px}
.goods-qna-list ~ .pagination,
.goods-review-list ~ .pagination{margin-top:30px}

.detail-cs-bnr{border-radius:6px;padding:0 20px 30px}
.detail-cs-bnr > a{display:block;border-radius:6px;border:1px solid #ccc;position:relative;padding:18px 36px 20px 63px}
.detail-cs-bnr > a:before{content:"";position:absolute;top:19px;left:18px;width:42px;height:42px;background:url(../images/icon/ico-cs.png) no-repeat}
.detail-cs-bnr > a:after{width:8px;height:8px;border:2px solid #ccc;border-left:0;border-bottom:0;transform:rotate(45deg);content:"";position:absolute;right:15px;top:calc(50% - 5px)}
.detail-cs-bnr > a ~ a{margin-top:9px}
.detail-cs-bnr > a em{font-size:16px;display:block;margin-bottom:4px}
.detail-cs-bnr > a em strong{font-size:18px;font-family:'Roboto'}
.detail-cs-bnr > a em strong:before{content:"";width:1px;height:14px;display:inline-block;margin:0 10px;background:#e6e6e6;position:relative;top:1px}
.detail-cs-bnr > a span{display:block;font-size:12px;letter-spacing:-.9px}
.detail-cs-bnr > a span.text-primary{margin:10px 0 0 -43px}
.detail-cs-bnr .cs-chating{background:linear-gradient(45deg, #461c3a -20%, #5567a4 40%, #b739c2 140%);border:none;color:#fff}
.detail-cs-bnr .cs-chating:before{top:32px;background-position:0 -42px}
.detail-cs-bnr > a.cs-chating:after{border-color:#fff}
.detail-cs-bnr > a.cs-chating span{display:inline-block;width:112px;margin-top:1px}
.detail-cs-bnr .cs-tell{padding-bottom:15px}
.detail-cs-bnr .cs-tell:before{background-position:0 -84px}

/* 추천상품 */
.prod-recomm{padding:28px 5px 30px}
.prod-recomm .article-title-div .title{line-height:24px;font-size:17px;color:#333;font-weight:bold;padding-left:7px}
.prod-recomm .article-title-div .title:before{content:"";width:0;height:0;border-right:5px solid transparent;border-left:10px solid #333;border-top:7px solid transparent;border-bottom:7px solid transparent;display:inline-block}
.prod-recomm .swiper-slide{display:flex;margin:0;flex-wrap:wrap}
.prod-recomm .swiper-slide .prod-item{width:calc(100% / 3);box-sizing:border-box;padding:0 5px}
.prod-recomm .swiper-util{position:relative;height:28px;margin-top:20px;text-align:center}
.prod-recomm .swiper-util i{margin-top:3px}
.prod-recomm .swiper-util .swiper-pagination{display:inline-block;width:auto;position:static;line-height:28px;margin:0 12px;position:relative;top:-3px}
.prod-recomm .swiper-util .swiper-pagination span:before{content:"0";display:inline-block}
.prod-recomm .swiper-util .swiper-pagination-current{color:#333}
.prod-recomm .swiper-util .swiper-pagination-total{color:#999}
.prod-recomm .swiper-util > button{display:inline-block}
.prod-recomm .desc-bottom{margin-top:8px;color:#000}
.prod-recomm .desc-bottom .price{margin-top:8px;display:block}
.recomm-prod-list .swiper-button-next,
.recomm-prod-list .swiper-button-prev{width:28px;height:28px;background: rgba(255, 255, 255, 0.7);border: 1px solid #E1E1E1;border-radius:100%;position:static}
.recomm-prod-list .ico-arr-right:before{top:0;left:50%;width:1px;height:54%;}
.recomm-prod-list .ico-arr-right:after{bottom:0;left:50%;width:1px;height:54%;}
.recomm-prod-list .ico-arr-left:before{top:0;left:45%;width:1px;height:54%;}
.recomm-prod-list .ico-arr-left:after{bottom:0;left:45%;width:1px;height:54%}

/* 이미지 줌 */
.layer-wrap.full-type{}
.img-zoom-layer{position:fixed;left:0;top:56px;width:100%;height:calc(100% - 56px);overflow:scroll}
.zoom-content{width:100%;height:100%}
.img-zoom .title{font-size:16px;height:56px;line-height:56px;border-bottom:1px solid #dcdcdc;box-sizing:border-box;padding-left:20px;position:fixed;top:0;width:100%;z-index:9;background:#fff}
.img-zoom .layer-inner{padding-top:56px}
.img-zoom .ico-x-normal{width:18px;height:18px}
.img-zoom .ui-close-pop{right:15px}
.zoom-info{position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.2);z-index:99}
.zoom-info p{text-indent:-9999em;width:160px;height:160px;background:url(../images/img/zoon_text.png) no-repeat 50% 50%/160px auto;position:absolute;top:calc(50% - 80px);left:calc(50% - 80px)}
.zoom-action{position:fixed;right:20px;bottom:93px;box-sizing:border-box;border:1px solid #ddd;border-radius:6px;overflow:hidden;}
.zoom-action button{display:block;width:36px;height:36px;background:#fff;position:relative}
.zoom-action button ~ button{margin-top:-1px;border-top:1px solid #ddd}
.zoom-action button span,
.zoom-close span{text-indent:-9999em;font-size:0}
.zoom-action .plus span:before{width:15px;height:1px;content:"";background:#666;position:absolute;top:50%;left:calc(50% - 7px)}
.zoom-action .plus span:after{width:1px;height:15px;content:"";background:#666;position:absolute;top:calc(50% - 7px);left:50%}
.zoom-action .minus span:before{width:15px;height:1px;content:"";background:#666;position:absolute;top:50%;left:calc(50% - 7px)}
.zoom-close{position:fixed;right:20px;bottom:40px;width:38px;height:38px;border:1px solid #ddd;border-radius:50%;background:#fff url(../images/icon/ico_back.png) no-repeat 50% 50%/17px auto}

/* 쿠폰받기 */
.popup-coupon .layer-inner{display:flex;flex-direction:column}
/* .popup-coupon.layer-wrap.full-type .layer-body{height:calc(100% - 90px);max-height:calc(100% - 90px)} */
.popup-coupon .coupon-summary{margin-top:58px;background:#f8f8f8;height:80px;text-align:center;box-sizing:border-box;padding:20px 0;display:flex}
.popup-coupon .coupon-summary > div{flex:1;position:relative}
.popup-coupon .coupon-summary > div em{display:block;font-size:12px}
.popup-coupon .coupon-summary > div strong{display:block;margin-top:4px;font-size:14px;color:#ff6001}
.popup-coupon .coupon-summary > div.origin-price strong{color:#333}
.popup-coupon .coupon-summary > div.sale-price:after{content:"";width:10px;height:1px;background:#333;position:absolute;left:-5px;top:50%}
.popup-coupon .coupon-summary > div.coupon-price:after{content:"";width:10px;height:1px;background:#333;position:absolute;left:-5px;top:46%}
.popup-coupon .coupon-summary > div.coupon-price:before{content:"";width:10px;height:1px;background:#333;position:absolute;left:-5px;top:54%}
.popup-coupon .layer-small-head{height:30px;line-height:30px;position:relative;padding:0 20px;margin-bottom:10px}
.popup-coupon .layer-small-head h5{font-size:15px;color:#000;font-weight:bold}
.popup-coupon .layer-small-head .side{position:absolute;top:0;right:20px}
.popup-coupon .coupon-list{margin:0 20px}
.popup-coupon .bottom-btn{height:90px;box-sizing:border-box;padding:12px 20px 30px;box-shadow:0 -2px 8px rgba(0,0,0,.1)}
.popup-coupon .bottom-btn button{width:100%}

.coupon-list .coupon-item{height:130px;display:flex;align-items:center;box-sizing:border-box;margin-bottom:10px}
.coupon-list .custom-radio .radio-circle + label{border:1px solid #ccc;border-radius:4px;padding:0 70px 0 48px;height:128px;width:100%}
.coupon-list .custom-radio .radio-circle + label:before{left:14px;top:calc(50% - 9px);width:18px;height:18px}
.coupon-list .custom-radio .radio-circle:checked + label{border-color:#ff6001}
.coupon-list .custom-radio .radio-circle:checked + label:before{width:18px;height:18px;background-size:46px auto}
.coupon-list .coupon-item .coupon-down{width:68px;text-align:center;}
.coupon-list .coupon-item .coupon-discount{display:block;line-height:22px;font-size:16px;font-weight:bold;color:#ff6001;padding-top:12px}
.coupon-list .coupon-item .coupon-discount span{font-size:13px}
.coupon-list .coupon-item .coupon-name{font-weight:bold;line-height:17px;height:34px;margin-top:4px}
.coupon-list .coupon-item .coupon-terms{font-size:12px;color:#888;display:block;margin-top:8px;line-height:15px}
.coupon-list .coupon-item .coupon-expiration{font-size:12px;color:#888;display:block;margin-top:4px;line-height:15px}
.coupon-list .coupon-item .coupon-down{position:absolute;top:0;right:0;height:100%;border-left:1px solid #ddd}
.coupon-list .coupon-item .coupon-down span{font-size:0}
.coupon-list .coupon-item .coupon-down span:after{content:"";width:16px;height:17px;background:url(../images/icon/ico_btns_m.png) no-repeat -55px -75px/75px auto;display:inline-block}
.coupon-list .coupon-item.complete .coupon-down span{font-size:12px;color:#999}
.coupon-list .coupon-item.complete .coupon-down span:after{display:none}

.layer-inner.on .toast-pop{bottom:90px;opacity:1}
.popup-coupon .toast-pop{position:absolute;bottom:60px;opacity:0;top:auto;left:0;transition:.2s;-webkit-transition:.2s;transform:none;width:100%;padding:15px 0;background:rgba(0, 0, 0, 0.7);border-radius:4px 4px 0 0;text-align:center;z-index:9}

/* 냉장고 */
.refrig-header .page-title{text-align:left;padding-left:56px}
.refrig-header .refrig-toggle{position:absolute;top:24px;right:25px;text-decoration:none}

.refrig-wrap{background:#f2f2f2}
.refrig-wrap .dimm{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background:rgba(0,0,0,.5);display:none}
.refrig-list-wrap .refrig-list{display:flex;flex-wrap:wrap;padding:8px}
.refrig-list-wrap .refrig-list .colum{width:50%;padding:2px}

.layer-wrap .layer-pop.review-detail-pop{background:#f2f2f2}
.layer-wrap .layer-pop.review-detail-pop .layer-body{padding-bottom:80px}
.layer-wrap .layer-pop.refrig-pop .layer-inner{padding:60px 30px 0;height:540px;max-height:540px;overflow-y:auto}

.img-slide-wrap{position:relative;padding:0 15px}
.img-slide-wrap .title{font-size:15px;font-weight:bold;padding:20px 0}
.img-slide{border-radius:5px}
.img-slide-wrap .swiper-button-prev{left:0;margin-top:-27px}
.img-slide-wrap .swiper-button-next{right:0;margin-top:-27px}
.review-pop-btn{color:#ccc;width:45px;height:45px;background:rgba(0,0,0,.4)}
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled{display:none}
.swiper-button-prev.review-pop-btn > .ico-arr-left,
.swiper-button-next.review-pop-btn > .ico-arr-right{width:45px;height:45px}
.review-pop-btn > .ico-arr-left:before,
.review-pop-btn > .ico-arr-left:after{width:2px;height:47%;border-color:#fff;margin-left:-3px}
.review-pop-btn > .ico-arr-right:before,
.review-pop-btn > .ico-arr-right:after{width:2px;height:47%;background-color:#fff}
.review-pop-btn > .ico-arr-left:before,
.review-pop-btn > .ico-arr-right:before{top:5px}
.review-pop-btn > .ico-arr-left:after,
.review-pop-btn > .ico-arr-right:after{bottom:5px}

.review-detail-slide .inner-content{overflow:hidden;height:540px;max-height:540px;background-color:#fff}
.review-detail-slide .inner-content .review-pop-img{position:relative;z-index:1;float:left;width:540px;height:540px;overflow:hidden;background:#fff}
.review-detail-slide .inner-content .review-pop-content{position:relative;height:100%;padding:30px}
.review-detail-slide .inner-content .review-pop-img + .review-pop-content{float:right;width:440px}

.review-pop-content .review-pop-top{position:relative;padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #e6e6e6}
.review-pop-content .review-pop-top .tit{font-size:13px;font-weight:400}
.review-pop-content .review-pop-top .btn-link-txt2{position:absolute;top:0;right:0}
.review-post-info{overflow:hidden;margin-top:25px}
.review-post-info .rating-point{float:left}
.review-post-info .sep-list{float:right;line-height:1;margin-top:-2px}
.review-pop-content .option{font-size:12px;color:#999;margin-top:15px}
.review-pop-content .review-view{margin-top:10px;font-size:14px}
.review-pop-content .review-replay-div{background:#ebebeb;border-radius:5px;padding:20px 15px;margin-top:20px;line-height:22px}
.review-detail-pop .bottom-select{position:fixed;width:100%;bottom:0;left:0;overflow:hidden;padding:15px 27px 0 20px;border-top:1px solid #e6e6e6;z-index:9;background:#f2f2f2;height:58px}
.review-detail-pop .bottom-select .txt{float:left;line-height:28px}
.review-detail-pop .bottom-select .right-btn{float:right}
.review-detail-pop .bottom-select .right-btn .custom-radio{margin-left:3px}

.refrig-pop-top{position:fixed;top:0;left:30px;width:calc(100% - 60px);background:#fff;padding:15px 0;z-index:1}
.refrig-pop-top .tit{font-size:18px;font-weight:500}
.refrig-pop-top .btn-link-txt1{position:absolute;top:20px;right:10px}
.refrig-list-wrap{padding-bottom:30px}
.refrig-list-wrap .grid-area-span li .img{width:150px;height:150px;overflow:hidden}
.refrig-list-wrap .no-data{padding:150px 0}
.refrig-list-wrap .no-data .message{color:#999}

.refrig-select-box{display:none;position:fixed;top:59px;right:0;background:#f8f8f8;border:1px solid #ccc;width:100%;z-index:1;padding:24px 20px}
.refrig-select-box.on{display:block}
.refrig-select-box .custom-radio{display:block}
.refrig-select-box .btn-area{margin:10px -4px 14px;display:flex}
.refrig-select-box .btn-area .btn-basic-sm{flex:1;margin:0 4px}
.refrig-select-box > .custom-checkbox{color:#666}
.refrig-select-box > .custom-checkbox .checkbox + label{padding-left:20px}
.refrig-select-box > .custom-checkbox .checkbox + label:before{border-color:#666;width:14px;height:14px;border-radius:0}
.refrig-select-box > .custom-checkbox .checkbox:checked + label:before{background-position:-51px -32px;background-size:48px auto;border:0;background-color:#333;top:1px}

[class*="ico-refrig-"]{display:inline-block;width:30px;height:38px;background:url("../images/icon/ico_refrig_form_m.png") no-repeat}
.ico-refrig-01{background-position:0 -50px}
.ico-refrig-02{background-position:-40px -50px}
.ico-refrig-03{background-position:-80px -50px}
.ico-refrig-04{background-position:-120px -50px}
.custom-radio .refrig-box + label{display:block;position:relative;width:100%;height:190px;cursor:pointer;overflow:hidden;border-radius:5px;text-align:center;background:#fff;padding:39px 18px 0}
.custom-radio .refrig-box + label > .tit{position:relative;display:block;font-size:13px;padding-top:10px;margin-top:10px;font-weight:400}
.custom-radio .refrig-box + label > .tit:before{position:absolute;left:50%;top:0;margin-left:-7px;display:block;width:15px;height:1px;content:'';background:#666}
.custom-radio .refrig-box + label > .txt{display:block;font-size:12px;line-height:16px;margin-top:8px;;letter-spacing:-1px;}
.custom-radio .refrig-box + label:before{position:absolute;content:'';top:0;left:0;width:100%;height:100%;border:1px solid #ccc;border-radius:4px;z-index:2;box-sizing:border-box}
.custom-radio .refrig-box:checked + label > .tit{font-weight:bold}
.custom-radio .refrig-box:checked + label{position:relative;z-index:1;background:#fff;opacity:1}
.custom-radio .refrig-box:checked + label:before{border:2px solid #333;border-radius:4px}
.custom-radio .refrig-box:checked + label .ico-refrig-01{background-position:0 0}
.custom-radio .refrig-box:checked + label .ico-refrig-02{background-position:-40px 0}
.custom-radio .refrig-box:checked + label .ico-refrig-03{background-position:-80px 0}
.custom-radio .refrig-box:checked + label .ico-refrig-04{background-position:-120px 0}

/* 옵션팝업 */
.popup-opt-select{}
.popup-opt-select.layer-wrap .layer-head{padding:15px}
.popup-opt-select.layer-wrap .layer-head .layer-pop-title{font-size:14px}
.opt-select{min-height:362px;padding:0 15px}
.opt-select .select-box{width:100%;min-width:100%;height:50px}
.opt-select .select-box .select-value{height:50px}
.opt-select .select-box .select-list{top:49px}
.opt-select .select-box .select-list a{height:50px;padding-top:18px}
.opt-select ~ .btn-group{padding:15px 13px 30px;display:flex}
.opt-select ~ .btn-group > button{flex:1;margin:0 2px}


/***** 묶음상품 목록 ****/
.goods-bundle-content{padding-bottom:20px}
.goods-bundle-content.active .goods-bundle-list{height:auto;margin-bottom:42px}
.goods-bundle-content .btn-area:after{left:0}
.goods-bundle-content .btn-area{background:#fff;padding:0 20px;margin:0}
.goods-bundle-list{font-size:0;counter-reset:section;height:800px;overflow:hidden;padding:0 8px}
.goods-bundle-list .prod-item{display:inline-block;margin:20px 7px;width:calc(50% - 14px)}
.goods-bundle-list .prod-item .prod-img{width:100%;height:100%;padding-top:100%;border-radius:4px;overflow:hidden;position:relative;display:block}
.goods-bundle-list .prod-item .prod-img img{position:absolute;top:0}
.goods-bundle-list .prod-item .prod-name{font-size:14px;display:block;display:-webkit-box !important;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all;padding-top:29px;position:relative}
.goods-bundle-list .prod-item .prod-name:before{counter-increment:section;content:"0"counter(section);font-size:12px;
    font-weight:600;color:#999;line-height:17px;position:absolute;top:9px}
.goods-bundle-list .prod-item .price{font-size:12px;margin-top:8px;display:block}
.goods-bundle-list .prod-item .price strong{font-size:17px}
.goods-bundle-list .prod-item .option-btn{margin-top:10px;font-size:12px;border:1px solid #e6e6e6;display:flex;border-radius:4px;height:36px;box-sizing:border-box;line-height:36px}
.goods-bundle-list .prod-item .option-btn > a{flex:1;text-align:center;position:relative}
.goods-bundle-list .prod-item .option-btn > a ~ a:before{width:1px;height:14px;content:"";position:absolute;top:11px;left:0;background:#e6e6e6}

.goods-bundle-info{text-align:center;padding:33px 0 12px}
.goods-bundle-info span{display:inline-block;padding-left:30px;background:url(../images/icon/icon_bundle.png) no-repeat 0 30%/18px auto;text-align:left}

.goods-bundle-pop .btn-back{position:absolute;left:18px;top:22px}
.goods-bundle-pop .layer-head{padding:18px 0 17px}
.goods-bundle-pop .dropdown-box{margin:74px 10px 16px;}
.goods-bundle-pop .dropdown-box{width:calc(100% - 20px);max-width:calc(100% - 20px)}
.goods-bundle-pop .dropdown-box.box-md .dropdown-value{height:60px;box-sizing:border-box;vertical-align:middle;display:flex;align-items:center;padding-top:0;padding-bottom:0}
.goods-bundle-pop .dropdown-box .dropdown-value > span{display:block;display:-webkit-box !important;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all;white-space:inherit;text-indent:-20px;padding-left:20px;font-size:14px;color:#333}
.goods-bundle-pop .dropdown-box.box-md{height:60px}
.goods-bundle-pop .dropdown-box.box-md .dropdown-list{top:59px}
.goods-bundle-pop .dropdown-box.box-md .dropdown-list li a{height:60px;display:flex;align-items:center}
.goods-bundle-pop .bundle-title{text-align:center;padding:30px 0 23px}
.goods-bundle-pop .bundle-title > *{display:block}
.goods-bundle-pop .bundle-title em{font-size:18px}
.goods-bundle-pop .bundle-title .prod-name{margin-top:6px;font-size:15px;line-height:24px}
.goods-bundle-pop .bundle-title .price{font-size:16px;margin-top:5px}
.goods-bundle-pop .bundle-title .price strong{font-size:20px}
.goods-bundle-pop .layer-body{height:calc(100% - 80px) !important;max-height:calc(100% - 138px) !important}

.left-detail-area{position:relative;width:100%;height:100%;background:#fff}
.left-detail-area .detail-head-top{background:#fff;padding-top:30px}
.left-detail-area .detail-head-top .tit{text-align:center;padding-bottom:25px;font-size:22px;font-weight:500}
.detail-head-box{padding:20px 20px;background:#F8F8F8;border:1px solid #EEEEEE}
.left-detail-area .inner-scroll-area{overflow-y:auto;height:calc(100% - 175px)}
.layer-pop.goods-detail-pop .layer-inner .ui-close-pop{top:10px;right:20px}

.layer-wrap .layer-pop.alarm-pop{width:350px}
.layer-pop.alarm-pop .layer-inner{padding:40px 20px;text-align:center}
.layer-pop.alarm-pop .layer-inner .ico-img-alarm{display:block;margin:0 auto 20px}
.layer-pop.alarm-pop .layer-inner .tit{font-size:20px;font-weight:500}
.layer-pop.alarm-pop .layer-inner .txt{font-size:13px;color:#666;margin-top:5px}
.layer-pop.alarm-pop .layer-inner .btn-area{margin-top:30px}
.layer-pop.alarm-pop .layer-inner .btn-black{width:100%} 