/*========================================================
 프로모션
========================================================*/
/* 이벤트 */
.page-head ~ .event-list-wrap{margin-top:30px;}
.view-list-top{position:relative; margin-bottom:20px;}
.view-list-top .tit{display:inline-block; font-size:20px; font-weight:500; vertical-align:middle; margin-right:20px;}
.view-list-top .sep-list{display:inline-block; vertical-align:middle;}
.view-list-top .btn-option{position:absolute; top:0; right:0;}

.event-item{position:relative; }
.event-item .img{width:540px; height:170px; overflow:hidden; border-radius:3px;}
.event-item .txt{padding-bottom:10px; margin-top:10px;}
.event-item .txt .date{color:#999; font-size:14px; }
.event-item .txt .tit{font-size:18px; font-weight:500;}

.page-bottom{position:relative}
.page-bottom .right-area{position:absolute; top:0; right:0;}
.page-bottom .right-area .input-group-wrap{width:350px;}
.page-bottom .pagination{padding:9px 0}

.prev-list-bottom{border-bottom:1px solid #ccc;}
.prev-list-bottom .prev-list-tb{display:table; width:100%; table-layout:fixed;}
.prev-list-tb .list-tb-item{display:table-row}
.prev-list-tb .list-tb-item .cla-cell{display:table-cell; width:130px; padding:20px 0; text-align:center; border-top:1px solid #ccc}
.prev-list-tb .list-tb-item .tit-cell{display:table-cell; width:auto; padding:20px 0; border-top:1px solid #ccc}
.prev-list-tb .list-tb-item .tit-cell > a{display:block; max-width:90%; color:#666}
.prev-list-tb .list-tb-item .date-cell{display:table-cell; width:140px; padding:20px 0; text-align:center; border-top:1px solid #ccc}
.prev-list-tb .list-tb-item .date-cell .date{color:#666;}
.prev-list-tb .list-tb-item .cla-cell .txt{font-weight:700;}
.prev-list-tb .list-tb-item .cla-cell [class*="ico-arrfill-"]{margin-left:10px;}
.prev-list-tb .list-tb-item .cla-cell [class*="ico-arrfill-"]:after{border-width:5px 0 5px 6px;}

.event-list-wrap ~ .page-bottom{margin-top:60px;}
.prev-list-bottom ~ .page-bottom{margin-top:30px;}
.view-content-area ~ .prev-list-bottom{margin-top:80px;}


/*이달특가*/
.tm-specials .special-prd-bnr{display: block; width: 100%;}
.tm-specials .special-prd-bnr + .special-prd-bnr{margin-top:10px;}
.benefits-md .benefits-md-bnr{display: block; width: 100%;}

.benefits-md-view{width: 100%;box-sizing: border-box;padding:20px 15px;}
.benefits-md-view::after{display: block;content: "";clear: both;}
.benefits-md-view .bmv-left{float:left;}
.benefits-md-view .bmv-right{float:right;}
.benefits-md-view .bmv-right .btn-card{width: 100px;  background-color: #fff; padding: 6px 0;
border: 1.5px solid #666; border-radius: 19px; box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);}
.benefits-md-view .bmv-right .btn-card.fixed-on{position: fixed;top:30px;right:15px;}
.benefits-md-view .bmv-right .btn-card span{font-size: 16px; font-weight: bold; vertical-align: top;line-height: 1;}
.benefits-md-view .bmv-right .btn-card i{margin:0px 2px 0 0;vertical-align: top;}
.layer-wrap .card-view-box .layer-inner .layer-body{max-height: none !important;}
.layer-wrap .layer-pop.card-view-box .swiper-container{border-radius:10px;overflow: hidden;}
.layer-wrap .layer-pop.card-view-box{background-color: transparent !important;}
.layer-wrap .layer-pop.card-view-box .swiper-pagination-bullet + .swiper-pagination-bullet{margin-left:5px;}
.layer-wrap .layer-pop.card-view-box .swiper-pagination{width:100%;margin-top:20px;}
.layer-wrap .layer-pop.card-view-box .swiper-slide{display: block;}

.benefits-theme .benefits-md-view.fixed-on{position: fixed;top:0px;left:0;z-index: 100;background-color: #fff;}
.benefits-theme-bn{width: 100%;box-sizing: border-box;}
.benefits-theme-bn .benefits-theme-img{display: block;}
.benefits-theme .benefits-md-view.fixed-on ~ .benefits-theme-bn{padding-top:80px;}
.bt-list-tit{width: 100%;}
.bt-list-tit span{width: 100%;display: block;background-color: #fff;border-bottom: 1px solid #f2f2f2;box-sizing: border-box;padding: 15px;font-size: 18px;line-height: 20px;
color: #333;font-weight: bold;}
.benefits-theme-list{width: 100%;box-sizing: border-box;padding:0 15px;}
.benefits-theme-list > li{box-sizing: border-box;padding:20px 0 30px;border-bottom: 1px solid #ededed;}
.benefits-theme-list > li .prd-info-area .column.tit{padding:0 0 0 17px;}
.benefits-theme-list > li .prd-info-area .column.tit .tit{font-size: 14px;color: #333;}
.benefits-theme-list > li .prd-info-area .column.tit .tit + .price-item{margin-top:21px;}
.benefits-theme-list > li .prd-info-area .column.tit .price-item > li{font-size: 12px;color: #333;}
.benefits-theme-list > li .prd-info-area .column.tit .price-item > li .num{font-size: 18px;font-weight: bold;margin-right:2px;}
.benefits-theme-list > li .prd-info-area .column.tit .desc{margin-bottom: 0;margin-top:5px;}


.md-qna-top{width: 100%; text-align: center;padding-top:40px;background-color: #fff;}
.md-qna-tit{display: block;width: 100%;box-sizing: border-box;padding:0 15px;}
.md-qna-tit > img{width:100%;max-width: 256px;}
.md-qna-desc{font-size: 13px;font-weight: 400;color: #333;display: block;box-sizing: border-box;padding: 10px 0px 30px 0px;
margin:0 15px 20px 15px;width:calc(100% - 30px);border-bottom:1px solid #f2f2f2 ;}
.md-qna-list{width: 100%;box-sizing: border-box;padding:0 15px;}
.md-qna-list > li{width: 100%;margin-bottom: 20px;}
.md-qna-questioner{width: 100%;}
.md-qna-questioner::after{display: block;content: "";clear: both;}
.md-qna-questioner .md-qna-left{float: left;font-size: 13px;font-weight: bold;color:#333;}
.md-qna-questioner .md-qna-right{float: right;font-size: 13px;font-weight: 400;color:#999;}
.md-speech-bubble{margin-top:18px;width: 100%;box-sizing: border-box;border: 1px solid #eee;border-radius: 3px;background-color: #F5F5F5;position: relative;
padding:20px;}
.md-speech-bubble::after{display: block;content: "";position:absolute;width: 20px;height: 20px;box-sizing: border-box;border: 1px solid #eee;border-radius: 6px;background-color: #F5F5F5;
top: -10px;left: 12px;z-index: 10;transform: rotate(40deg);}
.md-qna-question{display:block;font-size: 13px;font-weight: 400;color:#666;}
.ico_md_qna{width:8px;display:block;margin:10px 0 6px 0;}
.md-qna-answer{font-size: 13px;color: #333;line-height: 22px;}
.md-qna-answer strong{display: block;margin-bottom:3px;}
.md-ask-fixed{width: 100%;box-sizing: border-box;padding:15px;background-color: #eee;position: fixed;bottom: 47px;left: 0;z-index: 10;}
.md-ask-fixed .md-ask-box{width: 100%;height:50px;background-color: #fff;box-sizing: border-box;padding:15px;position: relative;border: 1px solid #ccc;}
.md-ask-fixed .md-ask-box input{font-size: 14px;font-weight: 400;display: block;width: 100%;box-sizing: border-box;padding-right: 42px;border: 0;}
.md-ask-fixed .md-ask-box input:focus{outline: none;}
.md-ask-fixed .md-ask-box > a{display: block;font-size: 14px;line-height: 20px;color: #ff6001;position: absolute;top: 15px;right: 15px;z-index: 10;
font-weight: bold;}