.dlv-addr-area .list-head{padding:20px 15px; border-bottom:1px solid #ddd}
.dlv-addr-area .list-head .btn-basic-lg{width:100%; margin-bottom:10px }
.dlv-addr-area .addr-pop-list > li{padding:20px 15px; border-bottom:1px solid #ddd}
.addr-pop-list > li .name{font-weight:bold; font-size:15px;}
.addr-pop-list > li .address{font-size:14px; margin:10px 0}
.addr-pop-list > li .list-btns{margin-top:15px;}
.dlv-addr-info{padding:20px 15px;}

.search-zip{min-height:475px; padding-top:75px;}
.search-zip .fix-pop-top{position:fixed; top:63px; left:0; width:100%; background:#fff; padding:0 20px 20px; z-index:1;}

.srch-guide-box{padding:17px 17px 13px; background:#FAFAFA; margin:0 20px 0}
.srch-guide-box .guide-tb{display:table; width:100%; table-layout:fixed; margin-top:10px}
.srch-guide-box .guide-tb dl{display:table-row}
.srch-guide-box .guide-tb dl > dt{display:table-cell; width:50%; padding:5px 0; color:#666; font-weight:bold;}
.srch-guide-box .guide-tb dl > dd{display:table-cell; width:50%; padding:5px 0; color:#666;}


.result-list-area ul li {position: relative; border-bottom: 1px solid #e6e6e6; padding: 20px;}
.result-list-area ul li:first-child{padding:10px 20px 20px}
.result-list-area dl {overflow: hidden;}
.result-list-area dl dt {float:left; width: 40px; height: 20px; color:#fff; font-size: 11px; background-color:#999; border-radius: 1px; line-height: 20px; margin: 4px 12px 4px 0; text-align: center;}
.result-list-area dl dd {overflow: hidden; padding:4px 0 4px 0; font-size: 13px; line-height: 20px;}
.result-list-area .zipcode {font-size:16px; margin-bottom:10px}
/* .result-list-area .zipcode {position:absolute; top:50%; margin-top:-10px; right:30px; font-size: 15px;} */
.result-list-area ul ~ .pagination{margin:20px 0}