/*========================================================
 브랜드관
========================================================*/
.page-head{position:relative; padding-top:60px; background:#fff;}
.page-head .title-area{position:relative; text-align:center; max-width:1100px; margin:0 auto; z-index:11;}
.page-head .title-area .tit{display:inline-block; font-size:30px; font-weight:500;}
.page-head .title-area .right{position:absolute; bottom:0; right:0;}
.page-head .brand-bnr-area{position:relative; width:1100px; height:220px; overflow:hidden; margin:10px auto 0;}
.page-head .brand-bnr-area .check-area{position:absolute; top:20px; right:20px; background: rgba(255, 255, 255, 0.45); width:58px; height:58px; border-radius:100%; padding:17px 0; text-align:center;}

.ui-brand-intro.toggle-on{background:#FF6001; border-color:#FF6001; color:#fff;}
.ui-brand-intro.toggle-on [class*="ico-arr-"]:after,
.ui-brand-intro.toggle-on [class*="ico-arr-"]:before{background-color:#fff;}
.ui-brand-search.on{background:#333; border-color:#333; color:#fff;}
.ui-brand-search.on .ico-plus-xs:before{background:#fff}
.ui-brand-search.on .ico-plus-xs:after{content:none}

.brand-search-area{display:none; position:absolute; left:0; top:0; z-index:10; width:100%; background:#fff; transition:.2s; -webkit-transition:.2s;}
.brand-search-area .inner-area{position:relative; background:#fff; z-index:1; padding:160px 0 45px;}
.brand-search-area .search-head-top{position:relative; width:1100px; margin:0 auto 10px; min-height:50px;}
.brand-search-area .search-head-top .tit{font-size:24px; font-weight:500; line-height:50px;}
.brand-search-area .search-head-top .input-group-wrap{width:360px; position:absolute; bottom:0; right:0;}
.brand-search-area.on{display:block;}
.brand-search-area .input-group > .input-text{z-index:0;}
.brand-search-area .dim{position:absolute; top:0; left:0; width:100%; background:#000; opacity:.5;}

.brand-intro-box{display:none; background:#fff; border: 1px solid #E3E3E3; box-sizing: border-box;  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15); border-radius: 1px; max-width:425px; position:absolute; top:45px;  right:0;}
.brand-intro-box .inner-intro{padding:20px; text-align:left;}
.brand-intro-box .inner-intro > p{font-size:12px; line-height:17px;}
.brand-intro-box .inner-intro > .tit-txt{font-weight:500; margin-bottom:20px;}
.brand-intro-box.on{display:block;}

.article-title-div{position:relative; max-width:1100px; margin:0 auto 20px;}
.article-title-div .title{font-size:20px; font-weight:500;}
.article-title-div .right{position:absolute; top:50%; right:0; transform: translateY(-50%); -webkit-transform: translateY(-50%);}

.sorting-result-tit{position:relative; max-width:1100px; margin:0 auto 20px; font-size:20px; font-weight:500;}


.frame-full-bar{position:relative; min-height:300px; padding-bottom:60px;}
.frame-full-bar:after{position:absolute; bottom:0; left:0; width:100%; height:200px; background:#f8f8f8; z-index: -1;}
.brand-content .frame-full-bar:nth-child(2):after{height:280px; }

.frame-slide-out .brand-swiper-list{padding:0 40px}
.frame-slide-overlap .brand-swiper-list{padding:0 20px}
.frame-slide-overlap .brand-swiper-list .swiper-button-next{right:0}
.frame-slide-overlap .brand-swiper-list .swiper-button-prev{left:0}
.frame-slide-overlap .brand-swiper-list .swiper-button-next,
.frame-slide-overlap .brand-swiper-list .swiper-button-prev{width:40px; height:40px; background: rgba(255, 255, 255, 0.7); border: 1px solid #E1E1E1; border-radius:100%;}
.brand-swiper-list.column5 .swiper-button-next{right:0}
.brand-swiper-list.column5 .swiper-button-prev{left:0}
.frame-slide-out .swiper-button-next{right:-1px}
.frame-slide-out .swiper-button-prev{left:-10px}
.frame-slide-out .brand-swiper-list:after{position:absolute; display:block; content:''; top:0; right:0; width:40px; height:100%; background:#fff; z-index:2;}
.frame-slide-out .brand-swiper-list:before{position:absolute; display:block; content:''; top:0; left:0; width:40px; height:100%; background:#fff; z-index:2;}
.frame-slide-out .swiper-button-prev > .ico-arr-left,
.frame-slide-out .swiper-button-next > .ico-arr-right,
.brand-swiper-list.column5  .swiper-button-prev > .ico-arr-left,
.brand-swiper-list.column5  .swiper-button-next > .ico-arr-right{width:32px; height:32px; color:#000}
.brand-swiper-list.page-slide-note .swiper-wrapper{position:relative; padding-top:40px}
.brand-swiper-list.page-slide-note .swiper-pagination{position:absolute; top:0; right:40px; left:auto; bottom:auto; width:auto;}
.frame-slide-out.slide-tab-type .article-title-div{margin-bottom:-20px}
.frame-slide-out.slide-tab-type .article-title-div .title-tab{position:relative; z-index:3; display:inline-block; width:auto;}

.frame-slide-overlap .brand-list-item .img{border-radius:5px;}
.brand-list-item{position:relative;}
.brand-list-item .img{position:relative; overflow:hidden;}
.brand-list-item .img.w260{width:260px; height:260px; }
.brand-list-item .img .brand-logo{position:absolute; top:50%; left:0; width:100%; text-align:center; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.brand-list-item .txt-area{position:relative; width:100%; height:50px; max-height:50px; margin-top:8px;}
.brand-list-item .txt-area .tit{color:#222; font-size:14px; font-weight:bold; width: 90%; display: block;}
.brand-list-item .txt-area .desc{color:#666; font-size:14px; margin-top:10px}
.brand-list-item .txt-area .desc .ico-bl-heart2{margin-right:5px;}
.brand-list-item .txt-area .slogan{color:#666; font-size:13px;}
.brand-list-item .txt-area .custom-checkbox{position:absolute; top:0; right:0;}

.recomm-brand-list{padding:0 25px}
.recomm-brand-list .swiper-slide{text-align:center;}
.brand-item-name{width:142px; display: inline-block;}
.brand-item-name > a{display:block}
.brand-item-name .img{position:relative; display:block; width:142px; height:142px; overflow:hidden; border-radius:100%; background-color:#F8F8F8; text-align:center;}
.brand-item-name .img > .brand-logo{display:block; position:absolute; width:100%; left:0; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.brand-item-name .name{display:block; text-align:center; font-size:15px;margin-top:10px;}

.brand-box{background:#f8f8f8; border-radius: 5px; padding:20px; height:300px;}
.brand-box .top-title{display:table; width:100%; position:relative; height:60px; margin-bottom:20px;}
.brand-box .top-title .tit{display:table-cell; vertical-align:middle;}
.brand-box .top-title .tit img,
.brand-box .top-title .tit .txt{display:inline-block; vertical-align:middle;}
.brand-box .top-title .tit .txt{margin-left:20px;}
.brand-box .top-title .btn-link-txt4{position:absolute; top:50%; right:0; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.brand-box .brand-in-box .img{display:block; width:156px; height:156px; border-radius: 4px;}
.brand-box .brand-in-box .price{display:block; margin-top:8px; font-size:10px; font-weight:700;}
.brand-box .brand-in-box .price em{ font-size:14px; font-weight:700;}

.brand-box-img{position:relative; width:540px; height:260px; overflow:hidden;}
.brand-box-img:after{display:block; content:''; position:absolute; top:0; left:0; width:250px; height:100%; background-color:transparent; z-index:1;}
.brand-box-img.bg-black:after{background-color:rgba(51, 51, 51, 0.45);}
.brand-box-img.bg-white:after{background-color:rgba(255, 255, 255, 0.45);}
.brand-box-img.bg-black .inner-txt{color:#fff;}
.brand-box-img .inner-txt{z-index:2; position:relative; width:250px; height:260px;}
.brand-box-img .inner-txt .brand-name{position:absolute; top:40px; left:30px; display:block;}
.brand-box-img .inner-txt .desc{position:absolute; bottom:40px; left:30px;}
.brand-box-img .inner-txt .desc > .brand{font-size:15px; font-weight:500;}
.brand-box-img .check-area{position:absolute; top:30px; right:30px; width:60px; height:60px; background: rgba(255, 255, 255, 0.6); border-radius:100%; padding:15px 0; text-align:center;}

.brand-search-wrap .search-head .input-group-wrap.line-type{width:526px; margin:0 auto}
.input-group-wrap.line-type{border-bottom:2px solid #333;}
.input-group-wrap.line-type .input-text::placeholder{color:#666; opacity: 1; /* for Firefox */}
.input-group-wrap.line-type .input-text:-ms-input-placeholder{color:#666;}
.input-group-wrap.line-type .input-text::-ms-input-placeholder{color:#666;}

.sorting-search-box{padding:40px 0; background:#F8F8F8;}
.sorting-search-box .inner{width:1100px; margin:0 auto; padding:0 35px}
.sorting-search-box .inner fieldset{overflow:hidden}
.sorting-search-box .inner fieldset + fieldset{margin-top:15px;}
.sorting-search-box .inner .sort-tit{float:left; position:static; display:inline-block; width:55px; height:30px; text-indent:inherit; line-height:30px; margin-right:20px;}

.sorting-class-list{display:inline-block; overflow:hidden; vertical-align: top;}
.sorting-class-list > li{float:left; vertical-align:top;}
.sorting-class-list > li + li{margin-left:10px;}
.sorting-class-list ~ .sorting-class-list{padding-left:30px; margin-left:25px; position: relative;}
.sorting-class-list ~ .sorting-class-list:before{display:inline-block; position:absolute; top:10px; left:0; content:''; width:1px; height:12px; background:#ccc; vertical-align:middle;}

.title-tab > li{position:relative; display:inline-block; vertical-align:middle;}
.title-tab > li a{color:#999; font-weight:500; font-size:20px;}
.title-tab > li.current a{color:#333;}
.title-tab > li + li:before{position:absolute; top:50%; left:0; transform:translateY(-50%); -webkit-transform:translateY(-50%); display:inline-block; width:3px; height:3px; background:#999; content:''; vertical-align:middle; border-radius:100%;}
.title-tab > li + li{margin-left:5px; padding-left:10px;}

.rank-review-list > li{position:relative; padding-left:156px; height:135px;}
.rank-review-list > li .img{position:absolute; top:0; left:0; width:135px; height:135px; overflow:hidden;}
.rank-review-list > li + li{margin-top:20px}
.review-desc-box{position:relative; background:#FBFBFB; border:1px solid #EEEEEE; border-radius:5px; height:135px; padding:25px 30px}
.review-desc-box:before{display:block; content:''; position:absolute; top:50%; left:-10px; width:20px; height:20px; background:#FBFBFB;  border:1px solid #EEEEEE; border-left:0; border-bottom: 0; transform: rotate(-135deg); -webkit-transform: rotate(-135deg); margin-top:-10px;}
.review-desc-box .review-desc-head{margin-bottom:10px;}
.review-desc-box .review-desc-head .rating{display:inline-block}
.review-desc-box .review-desc-head [class^="label-"]{margin-left:3px;}
.review-desc-box .review-desc-head  .tit{width:100%;font-size:15px; font-weight:500; margin-top:5px;}
.review-desc-box .txt{font-size:16px;}

/* 간격 */
.brand-content .sorting-search-box ~ .sorting-result-tit,
.brand-content .page-head + .brand-search-wrap,
.brand-content .page-head + .frame-full-bar,
.brand-content .sorting-search-box ~ .brand-list-wrap{margin-top:40px}
.brand-search-wrap .search-head ~ .sorting-search-box{margin-top:60px;}
.brand-content .page-head + .frame-slide-out{margin-top:70px;}
.brand-content  .frame-slide-out ~ .frame-full-bar,
.brand-content .frame-sm ~ .brand-search-wrap,
.brand-content .frame-sm ~ .frame-sm:not(.brand-list-wrap ){margin-top:120px;}
.brand-content .frame-full-bar ~ .frame-slide-out,
.brand-content .frame-full-bar ~ .frame-sm{margin-top:100px;}
.brand-content .sorting-result-tit + .brand-list-wrap{margin-top:10px}


/*브랜드관메인*/
.brand-title-area{margin-top:60px;position:relative;padding:0 15px}
.brand-title-area .side{position:absolute;right:15px;top:0}
.brand-titla-area .sorting-sel{position:relative}
.brand-title-area .sorting-sel select{border:0;appearance:none;display:block;padding-right:20px}
.brand-title-area .sorting-sel:after{content:"";width:0px;height:0px;border-top:6px solid #999;border-bottom:5px solid transparent;border-right:5px solid transparent;border-left:5px solid transparent;position:absolute;top:4px;right:0}
.section-title{font-size:16px}

.brand-group-type{padding:15px}
.brand-group-item{border:1px solid #e6e6e6;border-radius:10px;padding:17px 15px;position:relative}
.brand-group-item .btn-icon-wish{position:absolute;top:15px;right:15px}
.brand-group-item .btn-icon-wish label{width:20px;height:17px;background-size:20px auto}
.brand-group-item .btn-icon-wish input:checked + label{background-position:0 -17px}
.brand-group-item .brand-name{font-size:16px;line-height:1}
.brand-group-item .brand-desc{display:block;color:#666;margin-top:3px}
.brand-group-item ~ .brand-group-item{margin-top:15px}
.brand-prod-list{display:flex;margin:10px -3px 0}
.brand-prod-list > li{flex:1;padding:0 3px}
.brand-prod-list figure{border-radius:4px;display:block;overflow:hidden}
.brand-prod-list .prod-price{margin-top:4px;font-size:12px;display:block}

.brand-list-type{padding:15px}
.brand-list-type .brand-prod-list{flex-wrap:wrap;margin:0 -7px}
.brand-list-type .brand-prod-list > li{flex:none;width:50%;padding:0 7px;position:relative;margin-top:20px}
.brand-list-type .brand-prod-list > li:nth-child(-n+2){margin-top:0}
.brand-list-type .brand-name{font-size:14px;line-height:20px;margin-top:6px;display:block;padding-right:30px;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;word-break: break-all}
.brand-list-type .btn-icon-wish{position:absolute;bottom:3px;right:12px;height:15px}
.brand-list-type .btn-icon-wish label{width:18px;height:15px;background-size:18px auto}
.brand-list-type .btn-icon-wish input:checked + label{background-position:0 -15px}

.brand-list-wrap .brand-title-area{margin-top:30px}
.brand-list-wrap .brand-title-area ~ .brand-title-area{margin-top:25px}

.brand-sort-box{width: 100%;height:40px;box-sizing: border-box;font-size: 0;margin-top: -1px;position: relative;z-index: 100;}
.brand-sort-box .bsb-left{width:55%;height: 100%;display: inline-block;vertical-align: top;position: relative;background-color: #fff;}
.brand-sort-box .bsb-right{width:45%;height: 100%;display: inline-block;vertical-align: top;}
.bsb-left-select{display: block;width: 100%;height: 100%;box-sizing: border-box;border: 1px solid #ddd;border-right: 0;padding: 10px 35px 10px 15px;
font-size: 14px;font-weight: 400;color: #666;position: relative;}
.brand-sort-box .bsb-left .bsb-left-select .bsb-left-arrow{position:absolute;top: 17px;right: 15px;z-index: 10;display: block;width: 10px;height: 5px;background-position:0 0;
background:url('../images/icon/bsb_left_arr.png') no-repeat;background-size:10px 5px;}
.brand-sort-box .bsb-left.on .bsb-left-select .bsb-left-arrow{background-position:0 0;    background:url('../images/icon/bsb_left_arr_on.png') no-repeat;background-size:10px 5px;}
.brand-sort-box .bsb-left-layer{display: none;width: 100%;height: auto;position: absolute;top: 39px;left: 0;z-index: 10;background-color: #fff;box-sizing: border-box;
padding:10px 15px;}
.brand-sort-box .bsb-left.on ~ .bsb-left-layer{display: block;}
.bsb-left-search{width: 100%;height: 38px;box-sizing: border-box;border-bottom: 2px solid #666;position: relative;}
.bsb-left-search input{display: block;width: 100%;height: 100%;border: 0;font-size: 14px;color: #333;box-sizing: border-box;padding: 0 25px 0 10px;}
.bsb-left-search input:focus { outline: none; }
.bsb-left-search .ico-search-type2{position: absolute;top: 8px;right: 2px;z-index: 10;}
.search-shortcut-keys{width: 100%;box-sizing: border-box;display: flex;flex-wrap: wrap;padding:24px 0;}
.search-shortcut-keys a{display: block;width: 33.33333%;font-size: 14px;font-weight: 700;color: #333;margin-top:30px;}
.search-shortcut-keys a.on{color:#FF6001;}
.search-shortcut-keys a:nth-child(1){margin-top: 0;}
.search-shortcut-keys a:nth-child(2){margin-top: 0;}
.search-shortcut-keys a:nth-child(3){margin-top: 0;}

.brand-sort-box .bsb-right .select-box{width: 100%;}
.brand-sort-box .bsb-right .select-box .select-value:after{border-top: 0;border-left: 0;width: 9px;height: 6px;background-position:0 0;z-index: 10;
background:url('../images/icon/bsb_right_arr.png') no-repeat;background-size:9px 6px;transform: rotate(0deg);display: block;content: "";position: absolute;top: 16px;right: 15px;}
.brand-sort-box .bsb-right .select-box.on .select-value:after{background-position:0 0;background:url('../images/icon/bsb_right_arr_on.png') no-repeat;background-size:9px 6px;}
.brand-sort-box .bsb-right .select-box.on .select-value{border-color: #ddd;}
.brand-sort-box .bsb-right .select-box.on .select-list{border-color: #ddd;border-top: 0;}
.brand-sort-box .bsb-right .select-box .select-list a{font-weight: 400;}
.brand-sort-box .bsb-right .select-box .select-list a.selected{color:#FF6001;font-weight: 400;}
.brand-sort-box .bsb-right .select-box .select-list li + li{border-top:0;}
.brand-sort-box .bsb-right .select-box .select-list li.bd-top{margin-top:25px;position: relative;}
.brand-sort-box .bsb-right .select-box .select-list li.bd-top::after{display: block;content: "";position: absolute;top: -12px;left: 15px;width: calc(100% - 30px);
height: 1px;background-color: #ddd;}

.bsb-dim{display:none;width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 12;background-color: rgba(0,0,0,0.5);}
.bsb-dim.on{display: block;}

.brand-content .inner-flex{box-sizing: border-box;padding:0px 15px 0px;}
.bsb-main-slide{width: 100%;height: 250px;}
.bsb-main-slide .swiper-slide{width: 200px;height: 250px;background-color: #FF6001;position: relative;display: block;}
.bsb-main-slide .swiper-slide .bsb-item-img{position: absolute;top: 0;left: 0;z-index: 10;width: 100%;display: block;}
.bsb-main-slide .swiper-slide .bsb-item-dim{position: absolute;bottom: 0;left: 0;z-index: 12;width: 100%;display: block;}
.bsb-main-slide .swiper-slide .bsb-item-logo{position: absolute;bottom: 80px;left: calc(50% - 50px);z-index: 15;width: 100px;display: block;}
.bsb-main-slide .swiper-slide .bsb-item-txt{position: absolute;bottom: 30px;left: 50%;z-index: 20;width: 100px;display: block;transform: translateX(-50%);text-align: center;
color: #fff;line-height: 18px;font-size: 13px;}

.bsb-md-slide{box-sizing: border-box;padding: 0 15px;}
.bsb-md-slide .swiper-slide{width: 88px;height: auto;position: relative;display: block;}
.bsb-md-slide .swiper-slide .bsb-md-img{display: block;width: 88px;height: 88px;border-radius: 88px;background-color: #fafafa;margin: 0 auto;position: relative;}
.bsb-md-slide .swiper-slide .bsb-md-img > img{width: calc(100% - 20px);position: absolute;top: 50%;transform: translate(-50%,-50%);left: 50%; vertical-align: top;}
.bsb-md-slide .swiper-slide .bsb-item-txt{display: block;width: 100%;text-align: center;font-size: 13px;color: #333;}

.brand-wish-box{width: 100%;box-sizing: border-box;padding:0 15px;display: flex;flex-wrap: wrap;}
.brand-wish-box > li{width: 50%;margin-top: 20px;}
.brand-wish-box > li a{display: flex; align-items: center;}
.brand-wish-box .bwb-img{width: 60px;height: 60px;display: flex;background-color: #fff;box-sizing: border-box;border-radius: 20px;border: 1px solid #eee;
align-items: center; justify-content: center;}
.brand-wish-box .bwb-img img{width: 80%;}
.brand-wish-box .bwb-name{margin-left: 10px;display: block;font-size: 14px;color: #333;}

.bsb-top-bn{width: 100%;height: auto;position: relative;}
.bsb-top-bn .bsb-top-bg{width: 100%;height: 132px;overflow: hidden;position: relative;}
.bsb-top-bn .bsb-top-bg::after{display: block;content: "";position: absolute;top: 0;left: 0;z-index: 10;width: 100%;height: 100%;background-color: rgba(0,0,0,0.2);}
.bsb-top-bn .bsb-top-bg > img{width: 100%;}
.bsb-top-logo{width: 86px;height: 86px;border-radius: 30px;box-sizing: border-box;border: 1px solid #eee;box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.06);background-color: #fff;
position: absolute;top: 68px;left: calc(50% - 43px);z-index: 10;display: flex;justify-content: center;align-items: center;}
.bsb-top-logo > img{width: 80%;}
.bsb-top-con{box-sizing: border-box;width: 100%;padding:30px 15px;text-align: center;position: relative;}
.bsb-top-con .btn-icon-wish{position: absolute;top: 10px;right: 15px;z-index: 8;}
.bsb-top-con .bsb-store{display: block;text-align: center;font-size:16px ;font-weight: 400;color: #333;line-height: 22px;}
.bsb-txt{display: inline-block;margin: 2px auto 0;position: relative;font-size: 14px;font-weight: 400;color: #666;}
.ico-bsb-arr{width: 9px;height: 6px;display: inline-block;vertical-align: top;background-position:0 0;background:url('../images/icon/bsb_right_arr.png') no-repeat;background-size:9px 6px;
margin-top:4px;}
.bsb-txt-plus{display: none;width: 100%;text-align: center;margin-top:4px;line-height: 21px;font-size: 12px;font-weight: 400;color: #333;}
.bsb-txt-plus strong{display: block;}

.bsb-top-con.on .ico-bsb-arr{transform: rotate(180deg);}
.bsb-top-con.on .bsb-txt-plus{display: block;}

.bsb-rcdp-slide{width: 100%;box-sizing: border-box;padding:0 15px;}
.bsb-rcdp-slide .swiper-container .swiper-slide{width:122px;}
.bsb-rcdp-slide .prd-item.type-sm .price{display: block;}
.bsb-rcdp-slide .imgbadge-dlv-exp{display: block;}

.frame-slide-out.bsb-detail{max-width: none;box-sizing: border-box;padding:0 15px;}
.frame-slide-out.bsb-detail .title-tab > li a{font-size: 16px;}
.frame-slide-out.bsb-detail .brand-swiper-list{padding:0;}
.frame-slide-out.bsb-detail .brand-swiper-list:before{display: none;}
.frame-slide-out.bsb-detail .prd-item.type-sm{display: flex;}
.frame-slide-out.bsb-detail .prd-item.type-sm .img{width: 100px;height: 100px;display: block;margin-right:12px;flex-basis: 100px;    flex-grow: 0;    flex-shrink: 0;}
.frame-slide-out.bsb-detail .prd-item.type-sm .img + .desc-bottom{margin-top:0;margin-bottom: 0;}
.frame-slide-out.bsb-detail .prd-item.type-sm + .prd-item.type-sm{margin-top:25px;}
.frame-slide-out.bsb-detail .swiper-wrapper{padding-top:32px;}
.frame-slide-out.bsb-detail .brand-swiper-list:after{display: none;}
.frame-slide-out.bsb-detail .swiper-pagination{right: 0;text-align: right;top: 2px;bottom: unset;}
.frame-slide-out.bsb-detail .swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet{margin:0 2px;}
.frame-slide-out.bsb-detail .article-title-div{max-width: none;}
.frame-slide-out.bsb-detail .title-tab > li a{font-weight: 700;}
.frame-slide-out.bsb-detail .rank-review-list > li{padding-left: 122px;height: auto;}
.frame-slide-out.bsb-detail .rank-review-list > li .img{width:100px;height:100px;border-radius: 4px;}
.frame-slide-out.bsb-detail .review-desc-box{padding:15px;height: auto;}
.frame-slide-out.bsb-detail .review-desc-box .txt{font-size: 13px;line-height: 19px;white-space: normal; line-height: 20px; height: 40px; text-align: left; word-wrap: break-word; 
display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.frame-slide-out.bsb-detail .review-desc-head .label-primary{padding: 4px;height: auto;min-width: auto;box-sizing: border-box;border: 1px solid #ff6001;border-radius: 2px;background-color: #fff;
color: #ff6001;line-height: 1;margin-top:-5px;}
.frame-slide-out.bsb-detail .rank-review-list > li + li{margin-top: 25px;}

body.lock{overflow: hidden !important;}