/*========================================================
 목록 공통
========================================================*/
/**** Banner item ****/
.bnr-item{position:relative}
.bnr-item .tit{display:block; font-size:17px; font-weight:700; margin-top:17px;}
.bnr-item .desc{display:block; font-size:14px; color:#808080; margin-top:10px;}

/**** Product item ****/
.prd-item,
.prd-item .desc-bottom{position:relative}
.prd-item .desc-bottom{padding:0 15px}
.prd-item .tit{display:block; font-size:16px; line-height:22px; max-height:44px; height:44px; margin-bottom:8px;}
.prd-item .price{font-size:11px; display:inline-block}
.prd-item .price > .num{ font-size:18px; font-weight:bold;}
.prd-item .rating{position:relative; line-height:1; margin-top:10px;}
.prd-item .rating .rating-point{vertical-align: top;} 
.prd-item .rating .text-guide-sm{margin-top:5px; vertical-align:top; line-height: 1;}
.prd-item .rating .right-txt{position:absolute; top:0; right:0; font-size:12px; color:#666}
.prd-item .rating .right-txt > em{font-size:14px;}
.prd-item .rating .right-txt .btn-icon-cart{margin-top:-15px;}
.prd-item .img{position:relative; overflow:hidden;}
.prd-item .desc-bottom .desc-form .select-box-sm{width:100%}
.prd-item .desc-bottom [class*="label-"]{margin-bottom:10px;}
.desc-form .btns-list{position:relative; padding-top:15px; border-top:1px solid #eee}
.desc-form .btns-list > li{display:inline-block; vertical-align:middle; line-height: 1; margin-right:10px;}
.desc-form .btns-list > li:last-child{position:absolute; top:50%; right:0; margin:-5px 0 0}

.floating-lt{position:absolute; left:0; top:0; z-index:1;}
.floating-rb{position:absolute; bottom:5px; right:15px; z-index:1;}

.prd-item .desc-form + .btn-blank{height:calc(100% - 40px)}

.prd-item.type-sm .tit{font-size:14px;line-height:20px;  max-height:40px; height:40px; }
.prd-item.type-sm .img,
.prd-centerd-view1 .prd-item .img{border-radius:4px;}
.prd-item.type-sm .desc-bottom{padding:0}
.prd-item.type-sm .price{margin-bottom:5px;}
.prd-item.type-sm .price > .num{font-size:16px;}
.prd-item.type-sm .rating{margin-top:5px;}

/* 간격 */  
/* .prd-item .img + .timer{margin-top:18px;} */
.prd-item .img + .desc-bottom{margin:15px 0;}
.prd-item .rating + .bottom-badge-div{margin-top:20px;}
.prd-item .desc-bottom + .desc-form{margin-top:10px;}
.bottom-badge-div [class^="label-"]{margin-right:2px; }
/* type-sm */
.prd-item.type-sm .img + .desc-bottom{margin-top:12px; min-height:80px; max-height:160px}
.prd-item .desc-bottom ~ .bottom-badge-div{border-top:1px solid #F2F2F2; padding:12px 15px 10px;}
.bottom-badge-div > img{height:22px; width:auto;}


/**** prd-info-area (장바구니, 주문결제, 마이페이지 상품리스트 공통) ****/
.prd-item-list > li{position:relative; padding:15px; border-bottom:1px solid #f2f2f2}
.prd-item-list > li:last-child{border-bottom:0}
.prd-item-list > li.colum{padding:0; border-bottom:0}
.prd-item-list li .btn-x-sm{position:absolute; top:7px; right:7px}

.prd-info-area{position:relative;}
.prd-info-area .prd-item-name{display:block; margin-bottom:15px; font-size:14px;  color:#333}
.prd-info-area.option-line{position:relative; padding-left:0; padding-top:15px;}
.prd-info-area.option-line .inner{padding-left:15px;}
.prd-info-area.option-line:before{display:block;  content: ''; width: calc(100% - 85px); height: 1px; background: #eee; position: absolute; top: 0; right: 0;}
.prd-info-area.option-line:after{position:absolute; top:20px; left:0; display:block; content:''; width:8px; height:8px; border:2px solid #ccc; border-top:0; border-right:0;}

.prd-info-area .inner{position:relative; display:table; table-layout:fixed; width:100%;}
.prd-info-area .inner + .inner{padding-left:70px; table-layout: auto;}
.prd-info-area .inner + .inner:before{display:block; content:''; width:calc(100% - 85px); height:1px; background:#eee; position:absolute; top:0; right:0}
.prd-info-area .inner .column:only-child{width:100%;}

.prd-info-area .column{display:table-cell; vertical-align:top; text-align:center;}
.prd-info-area .added-btn{padding:0 0 0; text-align:center; margin-bottom:0}
.prd-info-area .btn-x-sm{position:absolute; top:5px; right:-10px;}
.prd-info-area.option-line .btn-x-sm{top:-10px;}
.prd-info-area .inner-bottom{position:relative; line-height:1; vertical-align:top;}
.prd-info-area .inner-bottom .price{font-size:11px; font-weight:bold;}
.prd-info-area .inner-bottom .price .num{font-size:14px;}
.prd-info-area .inner-bottom .btn-sq-sm2{ vertical-align:top;}
.order-item-box .prd-tab-content .added-btn{padding:0 15px 20px;}
.added-btn .btn-basic-md{width:100%}

/* column */
.prd-info-area .column.check{width:35px; vertical-align:middle; padding:0 0 0 1px; text-align:left;}
.prd-info-area .column.img{width:70px; height:70px; overflow:hidden;}
.prd-info-area .column.img.w110{width:110px; height:110px; overflow:hidden;}
.prd-info-area .column.tit{position:relative; padding:0 0 15px 15px; text-align:left; width:auto;}
.prd-info-area .column.qty{width:110px; vertical-align:middle;}
.prd-info-area .column.ea{width:100px; vertical-align:middle;}
.prd-info-area .column.price{width:130px; vertical-align:middle; text-align:right;}
.prd-info-area .column.point{width:110px; vertical-align:middle;}
.prd-info-area .column.btn{width:50px; vertical-align:middle;}
.prd-info-area .column.dlv{width:70px; vertical-align:middle;}
.prd-info-area .column.dlv .btn-option{margin-top:5px}
.prd-info-area .column.tit .order-num{font-size:15px; color:#999; margin-bottom:10px;}
.prd-info-area .column.tit .tit{font-size:13px; color:#333; margin-bottom:3px; font-weight:bold;}
.prd-info-area .column.tit .tit.type2{padding-right:25px}
.prd-info-area .column.tit .desc{font-size:13px; color: #666; margin-bottom:15px;}
.prd-info-area .column.tit .price-item > li{font-size:14px; color:#666; display:inline-block; vertical-align:top;}
/* .prd-info-area .column.tit .price-item > li:not(:first-child):before{display:inline-block; content:'·'; vertical-align:top; margin:2px 5px 0 3px; font-size:12px; color:#666} */
.prd-info-area .column.tit .price-item > li.dlv-type{margin-left:5px}
.prd-info-area .column.tit .price-item > li.dlv-type::before{content:none}
.prd-info-area .column.tit .price-item > li.dlv-type .imgbadge-dlv-exp{margin-top:2px}
.prd-info-area .column.tit .price-item > li .num,
.prd-info-area .column.tit .price-item > li .num2{font-weight:bold; font-size:15px; color:#333}
/* .prd-info-area .column.tit .rating .ico-bl-star{margin-top:-3px; margin-right:2px;} */
.prd-info-area .column.tit .price-item > li.price{font-size:14px; color:#333; font-weight:bold;}
.prd-info-area .column.tit .price-item > li.ea{font-size:12px; color:#888; vertical-align: middle; margin-left:5px}
.prd-info-area .column.tit .price-item > li.ea:before{content:none}
.prd-info-area .column.tit .tit + .price-item{margin-top:10px}
.prd-info-area .column.tit .price-item ~ .rating{margin-top:5px}
/* width 지정 */
.prd-info-area .column.w100{width:100px; vertical-align:middle;}
.prd-info-area .column.w110{width:110px; vertical-align:middle;}
.prd-info-area .column.w115{width:115px; vertical-align:middle;}
.prd-info-area .column.img [class^="imgbadge-dlv"]{margin-top:5px;}


/* 삭제 예정 */
/* .prd-info-area .column.tit .price{font-size:14px; color:#666;}
.prd-info-area .column.tit .price .num{font-size:16px; }
.prd-info-area .column.tit .price .ea:after{display:inline-block; content:'·'; vertical-align:top; margin:2px 0 0 5px; font-size:12px; color:#666}  */
/* // 삭제 예정 */

.prd-info-area .column.price > .num{font-size:16px; color:#333; font-weight:700;}
.prd-info-area .column.point{font-size:15px;}
.prd-info-area.option-line .column.img{width:56px; height:56px;}
.prd-info-area.option-line .column.tit{position:relative; padding:0 0 15px 15px}
.prd-info-area.option-line .column.tit .tit{font-size:14px; color:#666;}
/* type-sm */
.prd-info-area.type-sm .column.img{width:60px; height:60px; overflow:hidden;}
.prd-info-area.type-sm .column.tit .tit{font-size:13px;}
.prd-info-area.type-sm .column.tit .tit > .text-elps2{max-height:37px;}
.prd-info-area.type-sm .column.tit .text-guide-sm{display:block;}
.prd-info-area.type-sm .column.tit .price-item > li{font-size:12px; color:#333; font-weight:700;}
.prd-info-area.type-sm .column.tit .price-item > li .num{font-size:15px; color:#333; font-weight:700; }
.prd-info-area.type-sm .column.point{width:75px; font-size:12px; color:#666}

/* 삭제 예정 */
/* .prd-info-area.type-sm .column.tit .price{color:#333; font-size:12px; font-weight:700;}
.prd-info-area.type-sm .column.tit .price .num{color:#333; font-weight:700;} */
/* // 삭제 예정 */

.grid-list-wrap{padding:0 15px;}
.grid-list-wrap [class*="grid-area-"].gap33 > .colum{margin-top:60px;}
.grid-list-wrap.type-sorting{padding:0}
.grid-list-wrap.type-sorting .prd-item-list{/*padding-top:25px;*/}
.grid-list-wrap.type-sorting .prd-item-list.gap55{padding-top:25px;}
.grid-list-wrap.type-sorting .prd-item-list.gap55:before{display:block; content:''; width:calc(100% - 55px); height:1px; background:#e6e6e6; position:absolute; top:0; left:27px;}
.grid-list-wrap.type-photo{padding-top:0; border-top:0}

/* .grid-list-wrap .sorting-head{padding:15px 0;}
.grid-list-wrap .sorting-head:after{display:block; content:''; clear:both}
.grid-list-wrap .sorting-head .left,
.grid-list-wrap .sorting-head .total{float:left}
.grid-list-wrap .sorting-head .right-func,
.grid-list-wrap .sorting-head .sep-list{float:right}
.sorting-head .right-func .list-type-group{display:inline-block} */

/* .grid-list-wrap.type-sorting [class*="grid-area-"].gap25 > .colum,
.grid-list-wrap.type-photo [class*="grid-area-"].gap25 > .colum,
.brand-list-wrap [class*="grid-area-"].gap20 > .colum{margin-top:60px} */

/* .page-title-area ~ .grid-list-wrap.type-sorting{margin-top:20px;} */

/* option-select-list */
.option-select-list{max-height:310px;}
.option-select-list li{padding:20px 0}
.option-select-list li + li{border-top:1px solid #f2f2f2;}
.option-select-list li .custom-checkbox input[type="checkbox"] + label{font-size:15px; line-height:1.4}
.option-select-list li .option-txt{font-size:15px; margin-bottom:15px;}
.option-select-list li .inner{position:relative;}
.option-select-list li .inner .price{position:absolute; bottom:0; right:10px; font-size:12px; font-weight:700;}
.option-select-list li .inner .price .num{font-size:16px; }

/* select-form-list */
.select-form-list{max-height:310px;}
.select-form-list li{padding:20px 5px}
.select-form-list li + li{border-top:1px solid #ddd}
.select-form-list li [class*="custom-"] > label{font-size:15px; line-height:1.4;}
.select-form-list li .inner{overflow:hidden}
.select-form-list li .inner .select-line{float:left}
.select-form-list li .inner .date{float:right; color:#999; font-size:13px; }
.select-form-list li .prd-name{display:inline-block; cursor: pointer; color:#333; font-size:13px; max-width:450px; vertical-align:top; padding-left:10px;}