/*========================================================
 프로모션
========================================================*/
/* 이벤트 */
.page-head ~ .event-list-wrap{margin-top:30px;}
.view-list-top{position:relative; margin-bottom:20px;}
.view-list-top .tit{display:inline-block; font-size:20px; font-weight:500; vertical-align:middle; margin-right:20px;}
.view-list-top .sep-list{display:inline-block; vertical-align:middle;}
.view-list-top .btn-option{position:absolute; top:0; right:0;}

.event-item{position:relative; }
.event-item .img{width:540px; height:170px; overflow:hidden; border-radius:3px;}
.event-item .txt{padding-bottom:10px; margin-top:10px;}
.event-item .txt .date{color:#999; font-size:14px; }
.event-item .txt .tit{font-size:18px; font-weight:500;}

.page-bottom{position:relative}
.page-bottom .right-area{position:absolute; top:0; right:0;}
.page-bottom .right-area .input-group-wrap{width:350px;}
.page-bottom .pagination{padding:9px 0}

.prev-list-bottom{border-bottom:1px solid #ccc;}
.prev-list-bottom .prev-list-tb{display:table; width:100%; table-layout:fixed;}
.prev-list-tb .list-tb-item{display:table-row}
.prev-list-tb .list-tb-item .cla-cell{display:table-cell; width:130px; padding:20px 0; text-align:center; border-top:1px solid #ccc}
.prev-list-tb .list-tb-item .tit-cell{display:table-cell; width:auto; padding:20px 0; border-top:1px solid #ccc}
.prev-list-tb .list-tb-item .tit-cell > a{display:block; max-width:90%; color:#666}
.prev-list-tb .list-tb-item .date-cell{display:table-cell; width:140px; padding:20px 0; text-align:center; border-top:1px solid #ccc}
.prev-list-tb .list-tb-item .date-cell .date{color:#666;}
.prev-list-tb .list-tb-item .cla-cell .txt{font-weight:700;}
.prev-list-tb .list-tb-item .cla-cell [class*="ico-arrfill-"]{margin-left:10px;}
.prev-list-tb .list-tb-item .cla-cell [class*="ico-arrfill-"]:after{border-width:5px 0 5px 6px;}

.event-list-wrap ~ .page-bottom{margin-top:60px;}
.prev-list-bottom ~ .page-bottom{margin-top:30px;}
.view-content-area ~ .prev-list-bottom{margin-top:80px;}


/*이달특가*/
.tm-specials .special-prd-bnr{display: block; width: 100%;}
.tm-specials .special-prd-bnr + .special-prd-bnr{margin-top:10px;}
.benefits-md .benefits-md-bnr{display: block; width: 100%;}

.benefits-md-view{width: 100%;box-sizing: border-box;padding:20px 15px;}
.benefits-md-view::after{display: block;content: "";clear: both;}
.benefits-md-view .bmv-left{float:left;}
.benefits-md-view .bmv-right{float:right;}
.benefits-md-view .bmv-right .btn-card{width: 100px;  background-color: #fff; padding: 6px 0;
border: 1.5px solid #666; border-radius: 19px; box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);}
.benefits-md-view .bmv-right .btn-card.fixed-on{position: fixed;top:30px;right:15px;}
.benefits-md-view .bmv-right .btn-card span{font-size: 16px; font-weight: bold; vertical-align: top;line-height: 1;}
.benefits-md-view .bmv-right .btn-card i{margin:0px 2px 0 0;vertical-align: top;}
.layer-wrap .card-view-box .layer-inner .layer-body{max-height: none !important;}
.layer-wrap .layer-pop.card-view-box .swiper-container{border-radius:10px;overflow: hidden;}
.layer-wrap .layer-pop.card-view-box{background-color: transparent !important;}
.layer-wrap .layer-pop.card-view-box .swiper-pagination-bullet + .swiper-pagination-bullet{margin-left:5px;}
.layer-wrap .layer-pop.card-view-box .swiper-pagination{width:100%;margin-top:20px;}
.layer-wrap .layer-pop.card-view-box .swiper-slide{display: block;}

.benefits-theme .benefits-md-view.fixed-on{position: fixed;top:0px;left:0;z-index: 100;background-color: #fff;}
.benefits-theme-bn{width: 100%;box-sizing: border-box;}
.benefits-theme-bn .benefits-theme-img{display: block;}
.benefits-theme .benefits-md-view.fixed-on ~ .benefits-theme-bn{padding-top:80px;}
.bt-list-tit{width: 100%;}
.bt-list-tit span{width: 100%;display: block;background-color: #fff;border-bottom: 1px solid #f2f2f2;box-sizing: border-box;padding: 15px;font-size: 18px;line-height: 20px;
color: #333;font-weight: bold;}
.benefits-theme-list{width: 100%;box-sizing: border-box;padding:0 15px;}
.benefits-theme-list > li{box-sizing: border-box;padding:20px 0 30px;border-bottom: 1px solid #ededed;}
.benefits-theme-list > li .prd-info-area .column.tit{padding:0 0 0 17px;}
.benefits-theme-list > li .prd-info-area .column.tit .tit{font-size: 14px;color: #333;}
.benefits-theme-list > li .prd-info-area .column.tit .tit + .price-item{margin-top:21px;}
.benefits-theme-list > li .prd-info-area .column.tit .price-item > li{font-size: 12px;color: #333;}
.benefits-theme-list > li .prd-info-area .column.tit .price-item > li .num{font-size: 18px;font-weight: bold;margin-right:2px;}
.benefits-theme-list > li .prd-info-area .column.tit .desc{margin-bottom: 0;margin-top:5px;}


.md-qna-top{width: 100%; text-align: left;padding:40px 15px 0;background-color: #fff;}
.md-qna-tit{display: block;width: 100%;font-size: 20px;font-weight: 400;color: #333;margin-bottom: 10px;}
.md-qna-tit strong{font-size: 22px;font-weight: 700;}
.md-qna-tit > img{width:100%;max-width: 256px;}
.md-qna-desc{font-size: 12px;font-weight: 400;color: #999;display: block;box-sizing: border-box;display: block;text-align: left;}
.speech-bubble-list{width: 100%;box-sizing: border-box;padding:0 15px;}
.speech-bubble-list > li{width: 100%;margin-bottom: 20px;}
.sb-questioner{width: 100%;}
.sb-questioner::after{display: block;content: "";clear: both;}
.sb-questioner .sb-qna-left{float: left;font-size: 13px;font-weight: bold;color:#333;}
.sb-questioner .sb-qna-right{float: right;font-size: 13px;font-weight: 400;color:#999;}
.speech-bubble-box{margin-top:10px;width: 100%;box-sizing: border-box;border: 1px solid #eee;border-radius: 3px;background-color: #F5F5F5;position: relative;
padding:20px;}
.speech-bubble-box::after{display: block;content: "";position:absolute;width: 10px;height: 10px;box-sizing: border-box;border: 1px solid #eee;border-radius: 6px;background-color: #F5F5F5;
top: -5px;left: 12px;z-index: 10;transform: rotate(40deg);}
.sb-qna-question{display:block;font-size: 13px;font-weight: 400;color:#666;line-height: 22px;}
.more-view-btn{box-sizing: border-box;width: 100%;padding: 0 15px;}
.benefit-content .more-view-btn{margin-bottom:20px;}
.ico_sb_qna{width:8px;display:block;margin:10px 0 6px 0;}
.sb-qna-answer{font-size: 13px;color: #333;line-height: 22px;}
.sb-qna-answer strong{display: block;margin-bottom:3px;}
.md-ask-fixed{width: 100%;box-sizing: border-box;padding:15px;background-color: #eee;position: fixed;bottom: 47px;left: 0;z-index: 10;}
.md-ask-fixed .md-ask-box{width: 100%;height:50px;background-color: #fff;box-sizing: border-box;padding:15px;position: relative;border: 1px solid #ccc;}
.md-ask-fixed .md-ask-box input{font-size: 14px;font-weight: 400;display: block;width: 100%;box-sizing: border-box;padding-right: 42px;border: 0;}
.md-ask-fixed .md-ask-box input:focus{outline: none;}
.md-ask-fixed .md-ask-box > a{display: block;font-size: 14px;line-height: 20px;color: #ff6001;position: absolute;top: 15px;right: 15px;z-index: 10;
font-weight: bold;}




.event-top-select{width: 100%;height: auto;box-sizing: border-box;padding: 15px;}
.event-top-select::after{display: block;content: "";clear: both;}
.event-top-select .ets-left{float: left;width: calc(100% - 110px);height: 40px;}
.event-top-select .ets-left .ui-select{width: 100%;}
.event-top-select .ets-left .ui-select .select-list li a{color:#999;}
.event-top-select .ets-left .select-box .select-value{border-radius: 2px;}
.event-top-select .ets-right{float: right;width:102px;height: 40px;}
.event-top-select .ets-right .btn-basic-md2{padding:5px 0;width: 100%;font-size: 13px;}
.event-top-select .ets-right .btn-basic-md2 span{font-size: 13px;}
.ico-btn-announced{display: inline-block;width: 12px;height: 11px;background-image: url("../images/icon/ico_btn_announced.png");background-size: 12px 11px;vertical-align: top;margin: 6.5px 4px 0 0;}
.btn-gray{background-color: #f5f5f5;border: 1px solid #e5e5e5;color:#666;}
.event-list-box{width: 100%;box-sizing: border-box;padding:0 15px 30px;}
.event-list-box .colum{float: none;width:100%}
.event-list-box .colum + .colum{margin-top:30px !important;}
.event-list-box .event-item .img{width: 100%;height: auto;}
.event-list-box .event-item .txt .tit{font-size: 15px;font-weight: 500;}
.event-list-box .event-item .txt .date{font-size: 13px;color: #999;margin-top:4px;}
.state-end{padding: 3px 7px;box-sizing: border-box;background-color: #999;color:#fff;text-align: center;font-size: 11px;font-weight: 500;border-radius: 2px;line-height: 16px;}
.event-list-box .state-end{margin-right:4px;}

.event-detail-box{width: 100%;border-bottom: 8px solid #f2f2f2;}
.event-detail-box .edb-img{width: 100%;}
.event-detail-box .edb-img img{width: 100%;}
.event-detail-box .event-more-btn{width: 100%;box-sizing: border-box;padding:20px 15px 40px 15px;}
.event-detail .inner-flex{box-sizing: border-box;padding: 0 15px;} 
.event-detail .tit-noti{font-size: 12px;font-weight: 400;box-sizing: border-box;padding: 0 15px;color:#767676;margin-top:4px;}
.event-detail .textarea-box{width: calc(100% - 30px);box-sizing: border-box;margin:10px auto 6px;height: 100px;}
.event-registration-btn{width: 100%;box-sizing: border-box;padding:0 15px;}
.event-registration-btn button{width: 100%;}
.more-btn-box{width: 100%;box-sizing: border-box;padding:0 15px 0px 15px; }
.event-detail .more-btn-box{margin-bottom: 30px;}

/*당첨자발표*/
.post-list .more-btn-box{margin-bottom: 30px;}
.post-list-box{width: 100%;box-sizing: border-box;padding: 0 15px;}
.post-list-box > li{width: 100%;box-sizing: border-box;padding: 16px 0;border-bottom: 1px solid #eee;}
.post-list-box > li .post-tit{display: block;width: 100%;line-height: 20px;font-size: 14px;font-weight: 400;color:#333;}
.ico-bl-notice{background-position: 50px -25px;width: 18px;height: 14px;}
.post-list-box > li .post-tit .ico-bl-notice{margin-right: 6px;vertical-align: top;margin-top:2px;}
.post-list-box > li .post-date{margin-top:10px;display: block;font-size: 13px;font-weight: 400;color: #999;}

.post-view-box{width: 100%;box-sizing: border-box;padding:0 15px;}
.pvb-top-box{width: 100%;box-sizing: border-box;padding: 16px 0;border-bottom: 1px solid #eee;}
.pvb-top-box .post-tit{display: block;width: 100%;line-height: 20px;font-size: 14px;font-weight: 400;color:#333;}
.pvb-top-box .post-tit .ico-bl-notice{margin-right: 6px;vertical-align: top;margin-top:2px;}
.pvb-top-box .post-date{margin-top:10px;display: block;font-size: 13px;font-weight: 400;color: #999;}
.pvb-con-box{padding:20px 0 30px; width: 100%;box-sizing: border-box;font-size: 13px;font-weight: 400;line-height: 19px;color: #333;}
.pvb-con-box a{text-decoration: underline;color:#0000ff ;}
.list-btn-box{width: 100%;box-sizing: border-box;padding: 0 15px 30px;}
.list-btn-box button{width: 100%;}
.fixed-ask-box{width: 100%;box-sizing: border-box;padding:15px;box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.08);position: fixed;bottom: 48px;left: 0;z-index: 10003;background-color: #f8f8f8;}
.login-ask-box{display:none;width: 100%;box-sizing: border-box;padding:15px 55px 15px 15px;background-color: #fff;border-radius: 3px;border: 1px solid #ccc;position: relative;}
.fixed-ask-box.login .login-ask-box{display:block;}
.disabled-ask-box{display: block;width: 100%;box-sizing: border-box;padding:15px 55px 15px 15px;background-color: rgba(230, 230, 230, 0.8);;border-radius: 3px;border: 1px solid #ccc;position: relative;}
.disabled-ask-box button{position: absolute;right: 15px;top: 15px;z-index: 5;font-size: 13px;font-weight: 400;line-height: 17px;color: #333;text-decoration: underline;}
.disabled-ask-box input{border:0;display: block;width: 100%;height: 100%;background-color: transparent;color: #333;}
.fixed-ask-box.login .disabled-ask-box{display: none;}
.login-ask-box input{border:0;display: block;width: 100%;height: 100%;}
.login-ask-box button{position: absolute;right: 15px;top: 15px;z-index: 5;font-size: 14px;font-weight: 400;line-height: 17px;color: #ff6001;}

.fixed-ask-box .login-ask-box input:focus{outline: none;}
.fixed-ask-box .login-ask-box input::-webkit-input-placeholder {color: #ccc;}
.fixed-ask-box .login-ask-box input:-ms-input-placeholder {color: #ccc;}
.fixed-ask-box .login-ask-box input::placeholder {color: #ccc;opacity: 1;}

.fixed-ask-box .disabled-ask-box input:focus{outline: none;}
.fixed-ask-box .disabled-ask-box input::-webkit-input-placeholder {color: #333;}
.fixed-ask-box .disabled-ask-box input:-ms-input-placeholder {color: #333;}
.fixed-ask-box .disabled-ask-box input::placeholder {color: #333;opacity: 1;}

.title-box{width: 100%;box-sizing: border-box;padding:13px 15px;border-bottom: 1px solid #e6e6e6;}
.title-box h5{display: block;font-size: 15px;color: #333;font-weight: 700;}

/************ 퀴즈 *************/
/* .event-templete{padding-bottom:50px} */
.event-templete .more-btn-box{margin-top:40px}
/* 20210915 
.event-templete .title-area{height:50px;line-height:50px;padding:0 15px;font-size:0}
.event-templete .title-area .title{font-size:14px;width:55%;display:inline-block}
.event-templete .title-area .date{font-size:13px;color:#999;text-align:right;width:45%;display:inline-block} */
.event-templete .context{padding:30px 15px}
.event-templete .context .quiz-item{background:#fff;border-radius:10px;padding:30px 20px}
.event-templete .context .q{padding-left:25px;position:relative;line-height:20px;font-size:15px}
.event-templete .context .q:before{content:"Q.";font-weight:bold;position:absolute;top:0;left:0;line-height:20px}
.event-templete .context .q .hint{display:block;margin-top:8px;font-size:13px;color:#999;line-height:17px}
.event-templete .context .txt {text-align:center;font-size:15px; font-weight: 400;line-height:19.59px;}
.event-templete .context .txt span{color:#FF7F56}
.event-templete .context .a{margin-top:20px;padding-left:25px;position:relative}
.event-templete .context .a:before{content:"A.";font-weight:bold;position:absolute;top:0;left:0;line-height:20px}
.event-templete .context .a.text-type:before{top:10px}
.event-templete .context .a .input-text{border-radius:2px}
.event-templete .context .a .option-list li{text-align:center;padding-right:25px}
.event-templete .context .a .option-list li ~ li{margin-top:8px}
.event-templete .btn-group{text-align:center;margin-top:16px}
.event-templete .btn-group button:only-child{min-width:162px;font-size:15px}

.layer-wrap .layer-pop.quiz-complete{width:calc(100vw - 30px);text-align:center;border-radius:2px}
.layer-wrap .quiz-complete .layer-inner .ui-close-pop{top:10px;right:10px}
.quiz-complete .layer-content{padding:106px 0 40px}
.quiz-complete .layer-content:before{content:"";width:50px;height:50px;background:url(../images/icon/ico_quiz_complete.png) no-repeat 0 0/100% auto;position:absolute;top:40px;left:calc(50% - 25px)}
.quiz-complete em{display:block;font-size:18px;line-height:24px}
.quiz-complete span{display:block;font-size:15px;color:#666;margin-top:6px;line-height:22px}

/************ 출석 *************/
.event-attend{padding-bottom:40px}
.event-attend .context{background:#fff;border-radius:10px;margin:0 20px;padding:0 22px 20px;overflow:hidden}
.event-attend .context .date{display:block;font-size:12px;text-align:center}
.event-attend .context .state{margin-top:4px;font-size:15px;font-weight:bold;text-align:center;line-height:20px}
.event-attend .context .btn-group{margin-top:10px}
.event-attend .front-area{background:#f8f8f8;padding:15px 22px 18px;margin:0 -22px}
.event-attend .calendar{margin-top:14px}
.event-attend .calendar .calendar-head{text-align:center;margin-bottom:10px}
.event-attend .calendar .calendar-head > div{margin:0 15px}
.event-attend .calendar .calendar-head *{display:inline-block;vertical-align:top}
.event-attend .calendar .calendar-head .prev{position:relative;padding:5px;width:22px;height:20px}
.event-attend .calendar .calendar-head .prev:after{content:"";position:absolute;top:5px;left:0;width:0;height:0;border-right:7px solid #333;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:7px solid transparent;border-radius:2px}
.event-attend .calendar .calendar-head .next{position:relative;padding:5px;width:22px;height:20px}
.event-attend .calendar .calendar-head .next:after{content:"";position:absolute;top:5px;left:5px;width:0;height:0;border-left:7px solid #333;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:7px solid transparent;border-radius:2px}
.event-attend .calendar .calendar-head .prev:disabled,
.event-attend .calendar .calendar-head .next:disabled{background:none !important}
.event-attend .calendar .calendar-head .prev:disabled:after{border-right-color:#ccc}
.event-attend .calendar .calendar-head .next:disabled:after{border-left-color:#ccc}
.event-attend .calendar .calendar-head em{line-height:20px;margin:0 7px}
.event-attend .calendar .calendar-body table{width:100%}
.event-attend .calendar .calendar-body table thead th{font-size:15px;padding:10px 0}
.event-attend .calendar .calendar-body table thead th:first-child{color:#999}
.event-attend .calendar .calendar-body table tbody td{padding:2px;text-align:center;vertical-align:middle}
.event-attend .calendar .calendar-body table tbody td span{display:inline-block;width:36px;height:36px;line-height:36px;background:#f5f5f5;border-radius:50%;vertical-align:top;font-weight:bold}
.event-attend .calendar .calendar-body table tbody td span.check-on{position:relative}
.event-attend .calendar .calendar-body table tbody td span.check-on:before{width:100%;height:100%;border-radius:50%;background:#ff7f56;position:absolute;top:0;left:0;content:""}
.event-attend .calendar .calendar-body table tbody td span.check-on:after{content:"";width:6px;height:13px;border-right:3px solid #fff;border-bottom:3px solid #fff;transform:rotate(45deg);position:absolute;left:14px;top:8px}