/*========================================================
 Layout
========================================================*/
.wrap{position:relative; width:100%; min-width:320px; height:100%}

/****** Top Banner ******/
.top-banner{position:relative; width:100%; border-bottom:1px solid #ddd;}
.top-banner .inner{position:relative; max-width:1100px; margin:0 auto; height:100%}
.top-banner .btn-x-sm{position:absolute; top:50%; right:0; padding:30px 10px; transform:translateY(-50%); -webkit-transform:translateY(-50%);}

/****** Header ******/
.header{position:relative; width:100%; z-index:20;}
.header-top{position:relative;}
.header-top .logo > a{display:block; width:100%; height:100%;}
.head-logo{display:inline-block; width:71px; height:27px; background:url("../images/logo.png"); background-size:cover;}
.head-logo{width:82px;height:31px}
.header-top.header-detail .page-title-area{padding:10px 0}
.header-top.header-detail .page-title-area .btn-back{padding:23px 15px 17px}
.header-inner{display:table; width:100%; table-layout:fixed; padding:10px 15px;}
.header-inner .logo{display:table-cell; width:85px; vertical-align:middle; padding-right:14px;}
.header-inner .header-search{display:table-cell; vertical-align:middle;}
.header-inner .my-menu{display:table-cell; width:45px; padding-left:14px;}


/* Util */
.header-top .util{position:absolute; top:10px; right:0}
.util > ul{overflow:hidden}
.util > ul > li{float:left; position:relative; padding:0 12px 0 0; font-size:13px; color:#4D4D4D;}
.util > ul > li:first-child:before{content:none;}
.util > ul > li:before{display:inline-block; content:''; width:1px; height:10px; vertical-align:middle; background:#E6E6E6; margin:-2px 11px 0 0;}
.util > ul > li:last-child{padding-right:0}
.my-menu > ul > li{display:inline-block; vertical-align:top;}
/* btn */
.btn-util-cart{display:inline-block; position:relative; width:23px; height:32px; background:url("../images/icon/ico_util_m.png") left top; background-size:60px; vertical-align:middle; padding-top:10px;}
.btn-util-cart .count{display:block; position:absolute; top:0; right:-10px; width:20px; height:20px; color:#fff; font-size:12px; font-weight:bold; text-align:center; line-height:1.8; background:#FF542A; border-radius:50%;}
.btn-util-cart2{display:inline-block; position:relative; width:23px; height:32px; background:url("../images/icon/ico_util_m.png") right top; background-size:60px; vertical-align:middle; padding-top:10px;}
.btn-util-cart2 .count{display:block; position:absolute; top:0; right:-10px; width:20px; height:20px; color:#fff; font-size:12px; font-weight:bold; text-align:center; line-height:1.8; background:#FF542A; border-radius:50%;}
.btn-util-search{display:inline-block; width:20px; height:20px; vertical-align:middle; margin-top:10px;}

/**** Search ****/
.top-search{position:relative; display:block; width:100%; height:36px;  border-radius:100px; background:#f5f5f5; padding:0 45px 0 20px; vertical-align:top;}
.top-search .input-search{width:100%; height:36px; border:0; padding:0; font-size:15px; color:#555; text-align:left; background:transparent;}
.top-search .btn-top-search{position:absolute; top:3px; right:10px; width:35px; height:32px;}
.btn-top-search:after{display:inline-block; content:''; width:15px; height:15px; background:url("../images/icon/ico_search_m.png") 0 0; background-size:70px; vertical-align:top;}
/* 검색 팝업 */
.layer-wrap.full-type .search-pop .layer-head{padding:10px 15px 10px 50px;height:auto;border-bottom-color:#999}
.layer-wrap.full-type .search-pop .layer-head .btn-back{display: block; position: absolute; left: 0;top: 0px; padding: 20px 15px;}
.search-pop .layer-head .input-group-wrap.search-type2{display:inline-block;overflow:visible}
.search-pop .input-group-wrap.search-type2{border:0}
.search-pop .input-group-wrap.search-type2 .input-text{font-size:15px;padding-left:0;line-height:38px}
.search-pop .layer-head .ico-x-grey2:before, 
.search-pop .layer-head .ico-x-grey2:after{background:#fff}
.search-pop .layer-head .ico-x-grey2{color:#fff}
.search-pop .ico-search-pop2{width:20px;height:20px;background-position:-25px -25px}
.search-pop .input-group-wrap.search-type2 .input-group-btn > .btn-icon-search{padding-right:5px}
.search-pop .input-group-wrap .input-group > .input-group-btn:last-child{padding-left:6px}
.search-pop .ico-arrows-back{background:none}
.search-pop .ico-arrows-back:after{content:"";border-top:2px solid #666;border-left:2px solid #666;width:10px;height:10px;transform:rotate(-45deg);display:inline-block;border-radius:2px;margin:3px 0 0 2px}
.search-layer .tit{padding:20px 0 0 15px}
.search-layer .tit > h2{color:#222;font-size:15px;display:inline-block}
.search-layer .search-rank{padding:0 10px; overflow:hidden}
.search-rank{margin-top:5px}
.search-rank .list{display:flex;flex-direction:column;flex-wrap:wrap;justify-content:space-around;align-content:space-around;height:200px}
.search-rank .list li{width:50%;position:relative;padding-right:15px}
.search-rank .list li:nth-child(5n) ~ li{padding-left:15px;padding-right:0}
.search-rank li > a{display:block;color:#666;height:40px;line-height:40px}
.search-rank{counter-reset:section}
.search-rank li > a:before{counter-increment:section;content:counter(section);font-size:15px;color:#222;display:inline-block;width:15px;text-align:center;margin-right:9px;vertical-align:-1px}
.search-rank li .num{display:inline-block; width:15px; margin-right:7px; text-align:center; vertical-align:middle; font-size:14px;}
.search-rank li .word{display:inline-block; vertical-align:middle; font-size:14px; max-width:60%;}
.search-rank li .state{position:absolute; top:50%; right:15px; font-size:13px; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.search-rank li:nth-child(5n) ~ li .state{right:7px}
.search-rank li .state > i{margin:2px 5px 0 0; vertical-align:middle}
.search-rank li .state.text-green{font-size:11px}
.search-rank [class*="ico-arrfill-"]:after{border-width:4px 0 4px 6px}
.popular-search{border-top:8px solid #f2f2f2;padding-bottom:20px}
.recommend-search .srch-list{padding:0 15px;}
.recommend-search .tit{position:relative; padding:30px 20px 15px}
.recommend-search .tit .text-guide-sm{position:absolute; top:33px; right:20px;} 
.recommend-search .latest-search .srch-list{display:inline-block; padding:15px 0 0;}
.recommend-search .srch-list li{display:inline-block; vertical-align:top; margin:0 1px 5px 0}
.latest-search .switch-btn .switch-label{position:relative;display:inline-block;width:30px;height:12px;border-radius:12px;background-color:#ff6001;color:#fff;font-weight:bold;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;vertical-align:-1px}
.latest-search .switch-btn .switch-label > *{vertical-align:sub;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition: 3s;-o-transition:all .3s;transition:all .3s;font-size:14px}
.latest-search .switch-btn .marble{position:absolute;top:-2px;left:0;display:block;width:16px;height:16px;background:#fff;border-radius:50%;border:1px solid #ff6001}
.latest-search .switch-btn .switch-inp:checked + .switch-label{background-color:#999}
.latest-search .switch-btn .switch-inp:checked + .switch-label .on{display: inline-block}
.latest-search .switch-btn .switch-inp:checked + .switch-label .off{display:none}
.latest-search .switch-btn .switch-inp:checked + .switch-label .marble{left:14px;border-color:#999}
.latest-search .tit{overflow:hidden}
.latest-search .side{float:right;margin-right:15px;font-size:12px;color:#666}
.latest-search .side > *{display:inline-block}
.latest-search .side .srch-del{margin-left:20px}
.latest-search .srch-list li{padding:0 18px;height:48px;line-height:48px;position:relative}
.latest-search .srch-list li ~ li{border-top:1px solid #eee}
.latest-search .srch-list li a{max-width:90%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-break:break-all;display:block}
.latest-search .srch-list li button{position:absolute;right:8px;top:8px}
.latest-search [class^="ico-x-"]:before, 
.latest-search [class^="ico-x-"]:after{left:-1px}
.search-none{text-align:center;padding:60px 0}
.search-none:before{content:"";width:60px;height:60px;display:block;margin:0 auto 10px;background:url(../images/icon/icon_no_data.png) no-repeat 0 0/100% auto}
.search-none .text{font-size:15px;font-weight:bold}
.search-none .desc{display:block;margin-top:5px;font-size:14px;color:#999}
.search-result .new-prod{border-top:8px solid #f2f2f2;padding:0 15px}
.search-result .new-prod .swiper-container{padding-bottom:35px}
.search-result .new-prod .title-area{overflow:hidden;text-align:right;padding:20px 0 13px}
.search-result .new-prod .title{float:left;margin:0}
.search-result .new-prod .prod-brand{display:block;font-size:11px;margin-bottom:4px}
.search-result .new-prod .prod-name{height:40px;line-height:20px;font-size:14px;display:block;display:-webkit-box !important;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;word-break:break-all;margin-bottom:8px}
/* keyword */
.srch-keyword{display:inline-block;border:1px solid #ccc; border-radius:30px; background:#fff}
.srch-keyword > .txt{display:inline-block; vertical-align:top; padding:6px 14px 6px 14px; font-size:13px; color:#333;}
.srch-keyword > .btn-x-xs{vertical-align:top; margin-left:-14px}

.search-result{padding-bottom:50px}
.pb10{padding-bottom:10px}
.pb5{padding-bottom:5px}
.search-result .tab-menu{display:flex;padding:10px 0}
.search-result .tab-menu li{flex:1;text-align:center;height:30px;line-height:30px}
.search-result .tab-menu li ~ li{border-left:1px solid #eee}
.search-result .tab-menu li a{color:#999;font-size:15px}
.search-result .tab-menu li a em{font-weight:normal;display:inline-block;margin-left:4px;color:#666}
.search-result .tab-menu li.current a{color:#333;font-weight:bold}
.search-result .tab-menu li.current a em{font-weight:bold;color:#ff6001}
.search-result .tab-menu{border-bottom:8px solid #f2f2f2}
.search-result .prod-default-wrap .prod-sorting-area{border-bottom:1px solid #e6e6e6;margin-top:0;padding:4px 15px}
.search-result .prod-default-wrap .prod-sorting-area .sorting-select{display:inline-block;position:relative}
.search-result .prod-default-wrap .prod-sorting-area .sorting-select:after{border-right:1px solid #666;border-bottom:1px solid #666;content:"";width:6px;height:6px;transform:rotate(45deg);position:absolute;right:2px;top:calc(50% - 7px)}
.search-result .prod-sorting-area .select{background:none;border:0}

.search-result .prod-default-wrap .prod-express-area{padding:20px 10px 5px; width:100%; display:table}
.search-result .prod-default-wrap .prod-express-area p{font-size:18px;font-weight:bold;display:table-cell}
.search-result .prod-default-wrap .prod-express-area span{font-size:18px;font-weight:bold;vertical-align: baseline}
.prod-express-area .item-right{width:50%}
.item-right{float:inherit;text-align: right; display:table-cell}
.prod-express-area .item-right .select{background: url(../images/icon/icon-order_select-m.png) no-repeat; background-size: 32px 38px;background-position:right 0 bottom 50%;}
.prod-express-area::after{display:block;clear: both;content:'';}

.detail-search{position:fixed;top:0;right:-80%;z-index:999999;background:#fff;width:75%;height:100%;transition:.4s}
.detail-search.on{transition:.4s;right:0}
.detail-search.on + .dimm{display:block}
.detail-search .title{line-height:58px;text-align:center;border-bottom:1px solid #999;font-size:18px;font-weight:bold;display:block}
/* .detail-search .drop-menu > li{border-bottom:1px solid #e6e6e6;}padding-bottom:17px */
.detail-search .drop-menu > li ~ li{border-top:1px solid #e6e6e6}
.detail-search .drop-menu > li > a{display:block;line-height:48px;position:relative;padding-left:16px;font-size:16px;font-weight:bold}
.detail-search .drop-menu > li > a:after{content:"";width:6px;height:6px;border-top:1px solid #666;border-right:1px solid #666;transform:rotate(135deg);position:absolute;top:17px;right:17px;transition:.2s}
.detail-search .drop-menu > li > a.on:after{transform:rotate(-45deg);position:absolute;top:22px;right:17px;transition:.2}
.detail-search .drop-menu .toggle-btn.on + .depth-menu{display:block;padding-bottom:17px}
.detail-search .menu-delivery li{display:block;width:100%;padding:8px 16px;height:34px}
.detail-search .menu-delivery li ~ li{margin-top:5px}
.detail-search .menu-delivery .custom-checkbox .checkbox + label{padding-left:25px}
.detail-search .menu-delivery .custom-checkbox .checkbox + label:before{border-color:#ccc;width:17px;height:17px;top:1px}
.detail-search .menu-delivery .custom-checkbox .checkbox:checked + label:before{background-size:55px auto;background-position:-4px -37px;border-color:#ff7e32}
.detail-search .depth-menu{display:none}
.detail-search .depth-menu > li{padding-left:16px}
.detail-search .depth-menu > li > a{font-size:14px;font-weight:500;padding:5px 0}
.detail-search .depth-menu > li ~ li{margin-top:10px}
.detail-search .depth-menu .toggle-btn.on + .depth2-menu{display:block}
.detail-search .depth-menu .depth2-menu{margin-top:5px;display:none}
.detail-search .depth-menu .depth2-menu li{display:block;width:100%}
.detail-search .depth-menu .depth2-menu li ~ li{margin-top:5px}
.detail-search .depth-menu .depth2-menu .custom-radio .radio + label{width:100%;display:block;padding:5px 0 5px 8px;height:26px;font-size:14px;color:#666}
.detail-search .depth-menu .depth2-menu .custom-radio .radio + label:before{left:inherit;right:12px;top:4px} 
.detail-search .depth-menu .depth2-menu .custom-radio .radio:checked + label:after{left:inherit;right:16px;top:8px}
.detail-search .depth-menu li.custom-checkbox{width:100%;display:block;padding:3px 0 3px 16px;}
.detail-search .depth-menu li.custom-checkbox .checkbox + label{width:100%;padding-left:0;height:17px;line-height:17px;font-size:14px}
.detail-search .depth-menu li.custom-checkbox .checkbox + label:before{border-color:#ccc;width:17px;height:17px;left:inherit;right:12px;top:1px} 
.detail-search .depth-menu li.custom-checkbox .checkbox:checked + label:before{background-size:55px auto;background-position:-4px -37px;border-color:#ff7e32}
.detail-search .detail-seatch-content{height:calc(100% - 58px);overflow-y:auto}
.detail-search .detail-seatch-content::-webkit-scrollbar{display:none}
.detail-search .btn-reset{padding:0 15px;height:29px;border:1px solid #ccc;border-radius:15px;display:block;margin:30px auto}
.detail-search .btn-reset:before{content:"";width:10px;height:12px;background:url(../images/icon/btn-reset.png) no-repeat 0 0/100% auto;display:inline-block;margin-right:5px}
.detail-search .btn-close{width:22px;height:22px;position:absolute;top:17px;right:15px;text-indent:-9999em;padding:5px}
.detail-search .btn-close:before{content:"";width:1px;height:13px;background:#333;transform:rotate(-45deg);position:absolute;top:5px;left:11px}
.detail-search .btn-close:after{content:"";width:1px;height:13px;background:#333;transform:rotate(45deg);position:absolute;top:5px;left:11px}

/****** Gnb ******/
.gnb-wrap{width:100%; padding:0 15px 10px; border-bottom:1px solid #C4C4C4; background:#fff;}
.gnb-wrap.fixed{position:fixed; top:0; left:0;}
.gnb-wrap .inner:after,
.gnb-wrap:after,
.gnb-wrap .gnb > ul:after{display:block; content:''; clear:both;}
.gnb-wrap .gnb > ul{width:100%; display:flex; align-items:stretch; display:-webkit-box; display:-moz-box; display:-webkit-flex; -webkit-align-items:stretch;}
.gnb-wrap .gnb > ul > li{text-align:center; flex-grow:1; -webkit-box-flex:1;} 
.gnb > ul > li > a{display:block; color:#333; font-size:15px; font-weight:500; text-align:center; }
.gnb > ul > li:last-child > a{padding-right:0}
.gnb > ul > li .ico-txt-gnb{display:inline-block; width:74px; height:14px; background:url("../images/txt/txt_exp_delivery_m.png"); background-size:cover; margin-top:3px;}

@media screen and (max-width:321px) { 
    .gnb-wrap{padding:0 5px 10px;}
}


/*========================================================
 lnb
========================================================*/
.lnb-wrap{display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index: 10001;}
.lnb-wrap.active{display:block;}
.lnb-wrap .lnb-inner{ position:relative; top:0; left:0; height:100%; background:#fff; }
.lnb-wrap .lnb-inner .ui-close-lnb{position:absolute; top:13px; right:20px; z-index:11;}
.lnb-wrap .lnb-head{height:58px; background:#FF7E31; border-bottom:1px solid #eee; position:fixed; top:0; left:0; width:100%; padding:10px 15px; z-index:10;}
.lnb-wrap .lnb-body{height:100%; max-height:100%; overflow-y:auto; padding:73px 0 70px}
.lnb-head .inner{position:relative; margin-right:60px}
.lnb-head .inner .btn-util-cart2{position:absolute; top:0; right:0}
.lnb-head .inner .user-level{display:inline-block;  vertical-align:middle; padding:8px 10px; border:1px solid #fff; border-radius:50px; color:#fff; margin-right:8px;}
.lnb-head .inner .user-name{display:inline-block; vertical-align:middle; padding:9px 0; font-size:16px; color:#fff}
.user-name [class*="ico-arr-"]:after,
.user-name [class*="ico-arr-"]:before{background-color: #fff;}

.lnb-menu-box{padding:0 15px;}
.lnb-menu-box ul{background:#F4F4F4}
.lnb-menu-box ul li > a{position:relative; display:block; padding:11px 0; text-align:center;}
.lnb-menu-box ul li .txt{display:block;}
.lnb-menu-box ul li > a:before{display:block; position:absolute; top:8px; right:0; content:''; width:1px; height:50px; background:#EBEBEB}
.lnb-menu-box ul li:last-child > a:before{content:none;}

.lnb-brand-area{padding-top:25px; padding-left:8px;}
.lnb-brand-area .tit-head{padding:0 15px;}
.lnb-brand-area .tit-head .lnb-cnt-tit{font-size:13px;}
.lnb-brand-area .tit-head .btn-link-txt3{font-size:12px; color:#666}
.lnb-brand-area .tit-head .btn-link-txt3 [class*="ico-arr-"]{width:10px; height:10px; margin-left:3px;}
.lnb-brand-area .scroll-y-area{width:100%; margin-top:15px;}
.lnb-brand-list{white-space:nowrap;}
.lnb-brand-list > li{display:inline-block; width:66px; height:66px; margin:0 7px;}
.lnb-brand-list > li .txt{display:block; margin-top:5px; color:#666; font-size:12px; text-align:center}

@media screen and (max-width:768px){
	html{-ms-overflow-style:none;}
	::webkit-scrollbar{display:none;}
	.scroll-y-area::-webkit-scrollbar{display:none;}
	.scroll-y-area{overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling:touch;}
}

.cs-call{background:#666; text-align:center; margin-top:45px;}
.cs-call > a{display:block; padding:14px 0; font-size:13px; color:#fff; font-weight:bold;}
.cs-call > a em{font-size:14px;}

.nav-area .nav-list > li{border-bottom:1px solid #F4F4F4}
.nav-area .nav-list > li > a{position:relative; display:block; padding:9px 15px;}
.nav-area .nav-list > li > a .txt{display:inline-block; vertical-align:middle; margin-left:10px;}
.nav-area .nav-list > li > a [class*="ico-arr-"]{position:absolute; top:17px; right:20px; color:#999}
.nav-area .nav-list > li .depth2{display:none; position:relative; overflow:hidden; background:#F4F4F4}
.nav-area .nav-list > li .depth2.on{display:block;}
.nav-list > li .depth2::after{display:block; content:''; width:1px; height:100%; background:#fff; position:absolute; top:0; left:50%; }
.nav-list > li .depth2 > li{float:left; width:50%; border-bottom:1px solid #fff;}
.nav-list > li .depth2 > li > a{display:block; padding:15px 0; text-align:center;}
.nav-list > li .depth2 > li:nth-last-child(1){border-bottom:0}

.lnb-bottom-cnt{padding-top:25px;}
.lnb-bnr{border-radius:3px; overflow:hidden; margin:0 15px;}

/* icon */
[class*="ico-lnbbox-"]{display:inline-block; height:24px; background-image:url("../images/icon/ico_lnb_menubox.png"); background-size:105px auto;}
.ico-lnbbox-gift{background-position:left top; width:24px;}
.ico-lnbbox-exp{background-position:center top; width:36px;}
.ico-lnbbox-event{background-position:right top; width:22px;}

[class*="ico-cate-"]{display:inline-block; width:30px; height:30px; background-size:65px auto; background-position:left top; vertical-align: middle;}
.ico-cate-menu{background-image:url("../images/icon/ico_gnb_all_m.png"); width:15px; height:11px; background-size:cover;}
.ico-cate-chicken{background-image:url("../images/icon/ico_cate_chicken.png");}
.ico-cate-lunchbox{background-image:url("../images/icon/ico_cate_lunchbox.png");}
.ico-cate-instant{background-image:url("../images/icon/ico_cate_instant.png");}
.ico-cate-salad{background-image:url("../images/icon/ico_cate_salad.png");}
.ico-cate-bread{background-image:url("../images/icon/ico_cate_bread.png");}
.ico-cate-beverage{background-image:url("../images/icon/ico_cate_beverage.png");}
.ico-cate-meat{background-image:url("../images/icon/ico_cate_meat.png");}
.ico-cate-sidedish{background-image:url("../images/icon/ico_cate_sidedish.png");}
.ico-cate-diet{background-image:url("../images/icon/ico_cate_diet.png");}
.ico-cate-egg{background-image:url("../images/icon/ico_cate_egg.png");}
.ico-cate-exer{background-image:url("../images/icon/ico_cate_exer.png");}
.ico-cate-health{background-image:url("../images/icon/ico_cate_health.png");}
.ico-cate-new{background-image:url("../images/icon/ico_cate_new.png");}
.ico-cate-nuts{background-image:url("../images/icon/ico_cate_nuts.png");}
.ico-cate-onepack{background-image:url("../images/icon/ico_cate_onepack.png");}
.ico-cate-sauce{background-image:url("../images/icon/ico_cate_sauce.png");}
.ico-cate-seafood{background-image:url("../images/icon/ico_cate_seafood.png");}
.ico-cate-set{background-image:url("../images/icon/ico_cate_set.png");}
/* 활성화시 */
.nav-list > li.active [class*="ico-cate-"]{background-position:right top;}
.nav-list > li.active > a .txt{color:#FF6001}


/*========================================================
 Footer
========================================================*/
.footer{background:#F7F7F7;}
/* sns */
.footer-sns-list{overflow:hidden; text-align:center;}
.footer-sns-list > li{display:inline-block; margin:0 8px}
[class^="ico-sns-"]{display:inline-block; vertical-align:top; width:32px; height:32px; background-image:url("../images/icon/ico_footer_sns_m.png");}
.ico-sns-facebook{background-position:0 0;}
.ico-sns-instagram{background-position:-40px 0;}
.ico-sns-blog{background-position:-80px 0;}
.ico-sns-post{background-position:-120px 0;}
.ico-sns-kakaotalk{background-position:-160px 0;}
.ico-sns-kakaostory{background-position:-200px 0;}
.footer-inner{padding:25px 15px 30px;}
.footer-inner + .footer-inner{border-top:1px solid #e6e6e6; padding-top:0}
.footer-menu-list{text-align:center; margin-top:20px}
.footer-menu-list > li{display:inline-block; padding:0 8px 0 0;}
.footer-menu-list > li:first-child:before{content:none;}
.footer-menu-list > li:before{display:inline-block; content:''; width:1px; height:12px; vertical-align:middle; background:#ccc; margin:-2px 10px 0 0;}
.footer-menu-list > li > a{color:#666; font-size:13px;}
.footer-links{overflow:hidden; background:#eee; border-top:1px solid #ddd; padding:0 15px;}
.footer-links > li{float:left; width:33.3333%; text-align:center;}
.footer-links > li > a{display:block; font-size:13px; color:#666; text-align:center;  font-weight:bold; padding:10px 0;}
.footer-cs-info{text-align:center;}
.footer-cs-info p{font-size:12px; color:#999; line-height:18px;}
.footer-cs-info .cs-guide{font-size:15px; margin-bottom:6px; color:#333}
.footer-cs-info .cs-guide .text-primary{font-weight:bold; font-size:16px;}
.footer-cs-info .cs-guide .ico-bl-phone{vertical-align:middle; margin:-2px 3px 0 7px;}
.footer-toggle{text-align:center;}
.footer-toggle > .ui-slide-btn{display:inline-block; padding:20px 0}
.footer-toggle > .ui-slide-btn .ico-arr-toggle{margin-left:5px}
.footer-addr-info > li{color:#666; font-size:11px; line-height:18px}
.footer-addr-info > li > p{display:inline; padding-right:10px;}
.footer-service-info{margin-top:10px;}
.footer-service-info dt,.footer-service-info dd{color:#666; font-size:11px; line-height:18px}
.footer-inner .copyright{margin-top:15px; color:#999; font-size:10px; text-align:center;}
.footer-service-info .btn-link-txt4,
.footer-addr-info .btn-link-txt4{font-size:11px; text-decoration:underline;}


/*========================================================
 Content
========================================================*/
.container{position:relative; /*min-height:calc(100% - 465px);*/ min-height:calc(100% - 60px);}
.container>.background{padding-top:10px;background-color: #e6e6e6;position:relative}
.content-wrap.type-bottom-btn{padding-bottom:110px} /* padding-bottom:80px */
/* Frame */
.frame-left{float:left}
.frame-right{float:right}
.frame-result-area{padding:30px 15px 50px;}

/* Title */
.page-title-area{position:relative; padding:17px 0; min-height:60px; border-bottom:1px solid #ddd}
.line{border-bottom: 0;}
.page-title-area .btn-back{display:block; position:absolute; left:0; top:0px; padding:20px 15px;}
.page-title{font-size:18px; font-weight:700; text-align:center; padding:0 70px}
.page-title-area .my-menu{position:absolute; top:10px; right:20px;}
.page-title-area .my-menu li{margin-left:15px}

/* .title-page-type2{font-size:25px; font-weight:700;} */
.list-title-area{position:relative; min-height:32px;}
.list-title-area .title-list{font-size:18px; font-weight:500; line-height:32px;}
.menu-title-area{position:relative; min-height:40px;}
.menu-title-area .title-menu{display:inline-block; font-size:24px; font-weight:500;}
.menu-title-area .sub-desc{display:inline-block; color:#666; font-size:12px; margin-left:5px;}
.menu-title-area .right{position:absolute; right:0; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index:1;}
.menu-title-area .right .btn-link-txt5{vertical-align: middle;}
.menu-title-area .right [class^="btn-"] + [class^="btn-"]{margin-left:10px;}

/* Content */
.page-guide{width:100%; padding:0 15px}
.page-guide-center{width:100%; padding:0 15px; text-align:center;}
.bottom-guide{border-top:2px solid #f2f2f2; padding:25px 15px 25px}
.bottom-guide .guide-tit{margin-bottom:8px}

/* 간격 */
.content-wrap.frame-sm .page-title-area:first-child{padding-top:70px;}
.board-form ~ .bl-list-type1{margin-top:20px}
.reply-area  ~ .pagination, 
.banner-list-wrap ~ .pagination,
.board-list ~ .pagination,
.board-list ~ .btn-bottom-area,
.my-prd-list ~ .btn-bottom-area,
.list-lately-wrap ~ .btn-bottom-area{margin-top:40px;}
.btn-bottom-area + .box-grey-type2{margin-top:90px}
.search-box ~ .board-list,
.menu-title-area ~ .board-form,
.menu-title-area ~ .board-list,
.menu-title-area ~ .coupon-box,
.menu-title-area ~ .grid-list-wrap,
.btn-bottom-area ~ .bottom-guide,
.inquery-form ~ .btn-bottom-area{margin-top:15px}

/* 데이터없을 경우 */
.no-data{text-align:center;}
.no-data [class^="ico-img-"]{margin-bottom:20px;}
.no-data .message{color:#555; font-size:13px;}
/* 예외 - header 최근검색어 */
.latest-search .no-data{padding:30px 0 35px !important;}
.latest-search .no-data p{color:#ccc}
.latest-search .no-data p:before{display:none}
/* 예외 - 장바구니 */
.cart-list-area .no-data{border-bottom:1px solid #ccc; padding:100px 0}
/* 예외 - 마이페이지 주문내역  */
.search-box ~ .no-data{padding:160px 0;}
.search-box ~ .no-data .message{color:#333; font-size:15px;}
/* 예외 - 마이페이지 찜한 상품 */
.grid-list-wrap .no-data{padding:160px 0;}
.grid-list-wrap .no-data:before{display:block; content:''; margin:0 auto 15px; width:80px; height:80px; background:url("../images/icon/ico_img_m.png") 0 -120px; background-size:200px auto}
.grid-list-wrap .no-data .message{color:#666; font-size:15px;}

.container.type-empty{height:calc(100% - 56px); background:#eee;}
.container.type-empty .no-data-page{padding-top:130px; text-align:center;}
.no-data-page .message{font-size:18px;}
.no-data-page .message + .btn-basic-lg{margin-top:50px; width:300px;}
.textarea-box ~ .filebox{margin-top:15px}

.page-bottom-area{position:fixed; bottom:0; left:0; width:100%; z-index:10;}
.page-bottom-area > [class*="btn-"]:only-child{margin:0; width:100%}
.page-bottom-area.type-myp{bottom:48px}

.inner-flex{display:flex; align-items:stretch;  display:-webkit-box;  display:-webkit-flex; -webkit-align-items:stretch;}
.inner-flex .left-item{flex-grow:1; -webkit-box-flex: 1;}
.inner-flex .right-item{position:relative; flex-grow:1; -webkit-box-flex: 1; text-align:right;}
.inner-flex .left-item1{flex-grow:1; -webkit-box-flex: 1;}
.inner-flex .right-item1{position:relative; flex-grow:1; -webkit-box-flex: 1; text-align:right;}
.inner-flex .grow-item2{flex-grow:2; -webkit-box-flex: 2;}
.inner-flex .grow-item3{flex-grow:3; -webkit-box-flex:3;}
.inner-flex .grow-item7{flex-grow:7; -webkit-box-flex: 7;}
.inner-flex .grow-item8{flex-grow:8; -webkit-box-flex: 8;}

.bottom-fixed-bar{position:fixed; bottom:0; left:0; width:100%; height:48px; background:#fff; box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.15); z-index: 10002;}
.bottom-fixed-bar .bottom-menu{display:table; width:100%; table-layout:fixed;}
.bottom-fixed-bar .bottom-menu > li{display:table-cell; width:20%; vertical-align:middle; text-align:center;}
.bottom-fixed-bar .bottom-menu > li > a:not(.btn-recent-view){display:block; padding:12px;}
[class*="ico-bottom-"]{display:inline-block; height:20px; background:url("../images/icon/ico_bottom_menu.png"); background-size:60px auto}
.ico-bottom-my{background-position:left top; width:20px;}
.ico-bottom-main{background-position:right top; width:20px;}
.ico-bottom-coupon{background-position:left bottom; width:28px;}
.btn-recent-view{position:relative; display:inline-block; width:30px; height:30px; border: 1px solid #44C6D5; border-radius:100%; overflow:hidden; padding:0;}
.btn-recent-view img{width:100%;}
.btn-recent-view .num{color:#fff; position:absolute; bottom:0; left:0; width:100%; height:100%; padding:12px 0 0; background: rgba(0,0,0,0.4);}
.btn-recent-view .num:before{display:block; content:''; position:absolute; top:2px; left:7px; width:14px; height:9px; background:url("../images/icon/ico_bottom_menu.png") right bottom;background-size:60px auto}


/*========================================================
 로그인, 회원가입
========================================================*/
/* 로그인 */
.login-area{padding:0 15px 40px}
.login-area .btn-bottom-area{padding:0}
.login-greeting{padding-top:55px; font-size:26px; color:#000; line-height: 1.6; margin-bottom:15px;}
.login-greeting .txt{font-weight:normal;}
.login-greeting .message .ico-logo-login{vertical-align: top; margin-top:-2px;}
.login-area .input-group + .input-group{margin-top:8px;}
.login-area .input-group  ~ .btn-basic-lg{margin-top:12px;}
.login-area .inner-flex{margin-top:15px;}
.login-area .btn-bottom-area ~ .page-guide-center{margin-top:25px;}
.login-area .btn-bottom-area ~ .log-benefit-bnr,
.login-area .page-guide-center ~ .log-benefit-bnr{margin-top:45px;}
.login-area .log-benefit-bnr + .bl-list-type3{margin-top:10px}
.login-area fieldset ~ .btn-bottom-area{margin-top:40px}
.join-title{font-size:24px; margin-bottom:20px; text-align:center; font-weight:500;}

.sns-login{margin:40px 0 0;}
.sns-login-list .ico-sns-loin{display:inline-block; width:52px; height:52px; overflow:hidden; background:url("../images/icon/ico_sns_login_m.png"); background-size:auto 52px;}
.sns-login-list .ico-sns-loin.naver{background-position:left top;}
.sns-login-list .ico-sns-loin.apple{background-position:right top;}
.sns-login-list{text-align:center}
.sns-login-list > li{display:inline-block; margin:0 18px;}

/* 회원가입 */
.form-group-area{padding:30px 0 20px;}
.terms-toggle-box{border:1px solid #ccc; border-radius:2px; padding:15px; margin-top:8px;}
.terms-toggle-box .box-head{border-bottom:1px solid #ddd; padding-bottom:10px}
.terms-toggle-box .terms-inner-list{padding-top:12px;}
.terms-toggle-box .terms-inner-list > li + li{margin-top:15px}
.terms-toggle-box ~ .bl-list-type2{margin-top:10px; padding-bottom:10px}
.terms-inner-list .terms-inner-box{background:#f8f8f8; padding:12px; margin-top:10px; font-size:11px;}
.btn-select-type{position:relative; display:inline-block; min-width:105px; height:50px; padding: 0 40px 0 15px; border: 1px solid #ccc; color: #666; vertical-align:middle; background: url(../images/icon/ico_btn_select.png) right center no-repeat; background-size: 28px auto;  border-radius: 0;}
.btn-select-type > span{display: inline-block; height:100%; line-height: 3.8;}

/* 아이디, 비번 찾기 */
.result-cnt{padding-top:70px; text-align:center;}
.result-cnt > i{margin:0 auto;}
.result-cnt .message{font-size:20px; margin-top:15px;}
.result-cnt ~ .btn-bottom-area{margin-top:45px;}
.input-group .timer{position:absolute; top:18px; right:15px; z-index: 2; color:#FF6001}
.frame-inner-pop{padding:65px 35px 45px; background:#fff;}
.frame-inner-pop2{padding:30px 35px}
.content-txt-type1 .title{text-align:center; font-size:18px; color:#000; font-weight:bold;}
.content-txt-type1 .txt{text-align:center; margin-top:15px; line-height:20px;}
.content-txt-type1 ~ .form-group-area{padding-top:25px;}
.radio-select-div{text-align:center;}
.radio-select-div .custom-radio {margin-bottom:10px}
.radio-select-div .custom-radio + .custom-radio{margin-left:10px}
.radio-select-div ~ .input-group{margin-top:15px;}

/* 이메일선택 팝업 */
.select-pop{border-radius: 5px; overflow:hidden;} 
.select-pop .layer-body{padding-bottom:70px}
.select-pop .layer-head{padding:24px 0 16px; border-bottom:1px solid #ccc}
.select-pop .list-tit{font-size:15px; text-align:center; color:#333}
.email-select-list li{border-bottom:1px solid #eee;}
.email-select-list li:last-child{border-bottom:0}
.email-select-list li > .custom-radio{display:block;}
.email-select-list li > .custom-radio .radio-list + label{padding:12px 0}
.find-id-list li + li{border-top:1px solid #eee; margin-top:24px; padding-top:24px;}
.find-id-list .custom-radio{display:block;}
.find-id-list .custom-radio .radio + label{font-weight:bold;}
.find-id-list .custom-radio ~ .ui-radio-content{padding-top:20px;}
.cs-box-bnr{border:1px solid #eee; border-radius:4px; margin:75px 0 30px;}
.cs-box-bnr li + li{border-top:1px solid #eee; overflow: hidden;}


/* 비밀번호 변경 */
.mem-guide-txt{font-size:15px; line-height:23px; text-align:center; margin-bottom:25px;}
.mem-guide-txt.type2{padding:0 10px; word-break: keep-all;}
.pw-guide-box{border:1px solid #eee; padding:30px 6.66%; border-radius:6px; width:90%; margin:0 auto}
.pw-guide-box .title{text-align:center; margin-bottom:20px; font-size:16px; font-weight:500;}
.pw-guide-box ul > li{font-size:12px; color:#666; padding-left:34px; position:relative; line-height:26px;}
.pw-guide-box ul > li + li{margin-top:10px}
[class*="ico-pwguide-"]{position:absolute; top:0; left:0; display:block; width:26px; height:26px; background: #F5F5F5; border-radius:50%;}
[class*="ico-pwguide-"]::after{display:inline-block; content:''; background-image:url('../images/icon/ico_img_m.png');  width:26px; height:26px; background-size:200px auto}
.ico-pwguide-01::after{background-position:-80px 0px;}
.ico-pwguide-02::after{background-position:-120px 0px;}
.ico-pwguide-03::after{background-position:-160px 0px;}
.pw-guide-box ~ .btn-bottom-area,
.mem-guide-txt + .btn-bottom-area{margin-top:40px}

/* 비회원주문 */
.terms-agree-area{margin-bottom:10px;}
.terms-agree-area .title{color:#333; font-size:15px;}

.terms-agree-area .terms-inner-wrap{border:1px solid #ccc; padding:15px; margin-top:10px}

.terms-agree-area .terms-inner-box{background: #F8F8F8; padding:10px; margin-top:10px; height:165px; overflow-y:auto; font-size:11px; color:#666} 

.terms-agree-area ~ .btn-bottom-area{margin-top:25px;}

