.badge-size01{height: 20px !important;overflow: hidden; vertical-align: top; padding: 0 !important;}
.badge-size01 img{height:20px !important;max-width: none !important;}
/*회원목록*/
.member-user-info-box{width: 100%;box-sizing: border-box;height: 90px;border: 5px solid #ececec;display: block;padding: 12px 0;}
.member-user-info-box::after{display: block;content: "";clear: both;}
.member-user-info-box .user-icon1{width:62px;height: 54px;float:left;vertical-align: top;margin: 0 54px 0 50px;}
.member-user-info-box .user-icon1 img{width:62px;height: 54px;display: block;}
.member-user-info-box .member-user-name{float:left;vertical-align: top;font-size: 22px;color: #05141f;line-height: 58px;width: calc((100% - 167px)/3);}
.member-user-info-box .member-user-num{float:left;vertical-align: top;font-size: 22px;color: #05141f;line-height: 58px;width: calc((100% - 167px)/3);}
.member-user-info-box .member-user-id{float:left;vertical-align: top;font-size: 22px;color: #05141f;line-height: 58px;width: calc((100% - 167px)/3);}
.member-user-info-box .member-user-id span{box-sizing: border-box;padding: 0 5px;}
.member-user-info-box .member-user-id span.on{background-color: #ffdd68;}
.member-user-info-box .member-user-num span.on{background-color: #ffdd68;}
.member-user-info-box .member-user-name span.on{background-color: #ffdd68;}
.bg-block-bk{width: 70px;height: 33px;border-radius: 2px;text-align: center;line-height: 32px;color: #fff;background-color: #000000;}
.bg-block-red{width: 70px;height: 33px;border-radius: 2px;text-align: center;line-height: 32px;color: #fff;background-color: #ed3b3b;}

/*주문내역*/
.member-status-table{width: 100%;height: 120px;background-color: #000;}
.member-status-table td{vertical-align: top;position: relative;height: 120px;}
.member-status-table td + td::after{display: block;content: "";position: absolute;width: 1px;height: 90px;background-color: #808080;top:15px;left: 0;z-index: 1;}
.member-status-table td .item-txt{position: absolute;top:20px;left: 40px;z-index: 10;color: #fff;font-size: 20px;font-weight: 400;}
.member-status-table td .item-num{position: absolute;bottom:20px;right: 40px;z-index: 10;color: #fff;font-size: 24px;font-weight: 400;text-align: right;}
.member-status-table td .item-num em{font-weight: 700;font-size: 34px;}
.tab-search-box{width:100%;height:74px;background-color: #f2f3f3;text-align: center;box-sizing: border-box;padding-top: 20px;}
.tab-search-box .input-group{margin: 0 auto;}
.tab-search-box .input-text{width: 600px;}
.tab-search-box .btn-form{padding:0 25px;}
.tab-search-box .btn-form.btn-black{background-color: #000;color: #fff;}


/*회원목록 팝업*/
.textarea-count-box{width: 100%;position: relative;border: 1px solid #bebebe;  height: 134px;  padding:10px;}
.textarea-count-box .textarea{width: 100%;border:0;padding: 0;height: 88px;}
.textarea-count-box .txt-cnt{position: absolute;bottom: 10px;right: 10px;z-index: 10;font-size: 14px;font-weight: 400;color: #999999;}
.textarea-count-box .txt-cnt em{font-weight: 700;color: #333;}
.page-info-inner{font-size: 14px;margin-left: 20px;}


/*알괄처리 팝업*/
.textarea-count-box.sp-content{height:286px;}
.textarea-count-box.sp-content .textarea{height:calc(100% - 18px);}
.textarea-count-box.pre-sp-content{height:242px;}
.textarea-count-box.pre-sp-content .textarea{height:calc(100% - 18px);}
/* 20210706 삭제 : 텍스트영역 높이값 공통적용 수정으로 인한 삭제
.textarea-count-box.payment-reason-txt{height:74px;padding: 5px;}
.textarea-count-box.payment-reason-txt .textarea{height:40px;} */

/*전시 카테고리관리*/
.exhibition-category-wrap{width: 100%;min-width: 1622px;}
.exhibition-category-wrap::after{display: block; content: "";clear: both;}
.exhibition-category-wrap .ec-left-area{float: left;width: 370px;margin-right: 40px;min-height: 508px;}
.exhibition-category-wrap .ec-left-area .top-btn-box{box-sizing: border-box;padding: 0px 0px 10px 0;}
.exhibition-category-wrap .ec-left-area .file-tree-wrap{box-sizing: border-box;border: 1px solid #bebebe; width: 100%;border-top:1px solid #000;position: relative;}
.exhibition-category-wrap .ec-left-area .file-tree-wrap .btn-area{position:absolute;bottom: 40px;left:calc(50% - 125px);z-index: 10;}

.exhibition-category-wrap .ec-left-area .file-tree-box{box-sizing: border-box;padding: 0px 20px 0px 20px;height: calc(100% - 130px);overflow: auto;margin-top:10px;}
.exhibition-category-wrap .ec-right-area{float: left;width:calc(100% - 410px);}

/*시스템관리*/
.cnt-title-box{position: relative; width: 100%; display: table; table-layout: auto;}
.cnt-title-box .cnt-left-area{display: table-cell; vertical-align: middle;}
.cnt-title-box .cnt-left-area .page-info{display: inline-block !important;padding: 5px 0;margin-left:25px;}
.cnt-title-box .cnt-right-area{display: table-cell; vertical-align: bottom; text-align: right;}

.grid-page-wrap{width: 100%;}
.grid-page-wrap::after{display: block;content: "";clear: both;}
.grid-page-wrap .grid-left-area{width: 550px;float: left;}
.grid-page-wrap .grid-right-area{width: calc(100% - 590px);float: left;margin-left: 40px;}
.grid-page-wrap .grid-right-area .div-head-scroll table{min-width: 1014px;table-layout: fixed;}

.div-head-scroll table tbody tr:hover:not(.no-data):not(.selected) td{background:#f7f7f7}
.div-body-scroll table tbody tr:hover:not(.no-data):not(.selected) td{background:#f7f7f7}
.div-head-scroll{ width: 100%;overflow-x: hidden;overflow-y: hidden;border-top: 1px solid #05141f;}
.div-head-scroll table th { text-align: center;    color: #05141f;    font-size: 14px;    font-weight: bold;     vertical-align: top;padding: 12px 10px;word-wrap: break-word;}
.div-head-scroll table th > .in-tb{display: inline-block;padding: 2px 0 3px;}
.div-head-scroll table th > .custom-checkbox{padding: 3px 0 3px;}
.tbl-head { table-layout: fixed; background-color: #fff;padding-top: 4px; width: 100%; height: 50px;border-collapse: collapse;}

.div-body-scroll {width: 100%; height: 350px;overflow-x: scroll; overflow-y: scroll; border-top: 1px solid #b4b8bb;}
.div-body-scroll table .list-check [class*="custom-"]{padding: 7px 0 8px;}
.tbl-body { width: 100%;table-layout: fixed !important; ;border-collapse: collapse;}
/*.title { text-align: center;font-weight: bold;}*/
.div-body-scroll table td{border-bottom: 1px solid #ededed; padding: 12px 10px; vertical-align: top; font-size: 14px; color: #05141f; word-break: keep-all;word-wrap: break-word;}
.div-body-scroll table tbody td a.in-tb,
.div-body-scroll table tbody td .in-tb > a {display: inline-block;    text-decoration: underline;}
.tbl-body .in-tb{font-size: 14px;    color: #05141f;    word-break: keep-all;    padding: 7px 0 8px;     word-wrap: break-word;}



/*메인 전시 영역*/
/*좌우 500px일때 type02 */
.grid-page-wrap.type02 {}
.grid-page-wrap.type02 .grid-right-area {width: calc(100% - 540px)}
.grid-page-wrap.type02 .grid-left-area {width: 500px !important;}


/*주문관리팝업*/
.cnt-title-area .right-info .es{vertical-align: top; margin: 8px 6px 0 0;}
.board-option .right-area .es{vertical-align: top; margin: 8px 6px 0 0;}

/*입점사 광고구좌관리*/
.grid-page-wrap.account-management{min-width: 1590px;}
.grid-page-wrap.account-management .grid-left-area{min-width: 1020px;width: 70%;}
.grid-page-wrap.account-management .grid-right-area {max-width: 572px;width: auto;width: calc(30% - 40px);}

/*기본정보관리*/
.input-group.right-fixed{float: right;}
table td .link-txt{display: inline-block;text-decoration: underline;}