.icon-list{font-size: 0; margin-top: -10px;}
.icon-list:after{content:''; display:block; clear:both;}
.icon-list li{float: left; padding-top:10px;}
.icon-list li:last-child{margin-right: 0;}
.icon-list .custom-checkbox,
.icon-list .thmb, 
.icon-list input {display: inline-block; vertical-align: middle; margin-right:10px; text-align: center;}
.icon-list .thmb{background-color: #f65f24; overflow: hidden;}
.icon-list .thmb img{width: 100%; height: 100%;}
.icon-list input{width: 80px;}
.icon-list.bdg li{margin-right: 62px;}
.icon-list.bdg .thmb{width: 38px; height: 38px;}
.icon-list.icon li{margin-right: 40px;}
.icon-list.icon .thmb{width: 60px; height: 26px;}

 /* 스크롤이동버튼/테이블 */
.scrollbar-move-area{position:relative;}
.scroll-view-btns{position:absolute; top:0; left:0; height:1px; width:100%; z-index:10;}
.scroll-view-btns.fixed{position:fixed; padding:0 40px 0 90px;}
.container.gnb-open .scroll-view-btns.fixed{padding:0 40px 0 258px;}
.scroll-view-btns .inner{position:relative}
.scroll-view-btns [class*="btn-scroll-"]{position:absolute; top:150px; width:25px; height:50px; background-image:url('../../images/icon/btn_table_scroll.png')}
.scroll-view-btns .btn-scroll-left{background-position:left top; left:-20px}
.scroll-view-btns .btn-scroll-right{background-position:right top; right:-20px;}
.scroll-view-btns.fixed .scroll-view-btns [class*="btn-scroll-"]{top:10px}
.ui-scroll-move{position:absolute; top:0; z-index:9; width:50px; height:100%;}
.ui-scroll-move.pos-left{left:-40px;}
.ui-scroll-move.pos-right{right:-40px;}
/* .ui-scroll-move.clicked{display:none} */

@media screen and (max-width:1367px) { 
    .container.gnb-open .scroll-view-btns.fixed{padding:0 0 0 258px;}
    .scroll-view-btns.fixed{padding:0 0 0 90px;}
}

/* 시스템관리 > 알림톡 메시지 등록 */
.board-form table td.td-message-area{border-bottom:0; padding:0; padding-left:20px}
.td-message-area .inner{background:#afc0cf; min-height:445px; padding:10px 20px 10px}
.td-message-area .inner .box-tit{text-align:center; font-size:16px; margin-bottom:10px}
.td-message-area .inner .talk-box{width:375px; height:217px; background:url('../../images/bg_talk.png') no-repeat; padding:20px; margin-bottom:15px}
.td-message-area .inner .inner-scroll{height:100%; overflow-y:auto; }
.ui-btns-list .talk-btn-box + .talk-btn-box{margin-top:5px;}
.talk-btn-box{position:relative; width:100%; background:#fff; border-radius:4px; height:28px; padding:0 40px 0 33px; line-height:26px}
.talk-btn-box .ico-btn-line{position:absolute; top:10px; left:10px}
.talk-btn-box .btn-del-xs{position:absolute; top:5px; right:10px;}