/* 상품 진열 순서 관리 */
.board-option .btn-lst{display:inline-block;vertical-align:middle}
.btn-lst button,
.btn-lst .btn-set,
.btn-lst .mv-box{display:inline-block;vertical-align:middle; }
.btn-lst .btn-func.btn-default{background:#fff; border-color: #c8c8c8;color: #000;}

.btn-lst .btn-func.btn-default:hover{background:#e5e5e5; border:1px solid #05141f;}

.btn-lst .btn-set > *{float:left}
.btn-lst .mv-box{border:#c8c8c8 solid 1px;border-width:1px 0;height:30px}
.btn-lst .mv-box input{border:none;font-size:13px;text-align:center;width:45px;height:100%; max-height:28px}
.btn-lst .mv-box .txt{display:inline-block;font-size:13px;padding:0 8px;vertical-align:middle}
.btn-lst .mv-box button{border:#c8c8c8 solid 1px;}
.btn-lst button[class*="btn-mv-"]{border:#c8c8c8 1px solid;color:#000;width:30px;height:30px;padding:0;transition:.2s;-webkit-transition:.2s}
.btn-lst button[class*="btn-mv-"]:hover{background:#e5e5e5;border-color:#000}
.btn-lst .btn-mv-up{border-radius:3px 0 0 3px}
.btn-lst .btn-mv-down{border-radius:0 3px 3px 0}
.btn-lst + button{margin-left:26px}
table tr.selected td{background-color:#fff7f3}
.board-list table .prdimg{display:block;background:url('../../images/bg_no_image.png');border-radius:5px;width:50px;height:50px;overflow:hidden;margin:0 auto}
.board-list table .prdimg img{width:100%;height:100%}
.vm-table table td{vertical-align:middle;padding:5px 10px}/* td > vertical-align:middle case에 사용 */
/* 상품진열 컨트롤 버튼 fixed */
.board-option.fixed{position:fixed;z-index:98;width:calc(100% - 130px);top:64px;background-color:#fff;border-bottom:#05141f solid 1px;padding-top:40px;padding-bottom:10px;margin-top:0 !important}
.gnb-open .board-option.fixed{width:calc(100% - 298px)}
.board-option.fixed + .board-list{padding-top:65px}

.grid-page-wrap [class*="cnt-title-"] .select, 
.grid-page-wrap [class*="cnt-title-"] button{height:30px;vertical-align:middle}
.cnt-right-area .btn-lst{display:inline-block}

/*.profile-photo-box{position:relative;width:100%;height:100%}
.profile-photo-box .btn-box{margin-bottom:5px}
.profile-photo-box .photo{background-color:#eaeaea;width:300px;height:300px}
.profile-photo-box .photo img{width:100%;height:100%}
.profile-photo-box input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0} */
.profile-photo-box{position:relative;width:100%;height:100%}
.profile-photo-box .btn-box{margin-bottom:10px}
.profile-photo-box .photo{width:205px;height:205px;border:1px solid #ededed;padding:7px}
.profile-photo-box .photo img{width:100%;height:100%}
.profile-photo-box input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

/* 판매, 배송정책 */
.txt-ico{display:inline-block;position:relative;width:20px;height:20px;overflow:hidden;background:url(../../images/icon/ico_policy.png) no-repeat;overflow:hidden;margin-right:0;color:transparent;text-indent:-9999px}
.naver-pay{background-position:0 0}
.gift{background-position:0 -30px}
.duty-free{background-position:0 -60px}
.fridge{background-position:0 -120px}
.attached{background-position:0 -90px}
.general{background-position:0 -150px}
.regular{background-position:0 -180px}
.express{background-position:0 -210px}
.extra-area{background-position:0 -210px}/*도서산간지역*/
.option-lst span+span{margin:0 -1px}

/*페이지 전체에 대한 안내문구*/
.cnt-title-area .ctext-notice{ font-size:12px;color:#05141f;font-weight:normal}
/* 상품승인요청목록 > 아이콘 */
.icon-check-lst{position:relative;display:table;width:auto;border-collapse:collapse;margin:5px 0}
.icon-check-lst + .icon-check-lst{margin-top:10px}
.icon-check-lst .tit{display:table-cell;width:90px;font-size:13px;font-weight:bold;white-space:nowrap;vertical-align:middle}
.icon-check-lst .item:after{display:block;content:'';clear:both}
.icon-check-lst .item li{float:left;width:166px}
.icon-check-lst.bdg img{width:38px;height:38px}
.icon-check-lst.icon img{width:61px;height:26px}
.icon-check-lst .custom-checkbox .checkbox + label:before{top:50%;margin-top:-9px}

.hide{display:none !important}
.show{display:block}
.grid-page-wrap .cnt-right-area, 
.grid-page-wrap .cnt-title-area{position:relative;margin:0 0 10px 0;height:30px}
.grid-page-wrap .cnt-right-area{text-align:right}
.grid-page-wrap .content-area{padding:0;min-width:1600px}
.grid-page-wrap .scroll-frame{height:400px;overflow-y:scroll; border-top:1px solid #05141f;}
.grid-page-wrap .scroll-frame .cnt-title-area:first-child{margin-top:10px !important}
.grid-page-wrap .scroll-frame .board-form.mt15{margin-top:0 !important}
.grid-page-wrap.type01{min-width:1600px}
.grid-page-wrap.type01 .grid-right-area{width:calc(100% - 792px)}
.grid-page-wrap.type01 .grid-left-area{width:752px !important}
.scroll-y-table{height:auto !important;max-height:581px;min-height:60px;overflow-y:auto}

/*사용자정보*/
.layer-profile .user-info .profile-photo-box{position:relative;width:100px;height:200px;color:#05141f;font-size:14px;margin:0 auto;padding-top:20px}
.layer-profile .user-info .profile-photo-box .btn-box{position:absolute;top:100px;right:8px;width:30px;height:30px;z-index:99;display:block;-webkit-box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%);box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%);border-radius:50%;overflow:hidden}
.layer-profile .user-info .profile-photo-box .photo{position:relative;display:block;width:100px;height:100px;overflow:hidden;border-radius:100%;padding:0;border:0}
.layer-profile .user-info .profile-photo-box .photo img{width:100%;height:100%;vertical-align:top}
.layer-profile .user-info .profile-photo-box .btn-photo{display:block;-webkit-box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%);box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%);border-radius:50%;overflow:hidden}
.layer-profile .user-info .profile-photo-box label{display:block;background:url('../../images/ico-profile.png') no-repeat;width:30px;height:30px}
.layer-profile .user-info .profile-photo-box input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.layer-profile .user-info .profile-photo-box .mask{display:none}
.layer-profile .user-info .profile-photo-box .profile-name{margin-top:20px}
.layer-profile .user-info .profile-photo-box .profile-name span{display:block;font-weight:bold;text-align:center}
.layer-profile .user-info .profile-photo-box .profile-name span + span{margin-top:3px}
.layer-profile .board-form.user-info table tbody th,
.layer-profile .board-form.user-info table tbody td{vertical-align:middle;}

/* .layer-profile .user-info .profile-photo-box{position:relative;width:100px;height:200px;color:#05141f;font-size:14px;margin:0 auto}
.layer-profile .user-info .profile-photo-box .btn-box{position:absolute;top:90px;right:8px;width:30px;height:30px;z-index:99;display:block;-webkit-box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%);box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%);border-radius:50%;overflow:hidden}
.layer-profile .user-info .profile-photo-box .photo{position:relative;display:block;background:url('../../images/profile_default.png') no-repeat center center;width:100px;height:135px;overflow:hidden}
.layer-profile .user-info .profile-photo-box .photo img{width:100%;height:100%;vertical-align:top}
.layer-profile .user-info .profile-photo-box .btn-photo{display:block;-webkit-box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%);box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%);border-radius:50%;overflow:hidden}
.layer-profile .user-info .profile-photo-box label{display:block;background:url('../../images/ico-profile.png') no-repeat;width:30px;height:30px}
.layer-profile .user-info .profile-photo-box input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.layer-profile .user-info .profile-photo-box .mask{ position:absolute;z-index:10;top:0;right:0;bottom:0;left:0;background:url('../../images/bg_profile_thumb.png') no-repeat}
.layer-profile .user-info .profile-photo-box .profile-name span{display:block;font-weight:bold;text-align:center}
.layer-profile .user-info .profile-photo-box .profile-name span + span{margin-top:3px} */

/*공지사항 팝업*/
.layer-inner.layer-notice .layer-content{padding-top:0}
.grid-notice-wrap{width:100%}
.grid-notice-wrap::after{display:block;content:"";clear:both}
.grid-notice-wrap .column-left{float:left;width:680px;padding-right:40px;background:rgb(255,255,255);background:linear-gradient(90deg, rgba(255,255,255,1) 97%, rgba(240,240,240,1) 100%);border-right:#d2d2d2 solid 1px}
.grid-notice-wrap .column-right{position:relative;float:right;width:calc(100% - 700px);margin-left:20px}
.grid-notice-wrap .top h5.tit{color:#05141f;font-size:16px;font-weight:normal;line-height:1.4;height:42px;margin-bottom:14px;overflow:hidden}
.grid-notice-wrap .top .info{border-top:1px solid #05141f;font-size:13px;line-height:48px;height:48px}
.grid-notice-wrap .top .info::after{display:block;content:"";clear:both}
.grid-notice-wrap .top .info .writer{float:left}
.grid-notice-wrap .top .info .date{float:right}
.grid-notice-wrap .top .info dt,
.grid-notice-wrap .top .info dd{float:left}
.grid-notice-wrap .top .info dd:before{content:"";display:inline-block;width:1px;height:12px;margin:0 10px;background-color:#e4e4e4;vertical-align:-1px}
.grid-notice-wrap [class*="column-"]{padding-top:30px}
.grid-notice-wrap .column-right .cnt-title-area{margin-top:19px}
/* .grid-notice-wrap .column-right .cnt-title-area .right-info{top:0} */
.grid-notice-wrap .column-right .cnt-title-area .info{font-size:14px;font-weight:normal}
.grid-notice-wrap .div-head-scroll .tbl-head{height:42px}
.grid-notice-wrap .div-head-scroll table th{padding:8px 10px}
.grid-notice-wrap .div-body-scroll table td{padding:8px 10px}
.grid-notice-wrap .cont{width:100%;height:447px;overflow-y:scroll;}
.grid-notice-wrap .column-right,
.grid-notice-wrap .cont{border-bottom:#b4b8bb solid 1px}
.grid-notice-wrap .div-body-scroll{width:100%;height:450px;overflow-y:scroll}
.grid-notice-wrap .cont,
.grid-notice-wrap .checked td .in-tb,
.grid-notice-wrap .checked td a.in-tb{color:#666}
.grid-notice-wrap .list-num{text-align:center}

/*전체메뉴(팝업)*/
.layer-allmenus{width:1366px}
.layer-allmenus .layer-head{background:#fff;height:90px;padding-top:33px}
.layer-allmenus .layer-head .layer-title{display:inline-block;color:#05141f;font-size:30px;padding:0 0 0 10px;vertical-align:middle}
.layer-allmenus .layer-head span.desc{display:inline-block;vertical-align:middle}
.layer-allmenus .layer-content{height:760px;overflow-y:auto;margin:0 30px;padding:30px 0;border-top:#05141f solid 3px}
.layer-allmenus .layer-content .in-content{padding:0}
.layer-allmenus .site-depth{font-size:0;background:url(../../images/bg_line.png) repeat-y;margin-top:-40px}
.layer-allmenus .site-depth::after{display:block;content:'';clear:both}
.layer-allmenus .site-depth + .site-depth{margin-top:40px}
.layer-allmenus .site-depth>li{width:20%;padding-left:10px;padding-right:10px;display:inline-block;float:none;vertical-align:top;margin-top:40px;position:relative}
.layer-allmenus .site-depth>li:after{width:calc(100% + 3px);height:40px;position:absolute;top:-40px;left:0;background:#fff;content:""}
.layer-allmenus .site-depth>li:last-child{border-right:0}
.layer-allmenus .site-depth .tit{display:block;font-size:16px;font-weight:bold;line-height:1;padding:11px 15px 10px;margin-bottom:3px;background:#fef2e8}
.layer-allmenus .site-depth .menu-wrap{position:relative;padding-right:36px;word-break:break-all}
.layer-allmenus .site-depth .menu-wrap .custom-checkbox.fav{position:absolute;top:0;right:0}
.layer-allmenus .site-depth2 li{padding:12px 15px 7px}
.layer-allmenus .site-depth2 a,
.layer-allmenus .site-depth2 .depth-tit{display:block;font-size:13px;font-weight:bold}
/*.layer-allmenus .site-depth3{margin-top:5px}*/
.layer-allmenus .site-depth3 li{padding:13px 0 0}
.layer-allmenus .site-depth3 li a{position:relative;font-weight:normal;letter-spacing:-0.8px;padding-left:9px}
.layer-allmenus .site-depth3 li a::before{position:absolute;top:5px;left:0;display:inline-block;vertical-align:top;color:#888;content:'';border-width:3px 0 3px 4px;border-style:solid;border-top-color:transparent;border-bottom-color:transparent;transform:rotate(360deg);-webkit-transform:rotate(360deg)}
.layer-allmenus ul li a:hover{color:#ff7e32;text-decoration:underline}
.layer-allmenus .custom-checkbox.fav .checkbox + label{width:16px;height:16px;padding-left:0}
.layer-allmenus .custom-checkbox.fav .checkbox + label:before{display:block;content:'';position:absolute;left:0;top:0;width:16px;height:16px;text-align:center;border:none;box-sizing:border-box;background:url("../../images/icon/ico_fav.png") 0 0}
.layer-allmenus .custom-checkbox.fav .checkbox:checked + label:before{background:url("../../images/icon/ico_fav.png") 0 -24px;width:16px;
height:16px;border:none}
.layer-inner.layer-allmenus .btn-x-md2{top:29px;right:30px}
.layer-inner.layer-allmenus .btn-x-md2 [class^="ico-x-"]{width:32px;height:32px}
.layer-inner.layer-allmenus .btn-x-md2 [class^="ico-x-"]:before, .layer-inner.layer-allmenus .btn-x-md2 [class^="ico-x-"]:after{background:#000}
.board-list table tbody td a.in-tb + div,
.board-list table tbody td div + a.in-tb {margin-top:-3px}


/* 기본정보설정 */
/* 텍스트에디터 */
.text-editor-area{border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #b4b8bb;min-height:310px}

/* 배송그룹 */
.text-left.adrr-text{padding-left:48px}

/* 시스템 */
.grid-page-wrap.type03 .grid-left-area{width:380px !important}
.grid-page-wrap.type03 .grid-right-area{width:calc(100% - 420px) !important}

/* 프로모션 */
.tool-cont{display:none}
.tool-popup{display:none;position:absolute;border:1px solid #05141f;background:#fff;border-radius:3px;padding:15px;max-width:500px;z-index:99;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}
.tool-popup:before{content:"";position:absolute;top:-6px;left:20px;width:9px;height:9px;background:#fff;border:1px solid #05141f;border-left:0;border-bottom:0;transform:rotate(-45deg)}
.tool-popup strong{font-size: 14px;display: block;border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;}
.tool-popup .tag-line{color:#666;}
.tool-tit-line{width: 1px;height: 14px;background-color: #999;vertical-align: top;display: inline-block;margin: 3px 10px 0;}
.tool-img-box{margin:10px 0;}
.tool-img-box > span{float: left;margin-right: 5px;}
.tool-img-box > span.prdimg{background: url(../../images/bg_no_image.png); border-radius: 5px; width: 50px; height: 50px; overflow: hidden;}
.tool-img-box > span:last-child{margin-right: 0;}
.tool-img-box::after{display: block;content: "";clear: both;}
/* 상품등록 이미지 첨부 */
.attach-wrap{font-size:0;margin:10px -15px 0}
.attach-wrap .attach-item{display:inline-block;margin:0 15px;vertical-align:top;position:relative}
.attach-wrap .attach-item .btn-attach{font-size:12px;display:block;width:160px;height:160px;box-sizing:border-box;border:1px dashed #bebebe;position:relative;text-align:center;color:#05141f;padding-top:136px}
.attach-wrap .attach-item .btn-attach:before{content:"";width:48px;height:3px;background:#c1c5cd;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.attach-wrap .attach-item .btn-attach:after{content:"";width:3px;height:48px;background:#c1c5cd;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.attach-wrap .attach-item .btn-attach em{color:#ff7e32}
.attach-wrap .attach-item .upload-img{position:absolute;top:0;left:0;width:160px;height:160px;overflow:hidden}
.attach-wrap .attach-item .upload-img img{display:block;width:100%}
.attach-wrap .attach-item .upload-name{font-size:13px;margin:10px 0 5px}
.attach-wrap .attach-item .upload-hidden{opacity:0;position:absolute;top:0;left:0;width:160px;height:160px;z-index:10}

/* 통계 */
.list-box-type{display:flex;margin-top:60px}
.list-box-type.type-col4{border:1px solid #e6e6e6;border-left:0;border-bottom:0;flex-wrap:wrap}
.list-box-type.type-black{background:#7e7e7e;padding:15px 0}
.list-box-type li{box-sizing:border-box;position:relative}
.list-box-type.type-col4 li{flex:1 0 25%;height:110px;border-left:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding:20px 0 0 30px;color:#05141f;}
.list-box-type.type-black li{color:#fff;height:90px;width:100%}
.list-box-type.type-black li ~ li{border-left:1px solid #989898}
.list-box-type li em{display:block;line-height:1;font-size:16px}
.list-box-type.type-black li em{padding-left:30px;line-height:27px}
.list-box-type li a{position:absolute;right:30px;bottom:20px;font-size:18px;line-height:1}
.list-box-type.type-col4 li a{border-bottom:1px solid #686c70;padding-bottom:3px;}
.list-box-type.type-black li a{bottom:5px}
.list-box-type li a strong{font-size:24px}
.list-box-type.type-col4 li a strong{font-weight:normal}
.list-box-type ~ .list-box-type{margin-top:20px}
.list-box-type.type-col4 li.half{flex:1 0 50%}

.member-status .input-group-form{height:28px}
.member-status .input-group-form .custom-radio{width:85px}
.member-status .input-group-form .custom-radio:only-child{padding-top:5px}
.member-status .input-group-form > *{display:inline-block;vertical-align:middle}
.member-status .input-group-form ~ .input-group-form{margin-top:5px}

/* intro */
.intro{background:#fff9f2;min-width:970px;min-height:604px}
.intro .logo a{display:block;width:188px;height:67px;text-indent:-99999em;background:url(../../images/logo_admin.png) no-repeat;margin-left:2px }
.intro .intro-login{width:970px;height:604px;position:absolute;top:calc(50% - 302px);left:calc(50% - 485px);background:url(../../images/bg_login.png) no-repeat;box-sizing:border-box;padding:62px 0 0 79px}
.intro .login-form{margin-top:61px;width:381px;text-align:center}
.intro .login-form .input-box{height:60px;line-height:60px;border-radius:30px;box-sizing:border-box;background:#f6f6f6;font-size:0;overflow:hidden;text-align:left}
.intro .login-form .input-box label{color:#999;font-size:14px;display:inline-block;width:146px;padding-left:30px;box-sizing:border-box}
.intro .login-form .input-box.key-up{background:#fff;border:1px solid #ff7e32}
.intro .login-form input[type="text"],
.intro .login-form input[type="password"]{display:inline-block;width:calc(100% - 146px);font-size:16px;color:#05141f;border:0;background:transparent;outline:0}
.intro .login-form input::placeholder{font-size:14px;color:#999}
.intro .login-form .input-box ~ .input-box{margin-top:10px}
.intro .login-form .btn-intro-default{display:block;margin-top:20px;height:60px;line-height:60px;background:#05141f;color:#fff;font-size:18px;font-weight:bold;border-radius:30px;width:100%}
.intro .save-check{margin-top:30px;}
.intro .save-check .custom-checkbox{padding:0 30px}
.intro .save-check .custom-checkbox ~ .custom-checkbox{padding-left:31px;position:relative}
.intro .save-check .custom-checkbox ~ .custom-checkbox:before{content:"";width:1px;height:15px;background:#e4e4e4;position:absolute;left:0;top:2px}
.intro .link-text{display:inline-block;line-height:1;margin-top:48px;font-size:15px;color:#05141f;padding-bottom:2px;border-bottom:1px solid #05141f}
.intro .error-text{font-size:15px;color:#ff7e32;line-height:20px;text-align:center;margin-top:25px}
.intro .bl-text-type1{font-size:13px;color:#05141f;display:inline-block;margin-top:12px}
.intro .dash-list{margin:30px 0 0 -30px}

.dash-list{text-align:left;font-size:13px;color:#666;line-height:20px}
.dash-list > li:before{content:"-";display:inline-block}

/* dashbord */
.dashboard{min-width:1702px;max-width:1920px}
.dashboard .ui-datepicker{margin-left:-225px}
.main-tab{font-size:0;margin-top:25px}
.main-tab li{display:inline-block;position:relative;vertical-align:top}
.main-tab li ~ li:before{content:"";width:1px;height:18px;background:#e6e6e6;display:inline-block;margin:2px 25px 0}
.main-tab li a{display:inline-block;font-size:20px;color:#05141f;line-height:1}
.main-tab li.current a{font-weight:bold}

.sorting-area{margin-top:30px;text-align:center}
.sorting-area:after{content:"";display:block;clear:both}
.sorting-area .left-area{float:left}
.sorting-area .right-area{float:right;font-size:0}
.sorting-area .right-area .sorting-menu ~ .sorting-menu{margin-left:30px}
.sorting-menu{font-size:0;display:inline-block;vertical-align:top}
.sorting-menu .sorting-item{display:inline-block}
.sorting-menu .sorting-item ~ .sorting-item{margin-left:-1px}
.sorting-menu .sorting-item ~ .sorting-item input:checked + label{border-left:1px solid #bebebe}
.sorting-menu input{position:absolute;opacity:0}
.sorting-menu label{display:block;font-size:13px;padding:0 20px;height:33px;border:1px solid #bebebe;line-height:33px}
.sorting-menu input:checked + label{background:#ff7e32;color:#fff;border-color:#ff7e32}
.date-group{display:inline-block;padding:5px 0 0 30px}
.date-group > span{font-size:22px;line-height:1}
.date-group .datepicker-group{display:inline-block;vertical-align:top}
.date-group .date-draw{opacity:0;position:absolute;z-index:-10}
.date-group .btn-datepicker{display:inline-block;background:url(../../images/icon/ico_calendar.png) no-repeat 50% 50%;width:24px;height:24px;vertical-align:top}
.date-group .btn-datepicker{text-indent:-999999em}

h5.title{font-size:20px;margin-bottom:35px}
h5.title span{font-size:13px;font-weight:normal}
h5.title ~ .section-group{margin-top:-20px}
h6.stitle{font-size:16px}

.dashboard .board-list table td{padding:7px 10px}
.dashboard .board-list table tfoot th,
.dashboard .board-list table tfoot td{border-top:1px solid #05141f;border-bottom:1px solid #05141f;}

.section-group{box-shadow:0 0 14px rgba(112,112,112,.16);border-radius:6px;border:1px solid #ddd;margin:20px 0;padding:20px 30px;font-size:0;background:#fff;position:relative}
.section-group .left-group{box-sizing:border-box;display:inline-block;vertical-align:top}
.section-group > .left-group{border-right:1px solid #e6e6e6;padding-right:30px;width:935px}
.section-group .right-group{width:calc(100% - 935px);padding-left:30px;box-sizing:border-box;display:inline-block;vertical-align:top}
.section-group > .right-group .graph-area{width:100%;height:400px;overflow:hidden}
.section-group .summary-group{font-size:0;background:#7e7e7e;padding:15px 0;display:flex}
.section-group .summary-group li{flex:1;font-size:0;box-sizing:border-box;padding:10px 30px 0;height:100px;color:#fff}
.section-group .summary-group li ~ li{border-left:1px solid #989898}
.section-group .summary-group em{color:rgba(255,255,255,.6);font-size:16px;line-height:1;display:block}
.section-group .summary-group strong{display:block;font-size:26px;line-height:1;margin:10px 0}
.section-group .summary-group .before{display:inline-block;width:60%;font-size:16px;line-height:1}
.section-group .summary-group .fluctuate{font-weight:bold;text-align:right;display:inline-block;width:40%;font-size:16px;line-height:1}
.section-group .summary-group .fluctuate.type-up{color:#fcb03f}
.section-group .summary-group .fluctuate.type-up:before{content:"";display:inline-block;width:0;height:0;border-bottom:11px solid #fcb03f;border-left:6px solid transparent;border-right:6px solid transparent;border-top:0 solid transparent;margin-right:8px}
.section-group .summary-group .fluctuate.type-down{color:#7bd5ff}
.section-group .summary-group .fluctuate.type-down:before{content:"";display:inline-block;width:0;height:0;border-top:11px solid #7bd5ff;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:0px solid transparent;margin-right:8px}
.section-group .summary-group.type-icon{background:#fff;border:1px solid #e9e9e9;padding:0}
.section-group .summary-group.type-icon li{border-color:#e9e9e9;position:relative;height:128px;padding-top:20px}
.section-group .summary-group.type-icon .title{color:#999;font-size:16px;font-weight:bold}
.section-group .summary-group.type-icon strong{color:#05141f}
.section-group .summary-group.type-icon .ratio{font-size:16px;color:#05141f}
.section-group .summary-group.type-icon li[class^="ico-"]:after{content:"";width:54px;height:54px;background:url(../../images/icon/ico_dashbord.png) no-repeat;position:absolute;right:20px;bottom:38px}
.section-group .summary-group.type-icon .ico-mobile:after{background-position:0 -54px !important}
.section-group .summary-group.type-icon .ico-app:after{background-position:0 -108px !important}
.section-group .summary-group.type-icon .ico-order:after{background-position:0 -162px !important}
.section-group .summary-group.type-icon .ico-cancel:after{background-position:0 -216px !important}
.section-group .summary-group.type-icon .ico-man:after{background-position:0 -270px !important}
.section-group .summary-group.type-icon .ico-woman:after{background-position:0 -324px !important}

.section-group .box-group{margin-top:30px;font-size:0}
.dashboard .btn-more{position:absolute;font-size:13px;position:absolute;top:40px;right:68px;line-height:1;padding-bottom:1px;border-bottom:1px solid #05141f}
.dashboard .btn-more:after{content:"";position:absolute;top:5px;right:-8px;width:4px;height:4px;border:1px solid #05141f;border-left:0;border-bottom:0;transform:rotate(45deg);}
.section-group .btn-more{top:20px;right:38px}
.section-group.type02 .btn-more{top:60px;right:10px}

.left-group.left-size01{width:calc(100% - 398px)}
.right-group.graph-sm{width:398px}
.right-group.graph-sm2 .graph-area{width:368px;height:240px;overflow:hidden}
.right-group.graph-sm .graph-area{width:368px;height:280px;overflow:hidden}
.state-table.div-body-scroll{border-top:0;overflow-x:hidden;height:228px}
.state-table.div-body-scroll.hei-size02{height:168px}

.board-list.type03{font-size:13px}
.board-list.type03.div-head-scroll{border-bottom:0}
.board-list.type03 table{width:100%;table-layout:fixed}
.board-list.type03 table thead th{border-bottom:1px solid #b4b8bb;border-top:1px solid #05141f;background:#fff;border-right:0}
.board-list.type03 table thead tr th:last-child{border-left:0}
.board-list.type03 table tr:hover *{background:none !important}
.board-list.type03 table th ~ th,
.board-list.type03 table td{border-left:1px solid #e6e6e6}
.board-list.type03 table tbody th,
.board-list.type03 table td{border-bottom:1px solid #e6e6e6;vertical-align:middle;font-size:13px}

.state-table table tfoot ~ tbody tr:last-child th{border-bottom:0}
.state-table table tfoot th.vt-mid{vertical-align:middle}
.state-table table td strong{font-size:16px;display:block;margin-bottom:3px}
.state-table table td .before{display:inline-block;vertical-align:top}
.state-table table td .fluctuate{display:inline-block;vertical-align:top;margin-left:10px}
.state-table table td .fluctuate.type-up{color:#ff7e32}
.state-table table td .fluctuate.type-up:before{content:"";display:inline-block;width:0;height:0;border-bottom:8px solid #ff7e32;border-left:5px solid transparent;border-right:5px solid transparent;border-top:0 solid transparent;margin-right:1px}
.state-table table td .fluctuate.type-down:before{content:"";display:inline-block;width:0;height:0;border-top:8px solid #05141f;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:0px solid transparent;margin-right:1px}
.state-table table td .ratio{display:block;margin-top:3px}

.bg-type{margin:40px -40px 40px;background:#f4f4f6;padding:40px;position:relative}
.bg-type .section-group{display:inline-block;vertical-align:top;padding:20px 0;height:540px}
.bg-type .section-group .graph-wrap{display:inline-block}
.bg-type h6.stitle{margin-bottom:20px}
.bg-type .graph-wrap .graph-area{height:445px}
.section-group.methods-pay-satus{width:calc(65% - 20px);margin-right:15px}
.section-group.methods-pay-satus + .section-group{width:35%}
.section-group.methods-pay-satus .graph-wrap.fix-size480{width:480px;padding:0 25px 0 30px}
.section-group.methods-pay-satus .graph-wrap:first-child ~ .graph-wrap{width:calc(100% - 480px);box-sizing:border-box;border-left:1px solid #e6e6e6;padding:0 40px 0 30px}
.section-group.methods-pay-satus .graph-wrap{margin:0}
.section-group.size-half .graph-wrap{width:50%;box-sizing:border-box;padding:0 35px 0 30px;margin:0}
.section-group.size-half .graph-wrap ~ .graph-wrap{border-left:1px solid #e6e6e6}

.section-group .table-wrap{display:inline-block;width:735px;padding-left:30px;box-sizing:border-box;vertical-align:top}
.section-group .table-wrap .board-list{margin-top:60px;border-bottom:0}
.graph-wrap{display:inline-block;vertical-align:top;border-right:1px solid #e6e6e6;margin:-20px 0;}
.member-sales-status .graph-wrap.fix-size425{width:425px;padding:20px 25px 25px 0}
.member-sales-status .graph-wrap.size-auto{width:calc(100% - 1170px);padding:20px 25px 25px}
.member-sales-status .graph-wrap .graph-area{height:230px;margin-top:30px}

.section-group.comp-status{border:none;box-shadow:none;padding:60px 0 0}
.section-group.comp-status > .left-group{border:0;width:760px;margin-right:50px;padding-right:50px;box-sizing:border-box}
.section-group.comp-status .right-group.size-lg{width:calc(100% - 810px);height:500px;margin-top:60px;padding-left:0}
.section-group.comp-status .right-group.size-lg .graph-area{width:100%;height:494px}
.section-group.comp-status .summary-group:first-child{margin-top:-60px}

/* 지울꺼 */
.graph-area{background:greenyellow;font-size:13px}