@charset "utf-8";
html, body, td, select, div, form, textarea, center, option, pre, blockquote, form, fieldset, h1, h2, h3, h4, h5, form, p, ol, ul, li, dl, dt, dd {
  font-family: 'Nanum Gothic', 'Droid Sans', 'Apple-Gothic', sans-serif;
  font-size: 13px;
  color: #000;
  line-height: 150%;
  border: 0;
  padding: 0px;
  margin: 0px;
  letter-spacing: -0.1px;
}

span, button, input {
  margin: 0;
  padding: 0;
  border: 0 none;
}

em {
  font-style:normal;
}

ol, ul, li, dl, dt, dd {
  list-style: none;
}

img {
  border: 0 none;
  -ms-interpolation-mode: bicubic;
  /* IE 7에서 이미지를 축소/확대시 계단현상이 생기는 것을 방지 */
}

a, img, input, select {
  vertical-align: middle;
}

/*a,img,input,select	{word-wrap:expression( this.style.wordWrap="normal",this.hideFocus=true);}*/

button {
  border: 0 none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  *overflow: visible;
  vertical-align: middle;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table, th, td {
  word-break: break-all;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 none;
}

caption {
  display: none;
}

form {
  margin: 0;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

legend {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0
}

button, input, select, textarea {
  font-size: inherit;
  color: inherit;
  margin: 0;
  vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
  /* IE 7에서 텍스트 입력에 영향을 주지 않고 내부 간격을 제거하는 핵 */
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* IE 8/9에서 box sizing 속성값을 content-box에서 border-box로 변경 */
  padding: 0;
  /* IE 8/9에서 패딩 제거 */
  *height: 13px;
  /* IE 7에서 핵을 이용해 패딩 제거 */
  *width: 13px;
  /* IE 7에서 핵을 이용해 패딩 제거 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 사파리 5와 크롬에서 텍스트 입력이 가능하게 설정 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 콘텐츠 영역만큼의 크기만 설정하도록 content-box 설정 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 맥의 OS X기반의 사파리 5와 크롬의 내부 패딩과 검색 취소 버튼을 제거 */

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 파이어폭스용 버튼 내부패딩없애기  */

textarea {
  overflow: auto;
  /* IE 6/7/8/9의 textarea 요소에 기본 지정된 세로 스크롤 제거 */
  vertical-align: top;
  /* 모든 브라우저에서 가독성 향상과 정렬을 위함 */
  resize: none;
}

a, input[type=button], button {
  font-family: '돋움', dotum;
}

a {
  border: 0 none;
  color: inherit;
  *color: #000;
  text-decoration:none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

/* html5  reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

blockquote {
  margin: 0;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

/* IE 9에서 svg 요소가 영역의 크기를 벗어나지 않도록 설정 */

figure {
  margin: 0;
}

/** COMMON **/

html {
  height: 100%;
}

body {
  height: 100%;
}

.hidden {
  display: none;
}

.tLeft {
  text-align: left;
}

.tRight {
  text-align: right;
}

.tCenter {
  text-align: center;
}

/** COLOR **/

.blue {
  color: #0A01CE;
}

.green {
  color: #297902;
}

.orange {
  color: #ff9c00;
}

.blueb {
  color: #0A01CE;
  font-weight: bold;
}

.redb {
  color: #FD3001;
  font-weight: bold;
}

.greenb {
  color: #0A01CE;
  font-weight: bold;
}

.red {
  color: #dc4041;
}

.gray {
  color: #999999;
}

.use {
  color: #dc4041;
  font-weight: bold;
}

.ok {
  color: #dc4041;
  font-weight: bold;
}

.no {
  color: #999999;
  font-weight: bold;
}

.w98 {
  width: 98%;
}

.tab_menu {width:100%;background:url(../images/common/bg_tab.gif) repeat-x 0 100%;display:inline-block; list-style:none;}
.tab_menu li.li_left{ _display:inline;float:left;margin-right:-1px;background:url(../images/common/bg_tab_right.gif) 100% 0 no-repeat}
.tab_menu li.li_left span{display:block}
.tab_menu li.li_left a{display:block;_float:left;height:19px;padding:9px 19px 0 18px;background:url(../images/common/bg_tab_left.gif) 0 0 no-repeat;color:#666;line-height:14px;text-decoration:none; cursor:pointer}
.tab_menu li.li_left a:hover{color:#333}
.tab_menu li.li_left.selected{background-position:100% -28px}
.tab_menu li.li_left.selected a{background-position:0 -28px;color:#333;font-weight:bold;letter-spacing:-1px}
.tab_menu li.li_right {float: right;}

/* 파일업로드 css */
div.swfUpload { width:98%; background-color:#f8f8f8; border:1px solid #dcdcdc; padding:5px; }
div.swfUpload div.fieldset { border: 1px solid #afe14c; margin: 10px 0; padding: 10px 0 5px 0;}	
div.swfUpload div.swfUploadBtn {text-align:left; padding-top:5px;}
div.swfUpload input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */
div.swfUpload div.flash {
	width: 100%;
	/*
	margin: 10px 5px;
	*/
	border-color: #D9E4FF;
	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;
}
div.swfUpload #btnSubmit { margin: 0 0 0 155px ; }

div.swfUpload .progressWrapper {width: 100%; overflow: hidden;}

div.swfUpload .progressContainer {margin: 1px 5px 1px 5px; padding: 4px; border: solid 1px #E8E8E8; background-color: #F7F7F7; overflow: hidden;}
div.swfUpload .progressContainer ul.fileInfo {list-style: none; overflow:hidden;}
div.swfUpload .progressContainer ul.fileInfo li.upfileName {float:left; width:50%; overflow:hidden;}
div.swfUpload .progressContainer ul.fileInfo li.upfileStatus {float:right; width:100px; overflow:hidden;}
div.swfUpload .progressContainer ul.fileInfo li.upfileBtn {float:right; width:30px; overflow:hidden;}
div.swfUpload .progressContainer .upfileStatusName { position:relative; font-weight:bold; font-size: 7pt; font-weight: 700; color: #000; margin-top:-12px; text-align:center;}
div.swfUpload .progressContainer .upfileStatusBar { position:relative; height:14px; background-color:#98acf6; width:0%;}
div.swfUpload .message {margin: 1em 0; padding: 10px 20px; border: solid 1px #FFDD99; background-color: #FFFFCC; overflow: hidden;}
/* Error */
div.swfUpload .red {border: solid 1px #B50000; background-color: #FFEBEB;}
/* Current */
div.swfUpload .green {border: solid 1px #DDF0DD; background-color: #EBFFEB;}
/* Complete */
div.swfUpload .blue {border: solid 1px #CEE2F2; background-color: #F0F5FF;}

div.swfUpload .progressName {font-size: 8pt; font-weight: 700; color: #555; width: 323px; height: 14px; text-align: left; white-space: nowrap; overflow: hidden;}
div.swfUpload .progressBarInProgress,
div.swfUpload .progressBarComplete,
div.swfUpload .progressBarError { font-size: 0; width: 0%; height: 2px; background-color: blue; margin-top: 2px;}
div.swfUpload .progressBarComplete { width: 100%; background-color: green; visibility: hidden;}
div.swfUpload .progressBarError { width: 100%; background-color: red;visibility: hidden;}
div.swfUpload .progressBarStatus { margin-top: 2px; width: 200px; font-size: 7pt; text-align: left; white-space: nowrap;}
div.swfUpload a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../js/upload/images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}
div.swfUpload a.progressCancel:hover { background-position: 0px 0px; }
div.swfUpload .swfupload { vertical-align: top;}
div.swfUpload .dl_progress { overflow: hidden}
div.swfUpload .dt_progress { float: left;}
div.swfUpload .dd_progress { float: right;}
/* 파일업로드 css */

/* [s] product search */
table.table_search {width: 100%;}
table.table_search tbody tr.tr_line th,
table.table_search tbody tr.tr_line td {border-top: 1px solid #dcdcdc; height:0px; padding:0px;}
table.table_search tbody th {padding:5px; background:#e7edf4; text-align: center; border-bottom: 1px solid #dcdcdc;}
table.table_search tbody th:first-child {border-left: 2px solid #dcdcdc}
table.table_search tbody td {padding:2px 0px 2px 5px; text-align: left; border-bottom: 1px solid #dcdcdc}
table.table_search tbody td.td_end {border-right: 2px solid #dcdcdc}
table.table_search tbody td .i_label_text {}
table.table_search tbody td .i_label {position:absolute; visibility:visible; color: #999999; padding-left:5px;margin-top: 3px;}
table.table_search tfoot td {padding:5px; text-align: left;}
table.table_search tfoot td.search_btn {padding:5px; text-align: right;}
table.table_search tfoot td .span_record_cnt,
table.table_search tfoot td .span_page_cnt {color:#ff9922; font-weight: bold;}

div.search_wrap {text-align:center; padding:5px; background:#e7edf4; border: 2px solid #dcdcdc}
div.search_wrap dl {overflow:hidden; width:auto; padding:3px 0 0 0; min-height:27px;}
div.search_wrap dl dt {float:left; min-width:50px; text-align:left; margin-left:10px; overflow:hidden; min-height:24px; line-height:24px;}
div.search_wrap dl dd {float:left; padding-right:10px; text-align:left; overflow:hidden; min-height:24px; line-height:24px;}
div.search_wrap dl dd.search_btn {float:right; text-align:right}
div.search_wrap dl.total_info {padding-top:10px;}
div.search_wrap dl.total_info dt, 
div.search_wrap dl.total_info dd {font-weight: bold; padding-right:20px;}
div.search_wrap dl.total_info span.list_total_cnt,
div.search_wrap dl.total_info span.list_total_sum {color : #ff0000}
div.search_wrap dl.total_info2 {}
div.search_wrap dl.total_info2 dt, 
div.search_wrap dl.total_info2 dd {font-weight: bold; padding-right:20px;}
div.search_wrap dl.total_info2 span.list_total_cnt,
div.search_wrap dl.total_info2 span.list_total_sum {color : #ff0000}
div.search_wrap .i_label_text {}
div.search_wrap .i_label {position:absolute; visibility:visible; color: #999999; padding-left:5px; }
/* [e] search */

.strike {text-decoration: line-through;}

#pop_wrap{
  height:100%;
  background-color:#fff;
}

.nscroll{
	max-height:100vh !important;
	overflow:hidden !important;
}