@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body,html,header,footer,aside,nav,section,article,details,figure,figcaption,menu,div,dl,dd,ol,ul,li,form,fieldset,legend,iframe,table,caption,thead,tfoot,tbody,tr,th,td,h1,h2,h3,h4,h5,h6,dt,summary,input,textarea,button,select,datalist,img,embed,object,canvas,audio,video,meter,progress,keygen,a,label,output,dialog,address,blockquote,p,pre,span,b,strong,i,em,dfn,var,u,ins,s,del,q,mark,small,sub,sup,abbr,bdi,bdo,cite,time,rp,rt,code,kbd,samp,acronym,big,frame,frameset,noframes,tt,map,option,hr,*{border:0;padding:0;margin:0;color:inherit;font-size:inherit;line-height:inherit;vertical-align:top}
body{font-family:'Noto Sans KR','맑은고딕',Malgun Gothic,dotum,'돋움', arial, sans-serif;font-size:16px;overflow-y:auto;color:#252525}
header,footer,aside,nav,section,article,details,summary,figure,figcaption,menu,command{display:block}
applet,basefont,dir,strike{display:none}
q,blockquote{quotes:none;content:none}
li,menu{list-style:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
caption{text-align:left}
th,td{text-align:center;vertical-align:middle}
address{font-style:normal}
label{display:inline-block;*zoom:1}
a{text-decoration:none;}
button{cursor:pointer;}

a:hover, a:active, a:focus{text-decoration:none;}

em{font-style:normal;}
img{max-width:100%;}
fieldset {margin:0;padding:0;border:0;font-size:100%;}
legend {overflow:hidden;position:absolute;top:0;left:-10000%;width:1px;height:1px;font-size:0;line-height:0;text-indent:-10000px;}
button{cursor:pointer}

table td a{text-decoration:none;}
table td a:hover, table td a:active, table td a:focus{text-decoration:none;}
table th a{text-decoration:none;}
table th a:hover, table th a:active, table th a:focus{text-decoration:none;}

input[type="text"], input[type="password"]{border:1px solid #e3e3e3;height:28px;line-height:28px;padding-left:10px}
select{border:1px solid #e3e3e3;height:30px;line-height:30px;padding-left:10px}

.blind{position:absolute;width:0;height:0;left:0;top:0;font-size:0;line-height:0;overflow:hidden}
.hidden{width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden}
.textHidden{font-size:0;line-height:0;text-indent:-99999em}

.header{min-width:1000px;height:109px;background:#1a1a1c;width:100%;padding:53px 93px 0;box-sizing:border-box;position:relative}
.header:after{content:"";width:100%;height:1px;background:#ddddde;position:absolute;left:0;bottom:-45px}
.header .util{position:absolute;top:19px;right:93px}
.header .util p{color:#c8c8c8;display:inline-block;}
.header .util p b{color:#fff;}
.header .util .logout{position:relative;top:2px}
.header .gnb{position:absolute;right:93px;top:59px;font-size:0}
.header .gnb > li{display:inline-block;padding:0 8px;line-height:30px}
.header .gnb > li:last-child{padding-right:0}
.header .gnb > li > a{color:#c8c8c8;display:block;padding:0 3px 20px;line-height:30px;font-weight:500;position:relative;font-size:16px}
.header .gnb > li > a.on{color:#fff;position:relative;}
.header .gnb > li > a.on:before{content:"";width:100%;height:4px;background:#f00;position:absolute;left:0;bottom:0}
.header .gnb > li ~ li > a:after{content:"";width:4px;height:4px;background:#c8c8c8;border-radius:2px;position:absolute;top:13px;left:-10px;}
.header .gnb > li:nth-child(2) ~ li .depth{right:0}
.header .gnb .depth{position:absolute;width:auto;display:none;}
.header .gnb .depth > li{display:inline-block;}
.header .gnb .depth > li a{display:block;color:#646464;line-height:44px;padding:0 16px;font-size:16px}
.header .gnb .depth > li a:hover, .header .gnb .depth > li a.on{color:#a60000;font-weight:500}
.header .gnb > li a.on + .depth{display:block}

.footer{height:57px;text-align:center;line-height:57px;background:#191919}
.footer p{font-size:12px;color:#fff}
.footer p b{color:#f00}

.container{padding:93px;min-height:600px;min-width:1000px}
.location{text-align:right}
.location a{display:inline-block;color:#555;line-height:24px}
.location span{display:inline-block;color:#555;margin-left:5px;padding-left:9px;background:url(../images/blick_location.png) no-repeat 0 50%;line-height:24px}

.content{margin-top:-24px}
.pageTitle{font-size:24px;color:#252525;padding-bottom:12px;border-bottom:2px solid #393939}
.pageTitle + .titFront{margin-top:31px}

.detailSearch{margin:45px 0 90px;padding-top:18px;box-shadow:2px 0 5px rgba(55,62,71, .1);}
.detailSearch .title{padding-left:20px;color:#555;font-weight:bold}
.detailSearch .searchWrap{border:1px solid #f6f6f6;border-top:1px solid #c8c8c8;padding:10px 0;border-radius:0 0 8px 8px;margin-top:12px}

.detailSearch .searchItem{height:27px;line-height:27px;display:inline-block;padding:8px 0 6px}
.detailSearch .searchItem em{display:inline-block;padding:0 14px 0 30px}
.detailSearch .searchItem em ~ div{display:inline-block}
.detailSearch .searchItem .inp input{height:25px;line-height:25px;border:1px solid #e3e3e3;border-radius:2px;width:200px;padding-left:7px}
.detailSearch .searchItem .select select{height:27px;line-height:27px;border:1px solid #e3e3e3;border-radius:2px;width:160px;padding-left:7px}
.detailSearch .btnInquiry{width:140px;height:36px;background:#a60000;text-align:center;color:#fff;vertical-align:middle;position:relative;top:8px;margin-left:10px}
.detailSearch.sizeType2 .searchWrap{padding:15px 42px 13px}
.detailSearch.sizeType2 em{line-height:36px}
.detailSearch.sizeType2 .inp input{height:34px;line-height:34px;}
.detailSearch.sizeType2 .searchItem{height:36px;}
.detailSearch.sizeType2 em{background:#f6f6f6;padding:0;width:140px;text-align:center;margin-right:5px}

.detailSearch2{margin-top:30px;padding:12px 0;background:#f6f6f6;box-shadow:2px 0 5px rgba(55,62,71, .1);}
.detailSearch2 .select select{width:100%;height:36px;border-radius:2px;border:1px solid #e3e3e3;}

.detailSearch2 .searchItem{line-height:36px;}
.detailSearch2 .searchItem{display:inline-block}
.detailSearch2 .searchItem em{display:inline-block;padding:0 14px 0 30px}
.detailSearch2 .searchItem em ~ div{display:inline-block}
.detailSearch2 .btn{width:80px;text-align:center;line-height:32px;background:#464646;font-size:14px;color:#fff;display:inline-block;margin-left:9px;position:relative;top:1px;border-radius:6px;}
.detailSearch2 .btnRight{float:right;margin-right:25px;text-align:center;width:190px;height:32px;line-height:32px;color:#fff;font-size:14px;background:#322f2a;border-radius:6px}

.titFront{overflow:hidden;}
.titFront .down{display:inline-block;font-size:14px;color:#252525;border:1px solid #f2f2f2;border-radius:4px;padding:0 48px 0 13px;line-height:30px;position:relative;}
.titFront .down:after{content:"";width:13px;height:13px;background:url(../images/ico_dw.png) no-repeat;position:absolute;top:8px;right:11px}
.sideBtn{float:right}
.sideBtn .btn{display:inline-block;font-weight:500;color:#fff;text-align:center;height:32px;line-height:32px;padding:0 12px;border-radius:4px}
.sideBtn .btn.btnDefault{background:#464646}
.sideBtn .btn.btnRed{background:#f60404}
.sideBtn .btn.btnBlack{background:#000}
.sideBtn .btn.arrB span{display:inline-block;padding-right:16px;position:relative;}
.sideBtn .btn.arrB span:after{content:"";width:9px;height:5px;background:url(../images/ico_arrB.png) no-repeat;position:absolute;top:calc(50% - 3px);right:0;}
.sideBtn .btn.arrT span{display:inline-block;padding-right:16px;position:relative;}
.sideBtn .btn.arrT span:after{content:"";width:9px;height:5px;background:url(../images/ico_arrB.png) no-repeat;position:absolute;top:calc(50% - 3px);right:0;transform:rotate(180deg)}



.titFront + .tableCol{margin-top:14px}

.tableCol table{border-top:1px solid #1b1b1b;}
.tableCol thead th{background:#f8f8f8;border-bottom:1px solid #d1d1d1;font-size:14px;color:#252525;padding:10px 0;line-height:20px}
.tableCol thead th ~ th{border-left:1px solid #d1d1d1;}
.tableCol tbody td{border-bottom:1px solid #d1d1d1;font-size:14px;color:#555;font-weight:500;padding:10px 0;line-height:20px}
.tableCol tbody td ~ td{border-left:1px solid #d1d1d1}

.tableRow{margin-top:45px}
.tableRow table{border-top:1px solid #1b1b1b;}
.tableRow tbody th{text-align:left;padding:10px 0 10px 10px;background:#f8f8f8;border-bottom:1px solid #d1d1d1;font-size:14px;color:#252525;line-height:20px}
.tableRow tbody td{text-align:left;padding:5px 0 5px 10px;border-bottom:1px solid #d1d1d1;border-left:1px solid #d1d1d1;font-size:14px;color:#555;font-weight:500;line-height:30px}
.tableRow tbody td ~ td{border-left:1px solid #d1d1d1}
.tableRow input[type="password"], .tableRow input[type="text"]{width:237px}
.tableRow .birth select{width:85px;}
.tableRow .birth select ~ select{width:60px}
.tableRow .birth span{display:inline-block;padding:0 10px 0 5px}
.tableRow .zipCode input[type="text"]{width:75px}
.tableRow .btnTbl{display:inline-block;margin-left:2px;padding:0 13px;height:30px;line-height:30px;color:#fff;background:#959595}
.tableRow .item{margin-top:5px}
.tableRow .tel select{width:60px}
.tableRow .tel input{width:48px}
.tableRow .tel span{display:inline-block;}
.tableRow .chk input{vertical-align:middle;margin-right:5px}

.tblInfoText{display:inline-block;margin-left:10px}

.loginWrap{width:100%;height:100%;background:linear-gradient(1800deg, rgba(35,35,35,1) 0%, rgba(77,77,77,1) 100%);z-index:1}

.dimm{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background:rgba(0,0,0,.8);box-sizing:border-box;}
.popup{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index:10;border:1px solid #e7e7e7;background:#f8f8f8;padding-bottom:55px;}
.popup h2{padding-left:30px;height:60px;line-height:60px;border-bottom:1px solid #d9d9d9;font-size:18px;color:#1a1a1c}
.popup .popupClose{width:16px;height:16px;text-indent:-99999em;position:absolute;top:25px;right:41px;background:url(../images/popup_close.png) no-repeat}
.popupCont{padding:22px 32px 42px;position:relative;}
.popupCont:after{width:calc(100% - 64px);height:1px;background:#d9d9d9;position:absolute;left:32px;bottom:0;content:""}
.popup.sizeS .popupCont{padding:11px 15px 17px 30px;}
.popup.sizeS .popupCont:after{width:100%;left:0}
.popup.sizeS .popupClose{right:30px}

.popTR_register{background:#f8f8f8;width:745px;}
.popTR_register .tsList li ~ li{margin-top:4px}
.popTR_register .tsList .title{display:inline-block;width:120px;color:#252525;font-size:18px;line-height:36px;}
.popTR_register .tsList .text{display:inline-block}
.popTR_register input[type="text"]{width:170px;height:36px;line-height:34px;padding-left:15px;box-sizing:border-box;border:1px solid #e3e3e3;border-radius:2px}
.popTR_register .selectBox select{width:170px;border:1px solid #e3e3e3;height:38px;border-radius:2px;}
.popTR_register .trAdd{display:inline-block;width:170px;height:36px;line-height:36px;border-radius:2px;background:#393939;color:#fff;font-size:14px;text-align:center;}
.popTR_register .trAdd span{display:inline-block;padding-right:20px;position:relative}
.popTR_register .trAdd span:after{content:"";position:absolute;top:11px;right:0;width:15px;height:15px;border-radius:50%;background:#fff;z-index:5;}
.popTR_register .trAdd span:before{content:"+";position:absolute;top:0;right:0;width:15px;height:15px;color:#393939;z-index:10}

.popP_datilInfo{width:320px;padding-bottom:13px}
.popP_datilInfo .list li{display:table;width:100%}
.popP_datilInfo .list li ~ li{margin-top:9px}
.popP_datilInfo .list li .title{display:table-cell;width:109px;vertical-align:middle;line-height:20px;}
.popP_datilInfo .list li .text{display:table-cell;width:calc(100% - 109px)}
.popP_datilInfo .list li .line{display:inline-block;width:160px;border-bottom:1px solid #d1d1d1;height:35px;line-height:35px}
.popP_datilInfo .selectBox{width:100%}
.popP_datilInfo .selectBox select{display:block;width:100%;height:38px;line-height:38px;}

.btnBox{margin-top:28px;text-align:center;}
.btnBox.alignRight{text-align:right;padding-right:18px;margin-top:14px}
.btnBox .btn{display:inline-block;border:1px solid #ccc;border-radius:6px;width:60px;height:32px;line-height:30px;margin:0 2px}
.btnBox .btn.btnRed{color:#fff;background:#f60404;}
.btnBox .btn.btnDefault{background:#fff;color:#252525;}
.btnBox .btn.sizeM{width:80px}


.loginCont{width:500px;height:460px;padding:30px 35px 0;box-sizing:border-box;background:#fff url(../images/bg_login.png) repeat-x;text-align:center;margin:160px auto 170px}
.loginCont h2{font-size:26px;color:#1f1f1f;}
.loginCont em{display:inline-block;margin-top:20px;font-size:22px;color:#1f1f1f;line-height:32px;padding-left:36px;background:url(../images/ico_lock.png) no-repeat}
.loginCont .form{margin-top:50px;text-align:left;}
.loginCont .form label{display:block;font-size:16px;color:#555;}
.loginCont .form input{border:1px solid #e2e2e2;height:46px;box-sizing:border-box;line-height:44px;width:100%;padding-left:15px;display:block;margin-top:6px;}
.loginCont .form .inpItem ~ .inpItem{margin-top:12px}
.loginCont .btnLogin{margin-top:30px;display:block;line-height:50px;border-radius:6px;background:#a60000;color:#fff;font-weight:bold;font-size:20px;width:100%}

.btnArea{text-align:center;margin-top:40px}
.btnArea .btn{display:inline-block;padding:0 6px;margin:0 4px;color:#fff;font-weight:bold;border-radius:6px;line-height:32px}
.btnArea .btn.btnSizeS{width:100px}
.btnArea .btn.btnSizeM{width:120px}
.btnArea .btn.btnDefault{background:#464646;}

.personList{margin:65px 100px 0;border:1px solid #d1d1d1;padding:42px;text-align:center;}
.personList strong{display:inline-block;font-size:36px;color:#252525;}
.personList .info{margin-top:30px}
.personList .info li{display:inline-block;font-size:20px;color:#252525;margin:0 75px}
.personList .info li span{display:inline-block;padding:0 5px 10px 0;border-bottom:1px solid #000;}
.personList .list{font-size:0}
.personList .list li{display:inline-block;margin:30px 37px 0}
.personList .list li figure{display:block;width:140px;height:180px;overflow:hidden;border:1px solid #e6e6e6;}
.personList .list li figure img{display:block;width:100%}
.personList .list li em{display:block;font-size:18px;color:#252525;font-weight:bold;margin-top:16px}
.personList .list li span{display:block;margin-top:8px;font-size:16px}

.tableOverScroll{overflow-x:auto;margin-top:22px}
.tableOverScroll table{table-layout:fixed}
.tableOverScroll table th{white-space:nowrap;}

.nowStatus{border-bottom:1px solid #e3e3e3;margin-top:50px;padding:0 0 19px 5px}
.nowStatus em{display:inline-block;font-size:16px;color:#252525;line-height:26px;margin-right:5px;}
.nowStatus .num{display:inline-block;min-width:54px;border-radius:13px;color:#fff;line-height:26px;text-align:center;padding:0 12px;margin-right:24px}
.nowStatus .num.black{background:#1a1a1c}
.nowStatus .num.wine{background:#a60000}

.nowStatus ~ .tableCol{margin-top:34px}
.tableCol .front{overflow:hidden;}
.stitle{font-size:20px;color:#252525;font-weight:bold;display:inline-block;padding-left:15px;position:relative;line-height:1}
.stitle:after{content:"";width:5px;height:20px;background:#f00;position:absolute;top:0;left:0;}
.btnMove{float:right;}


.profileP{width:1600px;top:50%;left:50%;padding:70px 38px;background:#fff;overflow-y:auto;max-height:70vh}
.profileP .title{display:block;font-size:30px;color:#010101;text-align:center;margin-bottom:-5px}
.profileP .popupCont{padding:0;font-size:16px}
.profileP .popupCont:after{display:none}
.profileP figure{display:inline-block;width:150px;height:188px;overflow:hidden;}
.profileP .tableRow th{padding:0;text-align:center;font-size:16px}
.profileP .tableRow td{font-size:16px;padding:15px 0 15px 40px;color:#555}
.profileP .tableRow td.tcenter{padding-left:0;text-align:center;}
.btnPrint{background:#ff0202;width:183px;height:50px;line-height:50px;text-align:center;border-radius:0;color:#fff;font-size:20px}
.profileP .close{position:absolute;top:66px;right:44px}
.profileP .bottom{margin-top:20px;display:table;width:100%}
.profileP .bottom .left{display:table-cell;vertical-align:middle;width:400px;text-align:center;}
.profileP .bottom .left span{display:inline-block;vertical-align:middle;}
.profileP .bottom .left .logo1{margin-right:30px}
.profileP .bottom .img{display:table-cell;vertical-align:middle;text-align:center}
.profileP .bottom .right{display:table-cell;width:400px;text-align:right;padding-right:60px;box-sizing:border-box}

.inList li{line-height:28px;}
.inList li ~ li{margin-top:20px}
.inList li em{display:inline-block;font-size:16px;margin-right:20px;font-weight:bold;}
.inList li .text{display:inline-block;margin-top:0;font-size:16px;}
.inList li .infoText{color:#000;display:block;margin-top:4px;line-height:15px}

.textList{margin:15px 0;display:inline-block;width:48%;font-size:16px}
.textList li{line-height:28px;}

.pointColor{color:#ff0202;}

.dashList > li{position:relative;padding-left:20px;font-size:16px;line-height:34px;}
.dashList > li:after{content:"";width:10px;top:19px;height:1px;background:#707070;position:absolute;left:0;}
.dashList > li ~ li{margin-top:10px;}

.dashText{position:relative;padding-left:20px;font-size:16px;line-height:34px;}
.dashText:after{content:"";width:10px;top:19px;height:1px;background:#707070;position:absolute;left:0;}

.examSchedule{width:1324px;overflow-y:auto;max-height:70vh}
.scheduleModify .group .title{display:block;height:46px;line-height:46px;font-size:16px;color:#fff;background:#000;border-radius:23px;padding-left:23px;}
.scheduleModify .group .inp{display:inline-block;width:250px;height:37px}
.scheduleModify .group .inp.pay{width:220px}
.scheduleModify .group .inp input{width:100%;height:37px;line-height:37px;box-sizing:border-box}
.scheduleModify .group table{margin:25px 0 35px}
.scheduleModify .group th{text-align:left;color:#252525;padding-left:28px}
.scheduleModify .group td{text-align:left;line-height:25px;padding:4px 0;}
.scheduleModify .group td .txt{line-height:37px;display:inline-block}

.scheduleModify .group .chkList{margin:22px 0  49px 30px;}
.scheduleModify .group .chkList li{display:inline-block;}
.scheduleModify .group .chkList li ~ li{margin-left:48px}
.scheduleModify .group .chkList input{opacity:0;position:absolute}
.scheduleModify .group .chkList label{display:inline-block;line-height:26px;position:relative;padding-left:36px;color:#252525;font-size:16px;}
.scheduleModify .group .chkList label:after{width:26px;height:26px;content:"";position:absolute;top:0;left:0;background:url(../images/icoChk.png) no-repeat 0 0}
.scheduleModify .group .chkList input:checked + label:after{background-position:0 -26px}
.scheduleModify .groupMix .group{display:inline-block;width:587px}
.scheduleModify .groupMix .group ~ .group{margin-left:55px}
.scheduleModify .group .chkList.col6 li{width:calc((100% - 30px)/6)}
.scheduleModify .group .chkList.col6 li ~ li{margin-left:0}
.scheduleModify .group .chkList.col6 li:nth-child(6) ~ li{margin-top:10px}






